.tb_common_articleindex-searchhotelbutton{
  position: fixed;
  z-index: 999;
  padding: 0;
  // bottom: -45px;
  right:-128px;
  bottom:68px;
  transition:all .3s;
  a{
    padding: 0;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 128px;
    height: 45px;
  }
  &.is-active{
    right: 8px;
  }
}
