<div class="tb_common_articleindex-tellme--links">
  <h3 class="tb_common_articleindex-tellme--category"><%= param.title %></h3>
  <ul class="tb_common_articleindex-tellme--article-list">
    <% for(var i = 0; i < param.article.length; i++){ %>
    <li>
      <h4 class="tb_common_articleindex-tellme--article-title"><%= param.article[i].title %></h4>
      <div class="tb_common_articleindex-tellme--article-body">
        <figure class="tb_common_articleindex-tellme--article-photo">
          <a href="#"><img data-lazyload="common/images/sightseeing_index/<%= param.photoname %>-<%= i+1 %>.jpg" alt="" width="140" height="106"></a>
        </figure>
        <div class="tb_common_articleindex-tellme--article-contents">
          <%- param.article[i].contents %>
          <div class="tb_common_articleindex-tellme--article-link"><a href="#" class="tb_common_articleindex-textlink--blue">もっと詳しく<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a></div>
        </div>
      </div>
    </li>
    <% } %>
  </ul>
</div>
