.tb_common_articleindex-listmore{
  position: relative;
  &:after{
    content:"";
    height: 50px;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,1));
    pointer-events: none;
  }
  .tb_common_articleindex-tellme--article-list{
    margin-bottom: 0;
  }
  .tb_common_articleindex-tellme--links{
    transition:padding 1s;
  }
  &.is-opened{
    &:after{
      content:none;
    }
    >li{
      &:last-of-type{
        .tb_common_articleindex-tellme--links{
          padding-bottom:0px;
        }
      }
    }
  }
  >li{
    &:last-of-type{
      .tb_common_articleindex-tellme--links{
        padding-bottom:50px;
      }
    }
  }
}
