<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>沖縄のホテル予約｜たびらい沖縄</title>
<meta name="keywords" content="テンプレート">
<meta name="description" content="テンプレートテンプレートテンプレート">
<meta property="og:title" content="テンプレートテンプレートテンプレートテンプレート">
<meta property="og:description" content="テンプレートテンプレートテンプレートテンプレート">
<meta property="og:url" content="http://www.tabirai.net/s/sightseeing/template/template.aspx">
<meta property="og:type" content="article">
<meta property="og:site_name" content="たびらい沖縄">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes" />
<link rel="canonical" href="http://www.tabirai.net/s/sightseeing/template/template.aspx">
<link rel="shortcut icon" type="image/x-icon" href="http://www.tabirai.net/sightseeing/common/images/favicon.ico">
<link rel="stylesheet" type="text/css" href="http://www.tabirai.net/s/common/css/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="http://www.tabirai.net/s/sightseeing/common/css/common.css" />
<link rel="stylesheet" type="text/css" href="http://www.tabirai.net/sightseeing/okinawa/common/css/sphone_special.css" />
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.common.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.socialbutton.js"></script>
<script type="text/javascript" src="http://media.line.me/js/line-button.js?v=20140411"></script>


<!--↓↓こちらに追加のCSS・JSの読み込みタグをお願いいたします↓↓-->

	<link rel="stylesheet" type="text/css" href="common/css/tb_common_articleindex.css" />
<script type="text/javascript" src="common/js/tb_common_articleindex.js"></script>


<!--↑↑こちらに追加のCSS・JSの読み込みタグをお願いいたします↑↑-->

</head>

<body>

<span id="contentsGroup" style="display:none">okinawa</span>
<form method="post" action="template.aspx" id="form1">
<div class="aspNetHidden"></div>
<!--header-->
<script src="http://www.tabirai.net/s/common/js/tabirai_header.js"></script>
<script src="http://www.tabirai.net/s/common/js/modal-multi.js"></script>
<link rel="stylesheet" type="text/css" href="http://www.tabirai.net/s/common/css/tabirai_header.css" media="all">
<!-- header -->
<!--header-->
<p class="head__copy">沖縄の魅力を現地から発信する旅行予約サイト</p>
<header id="homelHeader">
    <p class="logoTbr"><a href="http://www.tabirai.net/s/sightseeing/okinawa"></a><span>沖縄</span></p>
    <div class="welcomeMessage"> こんにちは、<br>ゲスト様</div>
</header>
<div id="headerNav">
    <ul class="navBtn">
        <li class="useNav"><a class="modalNav button-link modal-close" data-target="useNavArea"><img src="http://www.tabirai.net/s/common/img/btn_nav_user.png" alt="たびらい会員＆予約確認"></a></li>
        <li class="searchNav"><a class="modalNav button-link modal-close" data-target="searchNavArea"><img src="http://www.tabirai.net/s/common/img/btn_nav_search.png" alt="コンテンツ検索"></a></li>
    </ul>
    <div id="useNavArea" class="headerNavBody modal-content">
        <ul class="navList">
            <li class="li_login"><a href="https://www.tabirai.net/s/member/login.aspx">ログイン</a></li>
            <li class="li_regist"><a href="https://www.tabirai.net/s/member/registration/input.aspx">会員登録</a></li>
            <li class="li_reserve"><a href="https://www.tabirai.net/s/member/reserveInformation.aspx">予約確認・キャンセル</a></li>
            <li class="li_login"><a href="https://www.tabirai.net/s/member/policy.aspx">個人情報保護方針</a></li>
        </ul>
        <div class="closeBtn"><a class="modal-close">閉じる</a></div>
    </div>
    <!-- ** / useNavArea -->
    <div id="searchNavArea" class="headerNavBody modal-content">
        <ul class="navTab clearfix">
            <li class="on"><a href="#" class="tabKey">メインメニュー<span>から検索</span></a></li>
            <li><a href="#" class="tabCategory">カテゴリー<span>から検索</span></a></li>
            <li><a href="#" class="tabPref">都道府県<span>から検索</span></a></li>
        </ul>
        <div id="tabKey" class="tabBody">
	        <ul class="navList">
	            <li><a href="http://www.tabirai.net/s/sightseeing/okinawa/tatsujin/">沖縄観光コラム 達人指南</a></li>
<li><a href="http://www.tabirai.net/s/sightseeing/okinawa/news/">沖縄新着ニュース</a></li>
<li><a href="http://www.tabirai.net/s/sightseeing/okinawa/info/">沖縄 旅の基本情報</a></li>
<li><a href="http://www.tabirai.net/s/sightseeing/okinawa/feature/">沖縄 おすすめ特集</a></li>
<li><a href="http://www.tabirai.net/s/member/mailnews/">たびらい沖縄メールマガジン</a></li>
<li><a href="https://www.facebook.com/okinawafanhiroba/">たびらい沖縄Facebook</a></li>
	        </ul>
        </div>
        <ul class="navList downLayer tabBody" id="tabCategory">
            <li ><a href="http://www.tabirai.net/s/sightseeing/okinawa"><span class="nav__btn--sightseeing"></span>沖縄観光情報</a></li>
            <li ><a href="http://www.tabirai.net/s/tour/okinawa/"><span class="nav__btn--tour"></span>沖縄ツアー予約</a></li>
            <li style="display:none;"><a href="http://option.okitour.net/special/sightseeingbus/"><span class="nav__btn--bus"></span>沖縄バスツアー予約</a></li>
            <li ><a href="http://www.tabirai.net/s/hotel/okinawa/"><span class="nav__btn--hotel"></span>沖縄宿泊予約</a></li>
            <li ><a href="http://car.okitour.net/"><span class="nav__btn--car" ></span>沖縄レンタカー予約</a></li>
            <li ><a href="http://option.okitour.net/"><span class="nav__btn--activity"></span>沖縄アクティビティ予約</a></li>
            <li ><a href="http://www.tabinchu.net/s/"><span class="nav__btn--tabicata"></span>たびカタログ</a></li>
            <li><a href="/">たびらいHOME</a></li>
        </ul>
        <div id="tabPref" class="tabBody">
            <select id="selectPref">
                <option selected="selected">都道府県を選択</option>
                <option value="http://www.tabirai.net/s/sightseeing/hokkaido/">北海道</option>
                <option value="http://www.tabirai.net/s/car/aomori/">青森</option>
                <option value="http://www.tabirai.net/s/car/iwate/">岩手</option>
                <option value="http://www.tabirai.net/s/car/miyagi/">宮城</option>
                <option value="http://www.tabirai.net/s/car/akita/">秋田</option>
                <option value="http://www.tabirai.net/s/car/yamagata/">山形</option>
                <option value="http://www.tabirai.net/s/car/fukushima/">福島</option>
                <option value="http://www.tabirai.net/s/car/tokyo/">東京</option>
                <option value="http://www.tabirai.net/s/car/kanagawa/">神奈川</option>
                <option value="http://www.tabirai.net/s/car/chiba/">千葉</option>
                <option value="http://www.tabirai.net/s/car/saitama/">埼玉</option>
                <option value="http://www.tabirai.net/s/car/gunma/">群馬</option>
                <option value="http://www.tabirai.net/s/car/tochigi/">栃木</option>
                <option value="http://www.tabirai.net/s/car/ibaraki/">茨城</option>
                <option value="http://www.tabirai.net/s/car/niigata/">新潟</option>
                <option value="http://www.tabirai.net/s/car/nagano/">長野</option>
                <option value="http://www.tabirai.net/s/car/yamanashi/">山梨</option>
                <option value="http://www.tabirai.net/s/car/aichi/">愛知</option>
                <option value="http://www.tabirai.net/s/car/gifu/">岐阜</option>
                <option value="http://www.tabirai.net/s/car/mie/">三重</option>
                <option value="http://www.tabirai.net/s/car/shizuoka/">静岡</option>
                <option value="http://www.tabirai.net/s/car/toyama/">富山</option>
                <option value="http://www.tabirai.net/s/car/ishikawa/">石川</option>
                <option value="http://www.tabirai.net/s/car/fukui/">福井</option>
                <option value="http://www.tabirai.net/s/sightseeing/osaka/">大阪</option>
                <option value="http://www.tabirai.net/s/sightseeing/kyoto/">京都</option>
                <option value="http://www.tabirai.net/s/sightseeing/hyogo/">兵庫</option>
                <option value="http://www.tabirai.net/s/sightseeing/nara/">奈良</option>
                <option value="http://www.tabirai.net/s/sightseeing/shiga/">滋賀</option>
                <option value="http://www.tabirai.net/s/sightseeing/wakayama/">和歌山</option>
                <option value="http://www.tabirai.net/s/car/tottori/">鳥取</option>
                <option value="http://www.tabirai.net/s/car/shimane/">島根</option>
                <option value="http://www.tabirai.net/s/car/okayama/">岡山</option>
                <option value="http://www.tabirai.net/s/car/hiroshima/">広島</option>
                <option value="http://www.tabirai.net/s/car/yamaguchi/">山口</option>
                <option value="http://www.tabirai.net/s/car/tokushima/">徳島</option>
                <option value="http://www.tabirai.net/s/car/kagawa/">香川</option>
                <option value="http://www.tabirai.net/s/car/ehime/">愛媛</option>
                <option value="http://www.tabirai.net/s/car/kochi/">高知</option>
                <option value="http://www.tabirai.net/s/sightseeing/fukuoka/">福岡</option>
                <option value="http://www.tabirai.net/s/sightseeing/saga/">佐賀</option>
                <option value="http://www.tabirai.net/s/sightseeing/nagasaki/">長崎</option>
                <option value="http://www.tabirai.net/s/sightseeing/kumamoto/">熊本</option>
                <option value="http://www.tabirai.net/s/sightseeing/oita/">大分</option>
                <option value="http://www.tabirai.net/s/sightseeing/miyazaki/">宮崎</option>
                <option value="http://www.tabirai.net/s/sightseeing/kagoshima/">鹿児島</option>
                <option value="http://www.tabirai.net/s/sightseeing/okinawa/">沖縄</option>
            </select>
        </div>
        <div class="closeBtn"><a class="modal-close">閉じる</a></div>
    </div>
    <!-- ** / searchNavArea -->
    <div id="activityNav">
        <div class="inner">
            <div class="ttl nav__btn--activity">アクティビティ</div>
            <p>ご覧になるエリアを選択してください。</p>
            <ul class="activityBtn clearfix">
                <li><a href="http://opt.hokkaidotour.net/">北海道</a></li>
                <li><a href="http://option.okitour.net/">沖縄</a></li>
            </ul>
        </div>
    </div>
    <!-- ** / activityNav -->
</div>
<!--/#headerNav-->
<div id="menuNav" class="downLayer">
    <div class="ttl nav__btn--sightseeing">推し宿®予約</div>
</div>
<!--/#menuNav-->
<!-- header End -->
<div id="page-top"><p><a id="move-page-top">▲トップへ戻る</a></p></div><!--/#page-top-->



<div id="">
<!--↓↓こちらにコーディングをお願いいたします↓↓-->
<div class="tb_common_articleindex-main_image">
	<figure class="tb_common_articleindex-main_image--image">
		<div class="tb_common_articleindex-main_image--picture"><img src="../common/images/tb_common_articleindex/s/picture.png" alt="ローカル案内役がおすすめ！" width="127"></div>
	</figure>
	<div class="tb_common_articleindex-main_image--title">
		<h1 class="tb_common_articleindex-main_image--title-headline">推し宿®予約</h1>
		<p class="tb_common_articleindex-main_image--title-text">ローカル案内役が取材&提案<br>「あなただけの旅しおり」を無料で作成</p>
	</div>
</div>

<section id="searchhotel" class="tb_common_articleindex-searchhotel">
	<h2 class="tb_common_articleindex-headline-1">ホテルを探す</h2>
	<p class="tb_common_articleindex-subtitle-1">バケーションに適した厳選200宿を掲載！</p>
	<dl class="tb_common_articleindex-searchbox">
		<dt>
			宿泊<br>エリア
		</dt>
		<dd class="tb_common_articleindex-searchbox-inputbox">
			<select name="ctl00$contentMain$index_top_search$AREA" id="" class="tb_common_articleindex-searchbox--inputform">
				<option value="">指定なし</option>
				<option value="1">■那覇・本島南部</option>
				<option value="14">├那覇</option>
				<option value="15">└南城・糸満・その他</option>
				<option value="2">■本島中部</option>
				<option value="16">├北谷・読谷</option>
				<option value="17">└宜野湾・沖縄市・その他</option>
				<option value="3">■本島北部</option>
				<option value="4">├恩納村</option>
				<option value="5">├名護</option>
				<option value="6">└本部・今帰仁・その他</option>
				<option value="7">■八重山諸島全域</option>
				<option value="8">├石垣島</option>
				<option value="9">└西表島・竹富島・その他</option>
				<option value="10">■宮古島</option>
				<option value="11">■本島周辺離島全域</option>
				<option value="12">├久米島・その他</option>
				<option value="13">└慶良間諸島</option>
			</select>
		</dd>
	</dl>
	<dl class="tb_common_articleindex-searchbox">
		<dt>日程</dt>
		<dd class="tb_common_articleindex-searchbox-inputbox">
			<label class="tb_common_articleindex-searchbox--inputform">
				<div class="tb_common_articleindex-searchbox-inputbox-textsmall">チェックイン</div>
				<input type="date" name="date" value="2017-04-01" class="tb_common_articleindex-searchbox-inputbox-date">
			</label>
		</dd>
		<dd class="tb_common_articleindex-searchbox-inputbox">
			<label class="tb_common_articleindex-searchbox--inputform">
				<div class="tb_common_articleindex-searchbox-inputbox-textsmall">チェックアウト</div>
				<input type="date" name="date" value="2017-04-02" class="tb_common_articleindex-searchbox-inputbox-date">
			</label>
		</dd>
	</dl>
	<dl class="tb_common_articleindex-searchbox">
		<dt>人数</dt>
		<dd class="tb_common_articleindex-searchbox-inputbox">
			<div>
				<select name="ctl00$contentMain$index_top_search$MEMBER1" id="" class="tb_common_articleindex-searchbox--inputform">
					<option value="">大人 0人</option>
					<option value="1">大人 1名</option>
					<option value="2">大人 2名</option>
					<option value="3">大人 3名</option>
					<option value="4">大人 4名</option>
					<option value="5">大人 5名</option>
					<option value="6">大人 6名</option>
					<option value="7">大人 7名</option>
					<option value="8">大人 8名</option>
					<option value="9">大人 9名</option>
				</select>
			</div>
		</dd>
		<dd class="tb_common_articleindex-searchbox-inputbox">
			<div>
				<select name="ctl00$contentMain$index_top_search$MEMBER1" id="" class="tb_common_articleindex-searchbox--inputform">
					<option value="">子ども 0人</option>
					<option value="1">子ども 1名</option>
					<option value="2">子ども 2名</option>
					<option value="3">子ども 3名</option>
					<option value="4">子ども 4名</option>
					<option value="5">子ども 5名</option>
					<option value="6">子ども 6名</option>
					<option value="7">子ども 7名</option>
					<option value="8">子ども 8名</option>
					<option value="9">子ども 9名</option>
				</select>
			</div>
		</dd>
	</dl>
	<dl class="tb_common_articleindex-searchbox">
		<dt>予算</dt>
		<dd class="tb_common_articleindex-searchbox-inputbox">
			<div>
				<select name="ctl00$contentMain$index_top_search$MEMBER1" id="" class="tb_common_articleindex-searchbox--inputform">
					<option value="">下限なし</option>
					<option value="1">子ども 1名</option>
					<option value="2">子ども 2名</option>
					<option value="3">子ども 3名</option>
					<option value="4">子ども 4名</option>
					<option value="5">子ども 5名</option>
					<option value="6">子ども 6名</option>
					<option value="7">子ども 7名</option>
					<option value="8">子ども 8名</option>
					<option value="9">子ども 9名</option>
				</select>
			</div>
		</dd>
		<dd class="tb_common_articleindex-searchbox-inputbox">
			<div>
				<select name="ctl00$contentMain$index_top_search$MEMBER1" id="" class="tb_common_articleindex-searchbox--inputform">
					<option value="">上限なし</option>
					<option value="1">子ども 1名</option>
					<option value="2">子ども 2名</option>
					<option value="3">子ども 3名</option>
					<option value="4">子ども 4名</option>
					<option value="5">子ども 5名</option>
					<option value="6">子ども 6名</option>
					<option value="7">子ども 7名</option>
					<option value="8">子ども 8名</option>
					<option value="9">子ども 9名</option>
				</select>
			</div>
		</dd>
	</dl>
	<input type="button" value="ホテルを検索" class="tb_common_articleindex-button--orange">
	<p>たびらいが予め選んだホテルを電話で相談して選ぶこともできます。</p>
	<a href="#" class="tb_common_articleindex-button--orange">電話で聞く</a>
</section>


<section class="tb_common_articleindex-section-1">
	<h2 class="tb_common_articleindex-headline-2">今、読まれています！<br>旬の推し宿特集</h2>
	<%
		var oshiyadoArticle = [
			{
				"title":"朝食が美味しいと人気の沖縄ホテル５選",
			},
			{
				"title":"プールがすごい！沖縄ホテル５選",
			},
			{
				"title":"子どもが楽しめる沖縄ホテル５選",
			}
		]
	%>
	<% for(var i = 0; i < oshiyadoArticle.length; i++){ %>
	<a href="#" class="tb_common_articleindex-link-1">
		<figure class="tb_common_articleindex-link-photo"><img data-lazyload="../common/images/tb_common_articleindex/s/photo0<%= i+1 %>.jpg" data-lazyload_placeholder="../common/images/lazyload/670x448.gif" alt=""></figure>
		<p class="tb_common_articleindex-link-text-1"><%= oshiyadoArticle[i]["title"] %></p>
	</a>
	<% } %>
	<a href="#" class="tb_common_articleindex-button--blue"><svg class="tb_article_articleframe-common-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg>推し宿特集まとめ</a>
</section>

<section class="tb_common_articleindex-section-1">
	<h2 class="tb_common_articleindex-headline-2">おすすめポイントからホテルを探す</h2>
	<ul class="tb_common_articleindex-section-list">
		<%
			var pointArticle = [
				{
					"title":"沖縄最長の“3月～1月初旬”まで泳げる「ガーデンプール」",
					"area":"恩納村",
					"hotel":"ANAインターコンチネンタル万座ビーチリゾート",
					"price":"8,333"
				},
				{
					"title":"種類豊富でコスパが高い人気のスイーツビュッフェ",
					"area":"那覇",
					"hotel":"ロワジールホテル 那覇",
					"price":"5,625"
				},
				{
					"title":"ビーチとプール、水着のまま行き来ができる！",
					"area":"恩納村",
					"hotel":"リザンシーパークホテル谷茶ベイ",
					"price":"6,900"
				},
				{
					"title":"女性1人でも気軽に食事を楽しめる「DELi」",
					"area":"恩納村",
					"hotel":"カフーリゾートフチャク　コンド・ホテル",
					"price":"8,796"
				},
				{
					"title":"ビーチまでは無料シャトルバスでらくらく移動",
					"area":"恩納村",
					"hotel":"沖縄かりゆしビーチリゾート・オーシャンスパ",
					"price":"5,555"
				}
			]
		%>
		<% for(var i = 0; i < pointArticle.length; i++){ %>
		<li>
			<a href="#" class="tb_common_articleindex-link-1">
				<p class="tb_common_articleindex-link-text-2"><%= pointArticle[i]["title"] %></p>
				<div class="tb_common_articleindex-link-col2">
					<figure class="tb_common_articleindex-link-photo">
						<img data-lazyload="../common/images/tb_common_articleindex/s/point_0<%= i+1 %>.jpg" data-lazyload_placeholder="../common/images/lazyload/268x202.gif" alt="">
						<div class="tb_common_articleindex-area"><%= pointArticle[i]["area"] %></div>
					</figure>
					<div class="tb_common_articleindex-link-info">
						<div class="tb_common_articleindex-name"><%= pointArticle[i]["hotel"] %></div>
						<dl class="tb_common_articleindex-price">
							<dt>1泊1名あたり</dt>
							<dd><span><%= pointArticle[i]["price"] %></span> 円〜（税抜）</dd>
						</dl>
					</div>
				</div>
			</a>
		</li>
		<% } %>
	</ul>
	<a href="#" class="tb_common_articleindex-button--blue"><svg class="tb_article_articleframe-common-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg>もっと見る</a>
</section>

<section class="tb_common_articleindex-section-1">
	<h2 class="tb_common_articleindex-headline-2"><span>[タイアップ] たびらい密着取材</span>ローカル案内役おすすめホテル特集</h2>
	<ul class="tb_common_articleindex-section-list">
		<%
			var tieupArticle = [
				{
					"title":"家族におすすめ！那覇で親子に優しいサービスが充実したリゾートホテル",
					"area":"那覇",
					"hotel":"ロワジールホテル 那覇",
					"price":"5,625"
				},
				{
					"title":"「沖縄のリゾートホテル」といえばココ！沖縄の伝統的ホテル",
					"area":"恩納村",
					"hotel":"ANAインターコンチネンタル万座ビーチリゾート",
					"price":"8,333"
				},
				{
					"title":"１キロの天然ビーチと島の森に囲まれたリゾートヴィラ",
					"area":"恩納村",
					"hotel":"JALプライベートリゾートオクマ",
					"price":"6,027"
				},
				{
					"title":"記念日におすすめ！大自然に囲まれた楽園リゾート",
					"area":"名護",
					"hotel":"カヌチャベイホテル＆ヴィラズ",
					"price":"10,185"
				},
				{
					"title":"食事も遊びもすべて込み！オールインクルーシブの魅力とは？",
					"area":"石垣島",
					"hotel":"クラブメッド石垣島",
					"price":"21,296"
				}
			]
		%>
		<% for(var i = 0; i < tieupArticle.length; i++){ %>
		<li>
			<a href="#" class="tb_common_articleindex-link-1">
				<p class="tb_common_articleindex-link-text-2"><%= tieupArticle[i]["title"] %></p>
				<div class="tb_common_articleindex-link-col2">
					<figure class="tb_common_articleindex-link-photo">
						<img data-lazyload="../common/images/tb_common_articleindex/s/tieup_0<%= i+1 %>.jpg" data-lazyload_placeholder="../common/images/lazyload/268x202.gif" alt="">
						<div class="tb_common_articleindex-area"><%= tieupArticle[i]["area"] %></div>
					</figure>
					<div class="tb_common_articleindex-link-info">
						<div class="tb_common_articleindex-name"><%= tieupArticle[i]["hotel"] %></div>
						<dl class="tb_common_articleindex-price">
							<dt>1泊1名あたり</dt>
							<dd><span><%= tieupArticle[i]["price"] %></span> 円〜（税抜）</dd>
						</dl>
					</div>
				</div>
			</a>
		</li>
		<% } %>
	</ul>
</section>

<section class="tb_common_articleindex-section-1">
	<h2 class="tb_common_articleindex-headline-2">旅のニュース</h2>
	<ul class="tb_common_articleindex-section-list">
		<%
			var newsArticle = [
				{
					"title":"今年もONE PIECEの世界を走り抜けよう！「ONE PIECE RUN in沖縄2017」開催",
				},
				{
					"title":"「イベント民泊」で宿泊先が拡大！広島カープ優勝パレードに向け",
				},
				{
					"title":"沖縄県産キビ糖を使用！オリオンクラフトシリーズ第4弾「Ryukyu Mild（琉球マイルド）」が発売",
				},
				{
					"title":"片道6000円！ソラシドエアが期間限定で特別運賃「ソラシドスペシャル」を販売",
				},
				{
					"title":"本島中部の“うまいもの”が勢ぞろい！沖縄県総合運動公園で「第4回 ちゅーぶクワッチーフェスタ」開催",
				}
			]
		%>
		<% for(var i = 0; i < newsArticle.length; i++){ %>
		<li>
			<a href="#" class="tb_common_articleindex-link-1">
				<div class="tb_common_articleindex-link-col2-2">
					<figure class="tb_common_articleindex-link-photo">
						<img data-lazyload="../common/images/tb_common_articleindex/s/news_0<%= i+1 %>.jpg" data-lazyload_placeholder="../common/images/lazyload/268x202.gif" alt="">
					</figure>
					<div class="tb_common_articleindex-link-info">
						<div class="tb_common_articleindex-link-text-2"><%= newsArticle[i]["title"] %></div>
					</div>
				</div>
			</a>
		</li>
		<% } %>
		<li class="tb_common_articleindex-align--right">
			<a href="#" class="tb_common_articleindex-textlink--blue">もっと見る<svg class="tb_article_articleframe-common-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
		</li>
	</ul>

</section>

<div class="tb_common_articleindex-navigators_corner">
	<p class="tb_common_articleindex-navigators_corner-message">私たち、ローカル案内役が取材しました！</p>
	<figure class="tb_common_articleindex-navigators_corner-photo"><img src="../common/images/tb_article_articleframe/s/navigators_corner.jpg" alt=""></figure>
</div>

<div class="tb_common_articleindex-searchhotelbutton"><a href="#searchhotel" class="tb_common_articleindex-button--green">厳選200宿から<br>ホテルを探す</a></div>
<!--↑↑こちらにコーディングをお願いいたします↑↑-->
</div>


<footer id="globalFooter">
	<script type="text/javascript" src="http://www.tabirai.net/s/common/js/jquery.pageslide.min.js"></script>
	<script type="text/javascript">
		/* Default pageslide, moves to the right */
		$(".first").pageslide();
		/* Slide to the left, and make it model (you'll have to call $.pageslide.close() to close) */
		$(".second").pageslide({ direction: "left", modal: true });
	</script>
<div id="tabirai_footer_smt_pnlTop"><p class="btnLink"><a href="http://www.tabirai.net/s/sightseeing/okinawa/">たびらい 沖縄観光情報TOP</a></p></div>
	<!-- PC版はこちら -->
<div id="tabirai_footer_smt_pnlPCLink">
	<p class="btnPC"><a id="tabirai_footer_smt_likBtnRedPC" href="javascript:__doPostBack(&#39;tabirai_footer_smt$likBtnRedPC&#39;,&#39;&#39;)">PC版はこちら</a></p>
</div>

	<!--全国HOMEへ -->
<div id="tabirai_footer_smt_pnlOtherArea">
	<ul class="otherArea clearfix"><li><a href="http://www.tabirai.net/s/">たびらい全国HOME</a></li></ul></div>
	<!-- コーポレート関連 -->
<div id="tabirai_footer_smt_pnlComp">
	<ul class="bottomLinks clearfix">
		<li><a href="http://www.pam-info.co.jp/company/" target="_blank">会社概要</a></li>
		<li><a href="http://www.pam-info.co.jp/company/privacy.html" target="_blank">個人情報保護方針</a></li>
	</ul>
</div>
	<!-- コピーライト -->
	<p class="copyright">
		<small>Copyright &copy; Pam, Inc. All Rights Reserved.</small>
	</p>
</footer>


</form>
</body>
</html>
