<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>沖縄のホテル予約｜たびらい沖縄</title>
<meta name="keywords" content="テンプレート">
<meta name="description" content="テンプレートテンプレートテンプレート">
<meta property="og:title" content="テンプレートテンプレートテンプレートテンプレート">
<meta property="og:description" content="テンプレートテンプレートテンプレートテンプレート">
<meta property="og:url" content="http://www.tabirai.net/s/sightseeing/template/template.aspx">
<meta property="og:type" content="article">
<meta property="og:site_name" content="たびらい沖縄">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes" />
<link rel="canonical" href="http://www.tabirai.net/s/sightseeing/template/template.aspx">
<link rel="shortcut icon" type="image/x-icon" href="http://www.tabirai.net/sightseeing/common/images/favicon.ico">
<link rel="stylesheet" type="text/css" href="http://www.tabirai.net/s/common/css/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="http://www.tabirai.net/s/sightseeing/common/css/common.css" />
<link rel="stylesheet" type="text/css" href="http://www.tabirai.net/sightseeing/okinawa/common/css/sphone_special.css" />
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.common.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.socialbutton.js"></script>
<script type="text/javascript" src="http://media.line.me/js/line-button.js?v=20140411"></script>


<!--↓↓こちらに追加のCSS・JSの読み込みタグをお願いいたします↓↓-->

	<link rel="stylesheet" type="text/css" href="common/css/tb_common_articleindex.css" />
<script type="text/javascript" src="common/js/tb_common_articleindex.js"></script>


<!--↑↑こちらに追加のCSS・JSの読み込みタグをお願いいたします↑↑-->

</head>

<body>

<span id="contentsGroup" style="display:none">okinawa</span>
<form method="post" action="template.aspx" id="form1">
<div class="aspNetHidden"></div>
<!--header-->
<script src="http://www.tabirai.net/s/common/js/tabirai_header.js"></script>
<script src="http://www.tabirai.net/s/common/js/modal-multi.js"></script>
<link rel="stylesheet" type="text/css" href="http://www.tabirai.net/s/common/css/tabirai_header.css" media="all">
<!-- header -->
<!--header-->
<p class="head__copy">沖縄の魅力を現地から発信する旅行予約サイト</p>
<header id="homelHeader">
    <p class="logoTbr"><a href="http://www.tabirai.net/s/sightseeing/okinawa"></a><span>沖縄</span></p>
    <div class="welcomeMessage"> こんにちは、<br>ゲスト様</div>
</header>
<div id="headerNav">
    <ul class="navBtn">
        <li class="useNav"><a class="modalNav button-link modal-close" data-target="useNavArea"><img src="http://www.tabirai.net/s/common/img/btn_nav_user.png" alt="たびらい会員＆予約確認"></a></li>
        <li class="searchNav"><a class="modalNav button-link modal-close" data-target="searchNavArea"><img src="http://www.tabirai.net/s/common/img/btn_nav_search.png" alt="コンテンツ検索"></a></li>
    </ul>
    <div id="useNavArea" class="headerNavBody modal-content">
        <ul class="navList">
            <li class="li_login"><a href="https://www.tabirai.net/s/member/login.aspx">ログイン</a></li>
            <li class="li_regist"><a href="https://www.tabirai.net/s/member/registration/input.aspx">会員登録</a></li>
            <li class="li_reserve"><a href="https://www.tabirai.net/s/member/reserveInformation.aspx">予約確認・キャンセル</a></li>
            <li class="li_login"><a href="https://www.tabirai.net/s/member/policy.aspx">個人情報保護方針</a></li>
        </ul>
        <div class="closeBtn"><a class="modal-close">閉じる</a></div>
    </div>
    <!-- ** / useNavArea -->
    <div id="searchNavArea" class="headerNavBody modal-content">
        <ul class="navTab clearfix">
            <li class="on"><a href="#" class="tabKey">メインメニュー<span>から検索</span></a></li>
            <li><a href="#" class="tabCategory">カテゴリー<span>から検索</span></a></li>
            <li><a href="#" class="tabPref">都道府県<span>から検索</span></a></li>
        </ul>
        <div id="tabKey" class="tabBody">
	        <ul class="navList">
	            <li><a href="http://www.tabirai.net/s/sightseeing/okinawa/tatsujin/">沖縄観光コラム 達人指南</a></li>
<li><a href="http://www.tabirai.net/s/sightseeing/okinawa/news/">沖縄新着ニュース</a></li>
<li><a href="http://www.tabirai.net/s/sightseeing/okinawa/info/">沖縄 旅の基本情報</a></li>
<li><a href="http://www.tabirai.net/s/sightseeing/okinawa/feature/">沖縄 おすすめ特集</a></li>
<li><a href="http://www.tabirai.net/s/member/mailnews/">たびらい沖縄メールマガジン</a></li>
<li><a href="https://www.facebook.com/okinawafanhiroba/">たびらい沖縄Facebook</a></li>
	        </ul>
        </div>
        <ul class="navList downLayer tabBody" id="tabCategory">
            <li ><a href="http://www.tabirai.net/s/sightseeing/okinawa"><span class="nav__btn--sightseeing"></span>沖縄観光情報</a></li>
            <li ><a href="http://www.tabirai.net/s/tour/okinawa/"><span class="nav__btn--tour"></span>沖縄ツアー予約</a></li>
            <li style="display:none;"><a href="http://option.okitour.net/special/sightseeingbus/"><span class="nav__btn--bus"></span>沖縄バスツアー予約</a></li>
            <li ><a href="http://www.tabirai.net/s/hotel/okinawa/"><span class="nav__btn--hotel"></span>沖縄宿泊予約</a></li>
            <li ><a href="http://car.okitour.net/"><span class="nav__btn--car" ></span>沖縄レンタカー予約</a></li>
            <li ><a href="http://option.okitour.net/"><span class="nav__btn--activity"></span>沖縄アクティビティ予約</a></li>
            <li ><a href="http://www.tabinchu.net/s/"><span class="nav__btn--tabicata"></span>たびカタログ</a></li>
            <li><a href="/">たびらいHOME</a></li>
        </ul>
        <div id="tabPref" class="tabBody">
            <select id="selectPref">
                <option selected="selected">都道府県を選択</option>
                <option value="http://www.tabirai.net/s/sightseeing/hokkaido/">北海道</option>
                <option value="http://www.tabirai.net/s/car/aomori/">青森</option>
                <option value="http://www.tabirai.net/s/car/iwate/">岩手</option>
                <option value="http://www.tabirai.net/s/car/miyagi/">宮城</option>
                <option value="http://www.tabirai.net/s/car/akita/">秋田</option>
                <option value="http://www.tabirai.net/s/car/yamagata/">山形</option>
                <option value="http://www.tabirai.net/s/car/fukushima/">福島</option>
                <option value="http://www.tabirai.net/s/car/tokyo/">東京</option>
                <option value="http://www.tabirai.net/s/car/kanagawa/">神奈川</option>
                <option value="http://www.tabirai.net/s/car/chiba/">千葉</option>
                <option value="http://www.tabirai.net/s/car/saitama/">埼玉</option>
                <option value="http://www.tabirai.net/s/car/gunma/">群馬</option>
                <option value="http://www.tabirai.net/s/car/tochigi/">栃木</option>
                <option value="http://www.tabirai.net/s/car/ibaraki/">茨城</option>
                <option value="http://www.tabirai.net/s/car/niigata/">新潟</option>
                <option value="http://www.tabirai.net/s/car/nagano/">長野</option>
                <option value="http://www.tabirai.net/s/car/yamanashi/">山梨</option>
                <option value="http://www.tabirai.net/s/car/aichi/">愛知</option>
                <option value="http://www.tabirai.net/s/car/gifu/">岐阜</option>
                <option value="http://www.tabirai.net/s/car/mie/">三重</option>
                <option value="http://www.tabirai.net/s/car/shizuoka/">静岡</option>
                <option value="http://www.tabirai.net/s/car/toyama/">富山</option>
                <option value="http://www.tabirai.net/s/car/ishikawa/">石川</option>
                <option value="http://www.tabirai.net/s/car/fukui/">福井</option>
                <option value="http://www.tabirai.net/s/sightseeing/osaka/">大阪</option>
                <option value="http://www.tabirai.net/s/sightseeing/kyoto/">京都</option>
                <option value="http://www.tabirai.net/s/sightseeing/hyogo/">兵庫</option>
                <option value="http://www.tabirai.net/s/sightseeing/nara/">奈良</option>
                <option value="http://www.tabirai.net/s/sightseeing/shiga/">滋賀</option>
                <option value="http://www.tabirai.net/s/sightseeing/wakayama/">和歌山</option>
                <option value="http://www.tabirai.net/s/car/tottori/">鳥取</option>
                <option value="http://www.tabirai.net/s/car/shimane/">島根</option>
                <option value="http://www.tabirai.net/s/car/okayama/">岡山</option>
                <option value="http://www.tabirai.net/s/car/hiroshima/">広島</option>
                <option value="http://www.tabirai.net/s/car/yamaguchi/">山口</option>
                <option value="http://www.tabirai.net/s/car/tokushima/">徳島</option>
                <option value="http://www.tabirai.net/s/car/kagawa/">香川</option>
                <option value="http://www.tabirai.net/s/car/ehime/">愛媛</option>
                <option value="http://www.tabirai.net/s/car/kochi/">高知</option>
                <option value="http://www.tabirai.net/s/sightseeing/fukuoka/">福岡</option>
                <option value="http://www.tabirai.net/s/sightseeing/saga/">佐賀</option>
                <option value="http://www.tabirai.net/s/sightseeing/nagasaki/">長崎</option>
                <option value="http://www.tabirai.net/s/sightseeing/kumamoto/">熊本</option>
                <option value="http://www.tabirai.net/s/sightseeing/oita/">大分</option>
                <option value="http://www.tabirai.net/s/sightseeing/miyazaki/">宮崎</option>
                <option value="http://www.tabirai.net/s/sightseeing/kagoshima/">鹿児島</option>
                <option value="http://www.tabirai.net/s/sightseeing/okinawa/">沖縄</option>
            </select>
        </div>
        <div class="closeBtn"><a class="modal-close">閉じる</a></div>
    </div>
    <!-- ** / searchNavArea -->
    <div id="activityNav">
        <div class="inner">
            <div class="ttl nav__btn--activity">アクティビティ</div>
            <p>ご覧になるエリアを選択してください。</p>
            <ul class="activityBtn clearfix">
                <li><a href="http://opt.hokkaidotour.net/">北海道</a></li>
                <li><a href="http://option.okitour.net/">沖縄</a></li>
            </ul>
        </div>
    </div>
    <!-- ** / activityNav -->
</div>
<!--/#headerNav-->
<div id="menuNav" class="downLayer">
    <div class="ttl nav__btn--sightseeing">沖縄観光情報</div>
</div>
<!--/#menuNav-->
<!-- header End -->
<div id="page-top"><p><a id="move-page-top">▲トップへ戻る</a></p></div><!--/#page-top-->



<div id="">
<!--↓↓こちらにコーディングをお願いいたします↓↓-->
<div class="tb_common_articleindex-yesno">
	<div class="tb_common_articleindex-yesno--section">
		<figure class="tb_common_articleindex-yesno--image"><img src="../common/images/sightseeing_index/s/photo01.jpg" alt=""></figure>
		<div class="tb_common_articleindex-yesno--question">
			<h2 class="tb_common_articleindex-yesno--headline">「ソーキそば」が美味しい
隠れた名店を知りたい？</h2>
			<div class="tb_common_articleindex-yesno--button">
				<a href="http://www.tabirai.net/sightseeing/okinawa/"  class="tb_common_articleindex-yesno--button-yes">YES</a>
				<div class="tb_common_articleindex-yesno--button-no">NO</div>
			</div>
		</div>
	</div>
	<div class="tb_common_articleindex-yesno--section">
		<figure class="tb_common_articleindex-yesno--image"><img src="../common/images/sightseeing_index/s/Main-Visual-test.jpg" alt=""></figure>
		<div class="tb_common_articleindex-yesno--question">
			<h2 class="tb_common_articleindex-yesno--headline">第２問！？</h2>
			<div class="tb_common_articleindex-yesno--button">
				<a href="http://www.tabirai.net/sightseeing/okinawa/"  class="tb_common_articleindex-yesno--button-yes">YES</a>
				<div class="tb_common_articleindex-yesno--button-no">NO</div>
			</div>
		</div>
	</div>
	<div class="tb_common_articleindex-yesno--section">
		<figure class="tb_common_articleindex-yesno--image"><img src="../common/images/sightseeing_index/s/photo01.jpg" alt=""></figure>
		<div class="tb_common_articleindex-yesno--question">
			<h2 class="tb_common_articleindex-yesno--headline">第３問！？</h2>
			<div class="tb_common_articleindex-yesno--button">
				<a href="http://www.tabirai.net/sightseeing/okinawa/"  class="tb_common_articleindex-yesno--button-yes">YES</a>
				<div class="tb_common_articleindex-yesno--button-no">NO</div>
			</div>
		</div>
	</div>
	<div class="tb_common_articleindex-yesno--section">
		<figure class="tb_common_articleindex-yesno--image"><img src="../common/images/sightseeing_index/s/Main-Visual-test.jpg" alt=""></figure>
		<div class="tb_common_articleindex-yesno--question">
			<h2 class="tb_common_articleindex-yesno--headline">第４問！？</h2>
			<div class="tb_common_articleindex-yesno--button">
				<a href="http://www.tabirai.net/sightseeing/okinawa/"  class="tb_common_articleindex-yesno--button-yes">YES</a>
				<div class="tb_common_articleindex-yesno--button-no">NO</div>
			</div>
		</div>
	</div>
</div>

<h1 class="tb_common_articleindex-button--blue-modal">
<a href="#tb_common_articleindex-modal-modalcontents-1" class="tb_common_articleindex-modal--link">ローカル案内役が沖縄の<br>観光情報を2000記事以上発信中！<svg class="tb_common_articleindex-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#blank"></use></svg></a>
</h1>

<ul class="tb_common_articleindex-list">
	<li>
		<a href="#tb_common_articleindex-modal-modalcontents-1" class="tb_common_articleindex-modal--link tb_common_articleindex-button--modal">
			<div class="tb_common_articleindex-button--modal-text">「何をしたい？」</div>
			<div class="tb_common_articleindex-button--modal-icon"><svg class="tb_common_articleindex-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#blank"></use></svg></div>
		</a>
	</li>
	<li>
		<a href="#tb_common_articleindex-modal-modalcontents-1" class="tb_common_articleindex-modal--link tb_common_articleindex-button--modal">
			<div class="tb_common_articleindex-button--modal-text">「どこへ行きたい？」</div>
			<div class="tb_common_articleindex-button--modal-icon"><svg class="tb_common_articleindex-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#blank"></use></svg></div>
		</a>
	</li>
</ul>

<div class="tb_common_articleindex-listmore" data-initialview="2">

	<div class="tb_common_articleindex-layout--col1">
		<a href="#" class="tb_common_articleindex-link-2">
			<figure class="tb_common_articleindex-link-photo">
				<img data-lazyload="../common/images/sightseeing_index/s/photo02.jpg" data-lazyload_placeholder="../common/images/lazyload/750x420.gif" alt="">
				<div class="tb_common_articleindex-link-recommend">オススメ：★★★</div>
			</figure>
			<div class="tb_common_articleindex-date">更新日 2016.12.23</div>
			<p class="tb_common_articleindex-link-title">「首里城」沖縄観光の定番、その神髄に迫る</p>
		</a>
	</div>

	<div class="tb_common_articleindex-layout--col2-sidemargin">
		<div class="tb_common_articleindex-layout--col2-sidemargin-1">
			<a href="#" class="tb_common_articleindex-link-2">
				<figure class="tb_common_articleindex-link-photo">
					<img data-lazyload="../common/images/sightseeing_index/s/photo03.jpg" alt="">
					<div class="tb_common_articleindex-link-recommend">オススメ：★★★</div>
				</figure>
				<div class="tb_common_articleindex-date">[タイアップ]</div>
				<p class="tb_common_articleindex-link-title">「首里城」沖縄観光の定番、その神髄に迫る</p>
			</a>
		</div>
		<div class="tb_common_articleindex-layout--col2-sidemargin-1">
			<a href="#" class="tb_common_articleindex-link-2">
				<figure class="tb_common_articleindex-link-photo">
					<img data-lazyload="../common/images/sightseeing_index/s/photo04.jpg" alt="">
					<div class="tb_common_articleindex-link-recommend">オススメ：★★★</div>
				</figure>
				<div class="tb_common_articleindex-date">[タイアップ]</div>
				<p class="tb_common_articleindex-link-title">「首里城」沖縄観光の定番、その神髄に迫る</p>
			</a>
		</div>
	</div>

	<div class="tb_common_articleindex-layout--col2-sidemargin">
		<div class="tb_common_articleindex-layout--col2-sidemargin-1">
			<a href="#" class="tb_common_articleindex-link-2">
				<figure class="tb_common_articleindex-link-photo">
					<img data-lazyload="../common/images/sightseeing_index/s/photo03.jpg" data-lazyload_sporty alt="">
					<div class="tb_common_articleindex-link-recommend">オススメ：★★★</div>
				</figure>
				<div class="tb_common_articleindex-date">[タイアップ]</div>
				<p class="tb_common_articleindex-link-title">「首里城」沖縄観光の定番、その神髄に迫る</p>
			</a>
		</div>
		<div class="tb_common_articleindex-layout--col2-sidemargin-1">
			<a href="#" class="tb_common_articleindex-link-2">
				<figure class="tb_common_articleindex-link-photo">
					<img data-lazyload="../common/images/sightseeing_index/s/photo04.jpg" data-lazyload_sporty alt="">
					<div class="tb_common_articleindex-link-recommend">オススメ：★★★</div>
				</figure>
				<div class="tb_common_articleindex-date">[タイアップ]</div>
				<p class="tb_common_articleindex-link-title">「首里城」沖縄観光の定番、その神髄に迫る</p>
			</a>
		</div>
	</div>
</div>


<section class="tb_common_articleindex-article_outline">
	<h2 class="tb_common_articleindex-article_outline--headline">沖縄の基本を教えて</h2>
	<ul class="tb_common_articleindex-buttonlist tb_common_articleindex-listmore" data-initialview="4">
		<%
			var listButton = [
				{
					title:"10選・100選記事"
				},
				{
					title:"イベント"
				},
				{
					title:"体験"
				},
				{
					title:"ビーチ"
				},
				{
					title:"Q&A"
				},
				{
					title:"歴史"
				}
			]
			for(var i = 0; i < listButton.length; i++){
		 %>
		<li>
			<h3 data-readmore="#outline<%= i %>" class="tb_common_articleindex-readmore tb_common_articleindex-button--gray-more"><%= listButton[i]["title"] %></h3>
			<div id="outline<%= i %>" class="tb_common_articleindex-article_outline--hide">
				<div class="tb_common_articleindex-tellme--links">
				  <ul class="tb_common_articleindex-tellme--article-list">
				    <% for(var k = 0; k < 3; k++){ %>
				    <li>
							<a href="#" class="tb_common_articleindex-tellme--article-link">
					      <h4 class="tb_common_articleindex-tellme--article-title">沖縄最長の“3月～1月初旬”まで泳げる「ガーデンプール」</h4>
					      <div class="tb_common_articleindex-tellme--article-body">
					        <figure class="tb_common_articleindex-tellme--article-photo">
					          <img data-lazyload="../common/images/sightseeing_index/s/recommend-<%- k+1 %>.jpg" data-lazyload_placeholder="../common/images/lazyload/268x202.gif" data-lazyload_sporty alt="">
					        </figure>
					        <div class="tb_common_articleindex-tellme--article-contents">
										<p>沖縄一の繁華街となり国際通りをはじめ、世界遺産の首里城、ディープな観光スポット満載です。那覇を満喫する旅行には、「ゆいレール」が便利で、ショッピングやグルメなど、マルチな那覇エリアを手軽に楽しめます。</p>
					        </div>
					      </div>
							</a>
				    </li>
				    <% } %>
				  </ul>
				</div>
			</div>
		</li>
		<% } %>
	</ul>

</section>

<div class="tb_common_articleindex-navigators_corner">
	<p class="tb_common_articleindex-navigators_corner-message">私たち、ローカル案内役が取材しました！</p>
	<figure class="tb_common_articleindex-navigators_corner-photo"><img src="../common/images/tb_article_articleframe/s/navigators_corner.jpg" alt=""></figure>
</div>

<div class="tb_common_articleindex-modal-modalcontents">
	<section id="tb_common_articleindex-modal-modalcontents-1" class="tb_common_articleindex-modal-modalcontents-section">
		<h2 class="tb_common_articleindex-modal-modalcontents-title">誰と行く？</h2>
		<div class="tb_common_articleindex-modal-modalcontents-body">
			<h3 class="tb_common_articleindex-modal-modalcontents--headline">地名（恩納村など）</h3>
			<ul class="tb_common_articleindex-modal-modalcontents--list">
				<%
				var list = [
					{title:`家族向け、子供が楽しめる沖縄ホテル`},
					{title:`女子旅でリゾート感を満喫できる沖縄ホテル`},
					{title:`グループ、大人数で泊まれる沖縄ホテル`}
				]
				%>
				<% for(var i = 0; i < list.length; i++){ %>
				<li>
					<a href="#" class="tb_common_articleindex-modal-modalcontents-link">
						<figure class="tb_common_articleindex-modal-modalcontents-image">
							<img src="../common/images/sightseeing_index/s/photo0<%= 5 + i %>.jpg" alt="">
						</figure>
						<div class="tb_common_articleindex-modal-modalcontents-outline">
							<div>
								<p><%= list[i].title %></p>
							</div>
						</div>
					</a>
				</li>
				<% } %>
			</ul>
			<h3 class="tb_common_articleindex-modal-modalcontents--headline">地名（恩納村など）</h3>
			<ul class="tb_common_articleindex-modal-modalcontents--list">
				<%
				var list = [
					{title:`赤ちゃん連れに最適なおすすめ沖縄ホテル`},
					{title:`一人旅でも泊まれる沖縄ホテル`}
				]
				%>
				<% for(var i = 0; i < list.length; i++){ %>
					<li>
						<a href="#" class="tb_common_articleindex-modal-modalcontents-link">
							<figure class="tb_common_articleindex-modal-modalcontents-image">
								<img src="../common/images/sightseeing_index/s/photo0<%= 8 + i %>.jpg" alt="">
							</figure>
							<div class="tb_common_articleindex-modal-modalcontents-outline">
								<div>
									<p><%= list[i].title %></p>
								</div>
							</div>
						</a>
					</li>
				<% } %>
			</ul>
		</div>
	</section>
</div>
<!--↑↑こちらにコーディングをお願いいたします↑↑-->
</div>


<footer id="globalFooter">
	<script type="text/javascript" src="http://www.tabirai.net/s/common/js/jquery.pageslide.min.js"></script>
	<script type="text/javascript">
		/* Default pageslide, moves to the right */
		$(".first").pageslide();
		/* Slide to the left, and make it model (you'll have to call $.pageslide.close() to close) */
		$(".second").pageslide({ direction: "left", modal: true });
	</script>
<div id="tabirai_footer_smt_pnlTop"><p class="btnLink"><a href="http://www.tabirai.net/s/sightseeing/okinawa/">たびらい 沖縄観光情報TOP</a></p></div>
	<!-- PC版はこちら -->
<div id="tabirai_footer_smt_pnlPCLink">
	<p class="btnPC"><a id="tabirai_footer_smt_likBtnRedPC" href="javascript:__doPostBack(&#39;tabirai_footer_smt$likBtnRedPC&#39;,&#39;&#39;)">PC版はこちら</a></p>
</div>

	<!--全国HOMEへ -->
<div id="tabirai_footer_smt_pnlOtherArea">
	<ul class="otherArea clearfix"><li><a href="http://www.tabirai.net/s/">たびらい全国HOME</a></li></ul></div>
	<!-- コーポレート関連 -->
<div id="tabirai_footer_smt_pnlComp">
	<ul class="bottomLinks clearfix">
		<li><a href="http://www.pam-info.co.jp/company/" target="_blank">会社概要</a></li>
		<li><a href="http://www.pam-info.co.jp/company/privacy.html" target="_blank">個人情報保護方針</a></li>
	</ul>
</div>
	<!-- コピーライト -->
	<p class="copyright">
		<small>Copyright &copy; Pam, Inc. All Rights Reserved.</small>
	</p>
</footer>


</form>
</body>
</html>
