<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>沖縄観光情報</title>
<meta name="keywords" content="テンプレート">
<meta name="description" content="テンプレートテンプレートテンプレート">
<meta property="og:title" content="テンプレートテンプレートテンプレートテンプレート">
<meta property="og:description" content="テンプレートテンプレートテンプレートテンプレート">
<meta property="og:url" content="http://www.tabirai.net/s/sightseeing/template/template.aspx">
<meta property="og:type" content="article">
<meta property="og:site_name" content="たびらい沖縄">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes" />
<link rel="canonical" href="http://www.tabirai.net/s/sightseeing/template/template.aspx">
<link rel="shortcut icon" type="image/x-icon" href="http://www.tabirai.net/sightseeing/common/images/favicon.ico">
<link rel="stylesheet" type="text/css" href="http://www.tabirai.net/s/common/css/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="http://www.tabirai.net/s/sightseeing/common/css/common.css" />
<link rel="stylesheet" type="text/css" href="http://www.tabirai.net/sightseeing/okinawa/common/css/sphone_special.css" />
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.common.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.socialbutton.js"></script>
<script type="text/javascript" src="http://media.line.me/js/line-button.js?v=20140411"></script>


<!--↓↓こちらに追加のCSS・JSの読み込みタグをお願いいたします↓↓-->

	<link rel="stylesheet" type="text/css" href="common/css/tb_article_articleframe.css" />
<script type="text/javascript" src="common/js/tb_article_articleframe.js"></script>


<!--↑↑こちらに追加のCSS・JSの読み込みタグをお願いいたします↑↑-->

</head>

<body>

<span id="contentsGroup" style="display:none">okinawa</span>
<form method="post" action="template.aspx" id="form1">
<div class="aspNetHidden"></div>
<!--header-->
<script src="http://www.tabirai.net/s/common/js/tabirai_header.js"></script>
<script src="http://www.tabirai.net/s/common/js/modal-multi.js"></script>
<link rel="stylesheet" type="text/css" href="http://www.tabirai.net/s/common/css/tabirai_header.css" media="all">
<!-- header -->
<!--header-->
<p class="head__copy">沖縄の魅力を現地から発信する旅行予約サイト</p>
<header id="homelHeader">
    <p class="logoTbr"><a href="http://www.tabirai.net/s/sightseeing/okinawa"></a><span>沖縄</span></p>
    <div class="welcomeMessage"> こんにちは、<br>ゲスト様</div>
</header>
<div id="headerNav">
    <ul class="navBtn">
        <li class="useNav"><a class="modalNav button-link modal-close" data-target="useNavArea"><img src="http://www.tabirai.net/s/common/img/btn_nav_user.png" alt="たびらい会員＆予約確認"></a></li>
        <li class="searchNav"><a class="modalNav button-link modal-close" data-target="searchNavArea"><img src="http://www.tabirai.net/s/common/img/btn_nav_search.png" alt="コンテンツ検索"></a></li>
    </ul>
    <div id="useNavArea" class="headerNavBody modal-content">
        <ul class="navList">
            <li class="li_login"><a href="https://www.tabirai.net/s/member/login.aspx">ログイン</a></li>
            <li class="li_regist"><a href="https://www.tabirai.net/s/member/registration/input.aspx">会員登録</a></li>
            <li class="li_reserve"><a href="https://www.tabirai.net/s/member/reserveInformation.aspx">予約確認・キャンセル</a></li>
            <li class="li_login"><a href="https://www.tabirai.net/s/member/policy.aspx">個人情報保護方針</a></li>
        </ul>
        <div class="closeBtn"><a class="modal-close">閉じる</a></div>
    </div>
    <!-- ** / useNavArea -->
    <div id="searchNavArea" class="headerNavBody modal-content">
        <ul class="navTab clearfix">
            <li class="on"><a href="#" class="tabKey">メインメニュー<span>から検索</span></a></li>
            <li><a href="#" class="tabCategory">カテゴリー<span>から検索</span></a></li>
            <li><a href="#" class="tabPref">都道府県<span>から検索</span></a></li>
        </ul>
        <div id="tabKey" class="tabBody">
	        <ul class="navList">
	            <li><a href="http://www.tabirai.net/s/sightseeing/okinawa/tatsujin/">沖縄観光コラム 達人指南</a></li>
<li><a href="http://www.tabirai.net/s/sightseeing/okinawa/news/">沖縄新着ニュース</a></li>
<li><a href="http://www.tabirai.net/s/sightseeing/okinawa/info/">沖縄 旅の基本情報</a></li>
<li><a href="http://www.tabirai.net/s/sightseeing/okinawa/feature/">沖縄 おすすめ特集</a></li>
<li><a href="http://www.tabirai.net/s/member/mailnews/">たびらい沖縄メールマガジン</a></li>
<li><a href="https://www.facebook.com/okinawafanhiroba/">たびらい沖縄Facebook</a></li>
	        </ul>
        </div>
        <ul class="navList downLayer tabBody" id="tabCategory">
            <li ><a href="http://www.tabirai.net/s/sightseeing/okinawa"><span class="nav__btn--sightseeing"></span>沖縄観光情報</a></li>
            <li ><a href="http://www.tabirai.net/s/tour/okinawa/"><span class="nav__btn--tour"></span>沖縄ツアー予約</a></li>
            <li style="display:none;"><a href="http://option.okitour.net/special/sightseeingbus/"><span class="nav__btn--bus"></span>沖縄バスツアー予約</a></li>
            <li ><a href="http://www.tabirai.net/s/hotel/okinawa/"><span class="nav__btn--hotel"></span>沖縄宿泊予約</a></li>
            <li ><a href="http://car.okitour.net/"><span class="nav__btn--car" ></span>沖縄レンタカー予約</a></li>
            <li ><a href="http://option.okitour.net/"><span class="nav__btn--activity"></span>沖縄アクティビティ予約</a></li>
            <li ><a href="http://www.tabinchu.net/s/"><span class="nav__btn--tabicata"></span>たびカタログ</a></li>
            <li><a href="/">たびらいHOME</a></li>
        </ul>
        <div id="tabPref" class="tabBody">
            <select id="selectPref">
                <option selected="selected">都道府県を選択</option>
                <option value="http://www.tabirai.net/s/sightseeing/hokkaido/">北海道</option>
                <option value="http://www.tabirai.net/s/car/aomori/">青森</option>
                <option value="http://www.tabirai.net/s/car/iwate/">岩手</option>
                <option value="http://www.tabirai.net/s/car/miyagi/">宮城</option>
                <option value="http://www.tabirai.net/s/car/akita/">秋田</option>
                <option value="http://www.tabirai.net/s/car/yamagata/">山形</option>
                <option value="http://www.tabirai.net/s/car/fukushima/">福島</option>
                <option value="http://www.tabirai.net/s/car/tokyo/">東京</option>
                <option value="http://www.tabirai.net/s/car/kanagawa/">神奈川</option>
                <option value="http://www.tabirai.net/s/car/chiba/">千葉</option>
                <option value="http://www.tabirai.net/s/car/saitama/">埼玉</option>
                <option value="http://www.tabirai.net/s/car/gunma/">群馬</option>
                <option value="http://www.tabirai.net/s/car/tochigi/">栃木</option>
                <option value="http://www.tabirai.net/s/car/ibaraki/">茨城</option>
                <option value="http://www.tabirai.net/s/car/niigata/">新潟</option>
                <option value="http://www.tabirai.net/s/car/nagano/">長野</option>
                <option value="http://www.tabirai.net/s/car/yamanashi/">山梨</option>
                <option value="http://www.tabirai.net/s/car/aichi/">愛知</option>
                <option value="http://www.tabirai.net/s/car/gifu/">岐阜</option>
                <option value="http://www.tabirai.net/s/car/mie/">三重</option>
                <option value="http://www.tabirai.net/s/car/shizuoka/">静岡</option>
                <option value="http://www.tabirai.net/s/car/toyama/">富山</option>
                <option value="http://www.tabirai.net/s/car/ishikawa/">石川</option>
                <option value="http://www.tabirai.net/s/car/fukui/">福井</option>
                <option value="http://www.tabirai.net/s/sightseeing/osaka/">大阪</option>
                <option value="http://www.tabirai.net/s/sightseeing/kyoto/">京都</option>
                <option value="http://www.tabirai.net/s/sightseeing/hyogo/">兵庫</option>
                <option value="http://www.tabirai.net/s/sightseeing/nara/">奈良</option>
                <option value="http://www.tabirai.net/s/sightseeing/shiga/">滋賀</option>
                <option value="http://www.tabirai.net/s/sightseeing/wakayama/">和歌山</option>
                <option value="http://www.tabirai.net/s/car/tottori/">鳥取</option>
                <option value="http://www.tabirai.net/s/car/shimane/">島根</option>
                <option value="http://www.tabirai.net/s/car/okayama/">岡山</option>
                <option value="http://www.tabirai.net/s/car/hiroshima/">広島</option>
                <option value="http://www.tabirai.net/s/car/yamaguchi/">山口</option>
                <option value="http://www.tabirai.net/s/car/tokushima/">徳島</option>
                <option value="http://www.tabirai.net/s/car/kagawa/">香川</option>
                <option value="http://www.tabirai.net/s/car/ehime/">愛媛</option>
                <option value="http://www.tabirai.net/s/car/kochi/">高知</option>
                <option value="http://www.tabirai.net/s/sightseeing/fukuoka/">福岡</option>
                <option value="http://www.tabirai.net/s/sightseeing/saga/">佐賀</option>
                <option value="http://www.tabirai.net/s/sightseeing/nagasaki/">長崎</option>
                <option value="http://www.tabirai.net/s/sightseeing/kumamoto/">熊本</option>
                <option value="http://www.tabirai.net/s/sightseeing/oita/">大分</option>
                <option value="http://www.tabirai.net/s/sightseeing/miyazaki/">宮崎</option>
                <option value="http://www.tabirai.net/s/sightseeing/kagoshima/">鹿児島</option>
                <option value="http://www.tabirai.net/s/sightseeing/okinawa/">沖縄</option>
            </select>
        </div>
        <div class="closeBtn"><a class="modal-close">閉じる</a></div>
    </div>
    <!-- ** / searchNavArea -->
    <div id="activityNav">
        <div class="inner">
            <div class="ttl nav__btn--activity">アクティビティ</div>
            <p>ご覧になるエリアを選択してください。</p>
            <ul class="activityBtn clearfix">
                <li><a href="http://opt.hokkaidotour.net/">北海道</a></li>
                <li><a href="http://option.okitour.net/">沖縄</a></li>
            </ul>
        </div>
    </div>
    <!-- ** / activityNav -->
</div>
<!--/#headerNav-->
<div id="menuNav" class="downLayer">
    <div class="ttl nav__btn--sightseeing">沖縄観光情報</div>
</div>
<!--/#menuNav-->
<!-- header End -->
<div id="page-top"><p><a id="move-page-top">▲トップへ戻る</a></p></div><!--/#page-top-->



<div id="container" class="tb_article_articleframe-article">
<!--↓↓こちらにコーディングをお願いいたします↓↓-->
<div class="tb_article_articleframe-article_main_image">
	<figure class="tb_article_articleframe-image-gradation--black tb_article_articleframe-image--wide"><img src="../common/images/sightseeing_article_02/s/photo01.jpg" alt=""></figure>
	<div class="tb_article_articleframe-article_main_image--headline">
		<h1 class="tb_article_articleframe-header--h4">古宇利島の意外な楽しみ方<br>乗馬から穴場ビーチまで</h1>
		<p class="tb_article_articleframe-date">投稿：2016年12月　/　更新 : 2017年1月</p>
	</div>
</div>
<p class="tb_article_articleframe-description">沖縄本島北部・今帰仁村にある古宇利島。平成17年に全長約2キロの古宇利大橋が開通し、車で行ける離島として人気の離島です。</p>
<nav class="tb_article_articleframe-contentsnavi">
	<div class="tb_article_articleframe-contentsnavi--title">目次</div>
	<ul>
		<li><a href="#p1"><i class="tb_article_articleframe-contentsnavi--arrow"></i>いろんな方法で古宇利島を渡ってみよう</a></li>
		<li><a href="#p2"><i class="tb_article_articleframe-contentsnavi--arrow"></i>その他の渡り方が気になる人は</a></li>
		<li><a href="#p3"><i class="tb_article_articleframe-contentsnavi--arrow"></i>古宇利島の穴場ビーチ</a></li>
		<li><a href="#p4"><i class="tb_article_articleframe-contentsnavi--arrow"></i>島を散策すると…！</a></li>
	</ul>
</nav>

<div class="tb_article_articleframe-article_section">
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="../common/images/sightseeing_article_02/s/photo02.jpg" data-lazyload_placeholder="../common/images/lazyload/750x440.gif" alt=""></figure>
	<h2 id="p1" class="tb_article_articleframe-article_section-headline"><span class="tb_article_articleframe-fontbox--blueline">いろんな方法で古宇利島を</span><br><span class="tb_article_articleframe-fontbox--blueline">渡ってみよう</span></h2>
</div>
<p>古宇利島は車で橋を渡りますが、今回はツウな楽しみ方としていろいろな「渡り方」を提案します。</p>
<figure class="tb_article_articleframe-image--small"><img data-lazyload="../common/images/sightseeing_article_02/s/photo03.jpg" data-lazyload_placeholder="../common/images/lazyload/1x1.gif" alt="">
	<figcaption class="tb_article_articleframe-image--caption">ちなみに車で渡ると車内からはこんな景色が楽しめます。</figcaption>
</figure>
<figure class="tb_article_articleframe-image--middle"><img data-lazyload="../common/images/sightseeing_article_02/s/photo04.jpg" data-lazyload_placeholder="../common/images/lazyload/670x440.gif" alt="">
	<figcaption class="tb_article_articleframe-image--caption">古宇利島への乗馬体験は、今帰仁村の「OKINA HOURS」で予約することができます。</figcaption>
</figure>
<figure class="tb_article_articleframe-image--middle"><img data-lazyload="../common/images/sightseeing_article_02/s/photo05.jpg" data-lazyload_placeholder="../common/images/lazyload/670x440.gif" alt="">
	<figcaption class="tb_article_articleframe-image--caption">ビーチでは馬と一緒に泳ぐことも可能！カップルや友人、小さな子どもでも体験できます。</figcaption>
</figure>
<div class="tb_article_articleframe-note">
	<h3 class="tb_article_articleframe-note--headline">乗馬体験　OKINA HOURS</h3>
	<div class="tb_article_articleframe-note--info">営業時間：8時～19時<br>住所：沖縄県国頭郡今帰仁村謝名1331<br>問い合わせ：0980-56-4170<br>利用料金：2800円</div>
</div>
<div class="tb_article_articleframe-author">ローカル案内役　上地真理子</div>


<div class="tb_article_articleframe-article_section">
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="../common/images/sightseeing_article_02/s/photo06.jpg" data-lazyload_placeholder="../common/images/lazyload/750x440.gif" alt=""></figure>
</div>
<div id="p2_2" class="tb_article_articleframe-more_content">
	<%- include('./component/tb_article_articleframe-more_content/_tb_article_articleframe-more_content') %>
</div>
<div class="tb_article_articleframe-more_content--cover">
	<a href="#p2_2" class="tb_article_articleframe-readmore tb_article_articleframe-button--blue-more">もっと見る</a>
</div>

<div class="tb_article_articleframe-article_section">
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="../common/images/sightseeing_article_02/s/photo07.jpg" data-lazyload_placeholder="../common/images/lazyload/750x440.gif" alt=""></figure>
	<h2 id="p3" class="tb_article_articleframe-article_section-headline"><span class="tb_article_articleframe-fontbox--blueline">古宇利島の穴場ビーチ…</span></h2>
</div>
<div id="p3_2" class="tb_article_articleframe-more_content">
	<%- include('./component/tb_article_articleframe-more_content/_tb_article_articleframe-more_content') %>
</div>
<div class="tb_article_articleframe-more_content--cover">
	<a href="#p3_2" class="tb_article_articleframe-readmore tb_article_articleframe-button--blue-more">もっと見る</a>
</div>

<div class="tb_article_articleframe-article_section">
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="../common/images/sightseeing_article_02/s/photo08.jpg" data-lazyload_placeholder="../common/images/lazyload/750x440.gif" alt=""></figure>
	<h2 id="p4" class="tb_article_articleframe-article_section-headline"><span class="tb_article_articleframe-fontbox--blueline">島を散策すると…</span></h2>
</div>
<div id="p4_2" class="tb_article_articleframe-more_content">
	<%- include('./component/tb_article_articleframe-more_content/_tb_article_articleframe-more_content') %>
</div>
<div class="tb_article_articleframe-more_content--cover">
	<a href="#p4_2" class="tb_article_articleframe-readmore tb_article_articleframe-button--blue-more">もっと見る</a>
</div>

<section class="tb_article_articleframe-article_outline">
	<h2 class="tb_article_articleframe-article_outline--headline">もっと詳しく知る</h2>
	<ul class="tb_article_articleframe-buttonlist tb_article_articleframe-listmore" data-initialview="4">
		<%
			var listButton = [
				{
					title:"基本情報"
				},
				{
					title:"近くのお土産3選"
				},
				{
					title:"食事スポット"
				},
				{
					title:"アクセス・施設情報"
				},
				{
					title:"Q&A"
				},
				{
					title:"歴史"
				}
			]
			for(var i = 0; i < listButton.length; i++){
		 %>
		<li>
			<h3 data-readmore="#outline<%= i %>" class="tb_article_articleframe-readmore tb_article_articleframe-button--gray-more"><%= listButton[i]["title"] %></h3>
			<div id="outline<%= i %>" class="tb_article_articleframe-article_outline--hide">
				<%- include('./component/tb_article_articleframe-article_outline--article/_tb_article_articleframe-article_outline--article') %>
			</div>
		</li>
		<% } %>
	</ul>

</section>


<div class="tb_article_articleframe-navigators_corner">
	<p class="tb_article_articleframe-navigators_corner-message">私たち、ローカル案内役が取材しました！</p>
	<figure class="tb_article_articleframe-navigators_corner-photo"><img data-lazyload="../common/images/tb_article_articleframe/s/navigators_corner.jpg" alt=""></figure>
</div>


<!--↑↑こちらにコーディングをお願いいたします↑↑-->
</div>


<footer id="globalFooter">
	<script type="text/javascript" src="http://www.tabirai.net/s/common/js/jquery.pageslide.min.js"></script>
	<script type="text/javascript">
		/* Default pageslide, moves to the right */
		$(".first").pageslide();
		/* Slide to the left, and make it model (you'll have to call $.pageslide.close() to close) */
		$(".second").pageslide({ direction: "left", modal: true });
	</script>
<div id="tabirai_footer_smt_pnlTop"><p class="btnLink"><a href="http://www.tabirai.net/s/sightseeing/okinawa/">たびらい 沖縄観光情報TOP</a></p></div>
	<!-- PC版はこちら -->
<div id="tabirai_footer_smt_pnlPCLink">
	<p class="btnPC"><a id="tabirai_footer_smt_likBtnRedPC" href="javascript:__doPostBack(&#39;tabirai_footer_smt$likBtnRedPC&#39;,&#39;&#39;)">PC版はこちら</a></p>
</div>

	<!--全国HOMEへ -->
<div id="tabirai_footer_smt_pnlOtherArea">
	<ul class="otherArea clearfix"><li><a href="http://www.tabirai.net/s/">たびらい全国HOME</a></li></ul></div>
	<!-- コーポレート関連 -->
<div id="tabirai_footer_smt_pnlComp">
	<ul class="bottomLinks clearfix">
		<li><a href="http://www.pam-info.co.jp/company/" target="_blank">会社概要</a></li>
		<li><a href="http://www.pam-info.co.jp/company/privacy.html" target="_blank">個人情報保護方針</a></li>
	</ul>
</div>
	<!-- コピーライト -->
	<p class="copyright">
		<small>Copyright &copy; Pam, Inc. All Rights Reserved.</small>
	</p>
</footer>


</form>
</body>
</html>
