
<section class="tb_article_articleframe-section">
	<div class="tb_article_articleframe-section--headline">
		<div class="tb_article_articleframe-section-number"><%= param.number %></div>
	</div>
	<p class="tb_article_articleframe-section--h2"><%= param.title %></p>
	<div class="tb_article_articleframe-section--body">
		<h2 class="tb_article_articleframe-section--h3"><%= param.hotel.name %></h2>
		<div class="tb_article_articleframe-section-hotelinfo">
			<div class="tb_article_articleframe-section-hotelinfo-area">
				<div class="tb_article_articleframe-section-area"><%= param.hotel.area %></div>
			</div>
			<dl class="tb_article_articleframe-section-price">
				<dt>1泊1名あたり</dt>
				<dd><%= param.hotel.price %></dd>
			</dl>
		</div>
		<div class="tb_article_articleframe-section-col2">
			<div class="tb_article_articleframe-section-left">
				<ul class="tb_article_articleframe-section-slider-main" data-initialslide="<%= param.number %>">
          <% for (var i = 0; i < param.sliderPhoto.length; i++) { %>
					<li>
						<figure class="tb_article_articleframe-section-slider-main-photo"><img data-slidersrc="<%= param.sliderPhoto[i].imagePath %>" alt="">
							<% if( typeof param.sliderPhoto[i].caption !== 'undefined'){ %>
							<h3 class="tb_article_articleframe-section-slider-main-photo-caption"><%= param.sliderPhoto[i].caption %></h3>
							<% } %>
						</figure>
					</li>
          <% } %>
				</ul>
			</div>
			<div class="tb_article_articleframe-section-right">
        <% for (var i = 0; i < param.comment.length; i++) { %>
          <div class="tb_article_articleframe-section-comment">
  					<p><%= param.comment[i].text %></p>
  					<p class="tb_article_articleframe-section-comment-author"><%= param.comment[i].author %></p>
  				</div>
        <% } %>
				<div class="tb_article_articleframe-section--button">
					<a href="" class="tb_article_articleframe-button--orange"><svg class="tb_article_articleframe-button--orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../common/images/svgsprite/sprite.svg#arrow"></use></svg>たびらいの宿泊プランから予約</a>
				</div>
        <% if(param.buttons == 2){ %>
				<div class="tb_article_articleframe-section--button">
					<a href="" class="tb_article_articleframe-button--orange"><svg class="tb_article_articleframe-button--orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../common/images/svgsprite/sprite.svg#arrow"></use></svg>たびらいの宿泊プランから予約</a>
				</div>
				<div class="tb_article_articleframe-section--textlink">
					<a href="#tb_article_articleframe-modal-modalcontents-1" class="tb_article_articleframe-modal--link">「たびらい宿泊プラン」と「ホテルのウェブサイトから予約」の違いについて</a>
				</div>
        <% } %>
				<div class="tb_article_articleframe-section--button tb_article_articleframe-section--button-2col">
					<a href="" class="tb_article_articleframe-button--orange"><svg class="tb_article_articleframe-button--orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../common/images/svgsprite/sprite.svg#arrow"></use></svg>ツアー商品</a>
					<a href="" class="tb_article_articleframe-button--orange"><svg class="tb_article_articleframe-button--orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../common/images/svgsprite/sprite.svg#arrow"></use></svg>ダイナミック<br>パッケージ</a>
				</div>
				<div class="tb_article_articleframe-section--button">
					<a href="#" class="tb_article_articleframe-button--green"><svg class="tb_article_articleframe-button--orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="../common/images/svgsprite/sprite.svg#arrow"></use></svg>このホテルの楽しみ方・基本情報</a>
				</div>
			</div>
		</div>
	</div>
</section>
