
.#{$prefix}-section{
  margin: 59px 0 0;
  +.#{$prefix}-section{
    margin-top: 63px;
  }
  &--headline{
    border-top: solid 3px $colorBlue;
    position: relative;
    padding: 0 0 33px;
  }
  &--h2{
    margin: 0 auto;
    color: $colorBlue;
    position: relative;
    padding: 0 #{$sideMargin};
    font-size: 13px;
    font-weight: bold;
    box-sizing: border-box;
  }
  &-number{
    background: $colorBlue;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    top: -25px;
    left: 50%;
    line-height: 50px;
    text-align: center;
    margin-left: -25px;
    font-family: 'josefin_slabitalic';
    color: #FFF;
    font-size: 30px;
    >img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
    &-1{
      width: 8px;
      height: 20px;
    }
    &-2{
      width: 15px;
      height: 20px;
    }
    &-3{
      width: 14px;
      height: 20px;
    }
    &-4{
      width: 15px;
      height: 20px;
    }
    &-5{
      width: 13px;
      height: 20px;
    }
  }
  &--body{
    width: 100%;
  }
  &--h3{
    font-size: 26px;
    padding: 7px #{$sideMargin} 0;
    line-height: 1.4;
    font-weight: normal;
  }
  &-hotelinfo{
    padding: 11px #{$sideMargin} 0;
    display: flex;
    justify-content: flex-end;
  }
  &-area{
    margin: 10px 10px 10px 0px;
    background: $colorBlue;
    color: #FFF;
    padding: 0 6px;
    font-size: 12px;
    line-height: 18px;
  }
  &-price{
    font-size: 13px;
    padding: 5px 0 5px 10px;
    border-left: solid 1px #cccccc;
    >dd{
      font-size: 14px;
      padding: 0;
    }
  }
  &-col2{
    padding: 20px 0 0;
  }
  &-left{
    width: 100%;
  }
  &-right{
    width: 100%;
    margin: 31px 0 0;
    .#{$prefix}-button-orange{
      width: 100%;
    }
  }
  &-slider{
    &-main{
      width: 100%;
      margin: 0 0 31px;
      &-photo{
        position: relative;
        margin: 0;
        >img{
          width: 100%;
        }
        &-caption{
          position: absolute;
          right:0;
          bottom: 0;
          max-width: 100%;
          padding:0 20px;
          box-sizing: border-box;
          background: #FFF;
          font-size: 12px;
        }
      }
      .slick-dots{
        position: absolute;
        padding: 6px $sideMargin 0;
        right: 0;
        top: 100%;
        box-sizing: border-box;
        height: 12px;
        >li{
          display: inline-block;
          margin: 0 0 0 14px;
          button{
            background: #ccc;
            border-radius: 100%;
            text-indent: 100%;
            overflow: hidden;
            display: inline-block;
            margin: 0;
            padding: 0;
            width: 6px;
            height: 6px;
            white-space: nowrap;
            border: 0;
          }
          &.slick-active{
            button{
              background: $colorCoteDazur;
            }
          }
        }
      }
      >.slick-arrow{
        position: absolute;
        top:50%;
        z-index: 10;
        transform: translateY(-50%);
        border-style: none;
        display: block;
        background: #FFF;
        width: 32px;
        height: 32px;
        overflow: hidden;
        text-indent: 100em;
        white-space: nowrap;
        box-sizing: border-box;
        cursor: pointer;
        appearance: none;
        &:after{
          content:"";
          display: inline-block;
          width: 10px;
          height: 16px;
          position: absolute;
          top:50%;
          left:50%;
          transform: translateX(-50%) translateY(-50%);
        }
        &.slick-prev{
          left:0;
          &:after{
            // background: url(/common/images/svg/svgsprite/arrow_left_cotedazur.svg) 0 0 /10px 16px no-repeat;
            background: url(/common/images/svg/svgsprite/arrow_left_cotedazur.svg) 0 0 no-repeat;
            background-size: 10px 16px;
          }
        }
        &.slick-next{
          right:0;
          &:after{
            background: url(/common/images/svg/svgsprite/arrow_right_cotedazur.svg) 0 0 no-repeat;
            background-size: 10px 16px;
            // background: url(/common/images/svg/svgsprite/arrow_right_cotedazur.svg) 0 0 /10px 16px no-repeat;
          }
        }
      }
    }
    &-control{
      padding: 29px 0 0;
      display: flex;
      margin: 0 15px;
      >li{
        cursor: pointer;
        margin: 0 5px;
        position: relative;
      }
    }
  }
  &-comment{
    background: #f2f2f2;
    padding: 7px 10px;
    line-height: 1.7;
    margin: 0 #{$sideMargin};
    &-author{
      text-align: right;
      margin: 11px 0 0;
      font-size: 12.4px;
    }
    &+.#{$prefix}-section-comment{
      margin-top: 17px;
    }
    &+.#{$prefix}-section--button{
      margin-top: 30px;
    }
  }
  &--button{
    margin: 14px #{$sideMargin} 0;
    &-2col{
      display: flex;
      justify-content: space-between;
      >.tb_article_articleframe-button--orange{
        width: 325/670*100%;
      }
    }
  }
  &--textlink{
    text-align: right;
    font-size: 12.3px;
    margin: 8px #{$sideMargin} 0;
    a{
      color: $colorCoteDazur;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
