.#{$prefix}-article_outline{
  margin: 116px 0 0;
  border-top: 3px solid $colorBlue;
  &--headline{
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    padding: 21px 0 0;
    &-2{
      font-size: 23px;
      &+.#{$prefix}-article_outline--article{
        margin-top: 13px;
      }
    }
    &-3{
      font-size: 17px;
      font-weight: bold;
      margin: 5px 0 0;
    }
  }
  &--section{
    margin: 49px 0 0;
    &+.#{$prefix}-article_outline--section{
      margin-top: 74px;
    }
    >.#{$prefix}-article_outline--contents{
      margin-top: 25px;
    }
  }
  &--article{
    border-top: solid 1px #ccc;
    margin: 36px 0 0;
    padding: 20px 0 0;
    &+.#{$prefix}-article_outline--article{
      &.#{$prefix}-article_outline--qa{
        margin-top: 25px;
      }
    }
  }
  &--image{
    >a{
      @include hoverImage;
    }
  }
  &--contents{
    font-size: 15px;
    line-height: 1.55;
    p{
      margin: 1.5em 0 0;
      &+.#{$prefix}-article_outline--headline-3{
        margin: 1.8em 0 0;
      }
    }
    .#{$prefix}-article_outline--headline-3{
      &+p{
        margin: 11px 0 0;
      }
    }
  }
  &--flexbox{
    @mixin flexbox {
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
    }
    &-col2{
      @include flexbox;
      >.#{$prefix}-article_outline--flexbox-box1{
        width: 476px;
      }
    }
    &-col3{
      @include flexbox;
      >.#{$prefix}-article_outline--flexbox-box1{
        width: 308px;
      }
    }
  }
  &--caption{
    font-size: 13px;
    text-align: right;
    margin: 6px 0 0;
  }
  &--qa{
    min-height: 72px;
    &-q,
    &-a{
      padding: 7px 0 0 45px;
      box-sizing: border-box;
      line-height: 1.5;
      position: relative;
      &:before{
        position: absolute;
        top:7px;
        left:0;
        font-size: 37px;
        font-family: $fontFamily4;
        line-height: 1;
      }
      p+p{
        margin: 1.5em 0 0;
      }
    }
    &-q{
      color: $colorBlue;
      &:before{
        content:"Q.";
      }
    }
    &-a{
      font-size: 14.9px;
      line-height: 1.6;
      &:before{
        content:"A.";
      }
    }
  }
  a{
    color:$colorCoteDazur;
    text-decoration: none;
    @include hoverTransition;
    &:hover{
      color: #80b0ff !important;
    }
    &.#{$prefix}-textlink--blue{
      font-size: 13.5px;
      padding: 0 17px 0 0;
    }
  }
}
