.#{$prefix}-article_main_image{
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  .#{$prefix}-header--h4{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    padding: 54px 0 0;
    box-sizing: border-box;
    font-size: 40px;
    color: #FFF;
    line-height: 1.4;
  }
  .#{$prefix}-image--wide{

  }
}
