.#{$prefix}-article_body{
  margin: 0 auto;
  width: $widthBase;
  font-size: 16.4px;
  line-height: 1.6;
  >p{
    margin: 25px 0 0;
    &+.#{$prefix}-article_body--flexbox,
    &+.#{$prefix}-article_body--flexbox-reverse{
      margin-top: 84px;
    }
  }
  >.#{$prefix}-article_body--flexbox,
  >.#{$prefix}-article_body--flexbox-reverse,
  >.#{$prefix}-article_body--inner{
    margin-top: 90px;
  }
  @mixin flexbox {
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: relative;
    font-size: 16.3px;
    .#{$prefix}-fontbox--white{
      padding: 9px 13px;
      background: #FFF;
    }
  }
  &--flexbox{
    @include flexbox;
    &-reverse{
      @include flexbox;
      flex-direction: row-reverse;
      >div:first-child{
        padding-right: 0;
      }
    }
    &--left-middle{
      position: absolute;
      left: 0;
      text-align: left;
      top: 50%;
      transform: translateY(-50%);
      .#{$prefix}-fontbox--white{
        padding-left: 0;
      }
    }
    &--right-middle{
      position: absolute;
      right: 0;
      text-align: right;
      top: 50%;
      transform: translateY(-50%);
      .#{$prefix}-fontbox--white{
        padding-right: 0;
      }
    }
    >div:first-child{
      padding-right: 24px;
    }
  }
  &--inner{
    width: 700px;
    margin: 0 auto;
    font-size: 16.4px;
    line-height: 1.6;
    >.#{$prefix}-article_body--flexbox,
    >.#{$prefix}-article_body--flexbox-reverse{
        margin: 24px 0 0;
        .#{$prefix}-note{
          margin: 5px 0 0;
        }
    }
    >p{
      margin: 26px 0 0;
      &+.#{$prefix}-author{
        margin-top: 84px;
      }
    }
    .#{$prefix}-image--wide{
      margin: 85px 0 0;
    }
  }
}
