.#{$prefix}-article_section{
  max-width: 1280px;
  margin: 126px auto 0;
  position: relative;
  &-headline{
    line-height: 1.9;
    font-size: 18px;
    font-weight: bold;
  }
  >.#{$prefix}-image--wide{
    +.#{$prefix}-article_section-headline{
      position: absolute;
      top: -40px;
      width: 980px;
      left: 50%;
      margin: 0 0 0 -490px;
    }
  }
}
