.#{$prefix}_bread{
  font-family:$fontFamily2;
  width: #{$widthBase};
  margin: 0 auto;
  padding: 4px 0 9px;
  color: $colorBlue;
  font-size: 12px;
  a{
    color: $colorBlue;
    text-decoration: underline;
  }
  ol{
    overflow: hidden;
  }
  li{
    float: left;
    &:before{
      content: '>';
      margin: 0 4px;
    }
    &:first-child{
      &:before{
        content:none;
      }
    }
  }
}
