@mixin button {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 10px 40px 10px 20px;
  font-size: 15px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  @include hoverTransition;
  &[type="button"]{
    display: inline-block;
    appearance: none;
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    &::-webkit-search-decoration {
      display: none;
    }
    &::focus {
      outline-offset: -2px;
    }
  }
  >svg{
    width: 16px;
    height: 26px;
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    fill:#FFF;
  }
  &:hover{
    text-decoration: none;
    >svg{
    }
  }
}
.#{$prefix}{
  &-button{
    &--orange{
      @include button;
      background: $colorOrange;
      color: #FFF!important;
      >svg{
        fill: #FFF;
      }
      &:hover{
        background-color: #ffeed9;
        color:$colorOrange!important;
        >svg{
          fill:$colorOrange;
        }
      }
    }
    &--blue{
      @include button;
      background: $colorCoteDazur;
      color: #FFF!important;
      &:hover{
        background: #e5efff;
        color: $colorCoteDazur!important;
        >svg{
          fill:$colorCoteDazur;
        }
      }
    }
    &--green{
      @include button;
      background: $colorGreen;
      color: #FFF!important;
      >svg{
        fill: #FFF;
      }
      &:hover{
        background-color: #e0f4ed;
        color:$colorGreen!important;
        >svg{
          fill:$colorGreen;
        }
      }
    }
    &--blue-line{
      @include button;
      border: solid 2px $colorCoteDazur;
      color: $colorCoteDazur!important;
      height: 40px;
      >svg{
        fill: $colorCoteDazur;
      }
      &:hover{
        color: $colorCoteDazur;
        background-color: #e5efff;
        border-color: #e5efff;
        >svg{
          fill:$colorCoteDazur;
        }
      }
    }
    &--modal{
      @include button;
      border: solid 1px #c1c1c1;
      color: #FFF;
      text-align: left;
      font-size: 17px;
      line-height: 1.7;
      display: table;
      table-layout: fixed;
      width: 100%;
      text-decoration: none;
      background: #FFF;
      color: #000;
      padding: 0;
      &-text,
      &-icon{
        @include hoverTransition;
        display: table-cell;
        vertical-align: middle;
      }
      &-text{
        padding: 5px 19px;
        font-size: 15px;
        color: #000;
      }
      &-icon{
        border-left: solid 1px #c1c1c1;
        width: 46px;
        background: #eee;
        text-align: center;
      }
      svg{
        @include hoverTransition;
        right: 20/375*100%;
        fill:$colorCoteDazur;
        width: 16px;
        height: 16px;
      }
      &:hover{
        .#{$prefix}-button--modal-text{
          background-color: #f2f2f2;
          color: #808080;
        }
        .#{$prefix}-button--modal-icon{
          border-color: #f2f2f2;
          background-color: #f2f2f2;
        }
        svg{
          fill:#80b0ff;
        }
      }
    }
  }
}
