.#{$prefix}-contentsnavi{
  text-align: center;
  border-top: solid 1px #ccc;
  margin: 36px 0 0;
  padding: 19px 0 0;
  &--wrap{
    display: inline-block;
    text-align: left;
  }
  &--table{
    display: table;
    margin: 0 0 0 54px;
  }
  &--title{
    padding: 10px 15px 0 0;
    font-size: 18px;
    display: table-cell;
    vertical-align: top;
  }
  ul{
    display: table-cell;
    border-left: solid 1px #ccc;
    font-size: 18px;
    padding: 10px 0 10px 14px;
    vertical-align: top;
    >li{
      padding: 12px 0 0;
      &:first-child{
        padding-top: 0;
      }
      a{
        text-decoration: none;
        color:$colorCoteDazur;
        position: relative;
        padding: 0 0 0 22px;
        box-sizing: border-box;
        display: inline-block;
      }
    }
  }
  &--arrow{
    display: inline-block;
    width: 12px;
    height: 8px;
    position: absolute;
    left: 0;
    top: 0.4em;
  }
  &+.#{$prefix}-article_section{
    margin-top: 88px;
  }
}
