.#{$prefix}-fontbox{
  &--blueline{
    color: $colorBlue;
    background: #FFF;
    border: solid 1px $colorBlue;
    display: inline-block;
    margin: 10px 0 0;
    padding: 0 40px;
    font-size: 30px;
  }
  &--white{
    background: #FFF;
    display: inline-block;
  }
}
