
.#{$prefix}-headline{
  &-1{
    font-size: 21px;
    font-weight: normal;
    text-align: center;
  }
  &-2{
    font-size: 26px;
    line-height: 1.4;
    text-align: center;
    font-weight: normal;
    span{
      font-size: 15px;
      display: block;
      margin: 0 0 2px;
    }
  }
}
