.#{$prefix}-image{
  &--wide{
    width: 100%;
    margin: 0;
    >img{
      width: 100%;
      height: auto;
    }
  }
  &-gradation{
    &--black{
      position: relative;
      &:after{
        position: absolute;
        top: 0;
        left:0;
        right: 0;
        width: 100%;
        content:"";
        padding-bottom: 239px;
        background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.01));
      }
    }
  }
}
