.#{$prefix}-layout{
  @mixin flex {
    display: flex;
  }
  &--body{
    width: 980px;
    margin: 0 auto;
  }
  &--col2{
    @include flex;
    display: flex;
    justify-content: space-between;
    .#{$prefix}-link-2{
      width: 476px;
    }
    &+.#{$prefix}-layout--col3{
      margin-top: 50px;
    }
  }
  &--col3{
    @include flex;
    display: flex;
    justify-content: space-between;
    .#{$prefix}-link-2{
      width: 309px;
    }
    &+.#{$prefix}-layout--col2{
      margin-top: 50px;
    }
  }
  &--col2-center{
    @include flex;
    justify-content: center;
    &+.#{$prefix}-layout--col2{
      margin-top: 50px;
    }
  }
}
