
.#{$prefix}-link{
  &-1{
    display: block;
    text-decoration: none;
    margin: 15px 0 0;
    @include hoverTransition;
    @include hoverImage;
    &+.#{$prefix}-button--blue{
      margin-top: 33px;
    }
    &:hover{
      text-decoration: none;
      .#{$prefix}-link-text-1,
      .#{$prefix}-link-text-2{
        // color: #80b0ff;
        text-decoration: underline;
      }
    }
  }
  &-2{
    color: $colorCoteDazur;
    text-decoration: none;
    display: block;
    @include hoverImage;
    .#{$prefix}-link-recommend{
      position: absolute;
      top: 0;
      padding: 7px 11px;
      height: 50px;
      color: #FFF;
      font-size: 12px;
      width: 100%;
      box-sizing: border-box;
      background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.01));
    }
    .#{$prefix}-link-title{
      font-size: 17.7px;
      margin: 3px 0 0;
      line-height: 1.4;
      color: $colorCoteDazur;
    }
    .#{$prefix}-date{
      font-size: 12px;
      padding: 12px 0 0;
      color: #000;
    }
    &:hover{
      text-decoration: none;
      .#{$prefix}-link-title{
        // color: #80b0ff;
        text-decoration: underline;
        @include hoverTransition;
      }
    }
  }
  &-photo{
    width: 100%;
    margin: 0;
    position: relative;
    @include hoverTransition;
    >img{
      width: 100%;
    }
  }
  &-info{
    color: #000;
  }
  &-col2{
    margin: 11px 0 0;
    display: flex;
    justify-content: space-between;
    &-2{
      display: flex;
      justify-content: space-between;
      .#{$prefix}-link-photo{
        width: 202/670*100%;
      }
      .#{$prefix}-link-info{
        width: 430/670*100%;
        color: $colorCoteDazur;
      }
    }
    .#{$prefix}-link-photo{
      width: 140px;
      margin: 1px 0 0;
    }
    .#{$prefix}-link-info{
      width: 153px;
    }
  }
  &-text{
    &-1{
      font-size: 17.7px;
      margin: 10px 0 0;
      color: $colorCoteDazur;
      line-height: 1.4;
      @include hoverTransition;
    }
    &-2{
      font-size: 16.3px;
      color: $colorCoteDazur;
      @include hoverTransition;
    }
    &-3{
      font-size: 12px;
      margin: 2px 0 4px;
      color: #000;
      @include hoverTransition;
    }
  }
}
