.#{$prefix}-navigators{
  position: relative;
  float: right;
  padding: 50px 0 0;
  margin: 17px 8px 0 0;
  &--comment{
    position: absolute;
    top:0;
    left:50%;
    margin-left: -97px;
  }
  &--pictures{
    overflow: hidden;
    >li{
      float: left;
      width: 50px;
      height: 50px;
      overflow: hidden;
      margin: 0px 5px;
      >img{
        width: 100%;
        border-radius: 100%;
      }
    }
  }
}
