
.#{$prefix}-navigators_corner{
  margin: 34px auto 0;
  width: $widthBase;
  &-message{
    text-align: right;
    color: #4c4c4c;
    font-family: $fontFamily3;
    font-size: 11.5px;
    padding: 0 0 1px;
    margin: 0 -5px 0 0;
  }
  &-photo{
    margin: 0;
    text-align: right;
    padding: 0 6px;
  }
}
