.#{$prefix}-note{
  border-left: solid 4px #83c0ea;
  padding: 0 0 0 12px;
  &--headline{
    line-height: 1.2;
    font-size: 15.2px;
    padding: 1px 0 0;
    color: #000;
    font-weight: bold;
  }
  &--info{
    margin: 15px 0 0;
    line-height: 1.6;
    font-size: 14.5px;
    white-space: nowrap;
  }
}
