
.#{$prefix}-searchmap{
  border-bottom: solid 2px $colorBlue;
  height: 630px;
  background: #e6e6e6;
  .#{$prefix}-headline-2{
    padding: 27px 0 0;
    text-align: center;
    font-size: 21px;
  }
  &--map{
    background: url(#{$imgPath}tb_common_articleindex/map01.png) 12px 29px no-repeat;
    position: relative;
    height: 570px;
    &-1{
      top: 25px;
      left: 13px;
    }
    &-2{
      top: 79px;
      left: 200px;
    }
    &-3{
      top: 146px;
      left: 200px;
    }
    &-4{
      top: 224px;
      left: 200px;
    }
    &-5{
      top: 298px;
      left: 13px;
    }
    &-6{
      top: 436px;
      left: 13px;
    }
    &-7{
      top: 82px;
      left: 38px;
    }
    &-8{
      top: 111px;
      left: 166px;
    }
    &-9{
      top: 126px;
      left: 69px;
    }
    &-10{
      top: 170px;
      left: 49px;
    }
    &-11{
      top: 201px;
      left: 20px;
    }
    &-12{
      top: 228px;
      left: 20px;
    }
    &-13{
      top: 255px;
      left: 20px;
    }
    &-14{
      top: 373px;
      left: 20px;
    }
    &-15{
      top: 373px;
      left: 100px;
    }
    &-16{
      top: 439px;
      left: 200px;
    }
    &-17{
      top: 481px;
      left: 162px;
    }
    &-18{
      top: 527px;
      left: 20px;
    }
  }
  .#{$prefix}-button--green{
    position: absolute;
    display: inline-block;
    width: auto;
    height: auto;
    padding: 3px 18px 1px 6px;
    min-height: auto;
    font-size: 14px;
    >svg{
      width: 8px;
      height: 12px;
      right: 4px;
    }
  }
  .#{$prefix}-textlink--black{
    position: absolute;
    display: inline-block;
    padding: 0 13px 0 0;
    font-size: 14.8px;
    >svg{
      width: 8px;
      height: 12px;
      right: 0;
    }
  }
}
