
.#{$prefix}-searchbox{
  width: 238px;
  margin: 23px 13px 0;
  table-layout: fixed;
  vertical-align: middle;
  font-size: 14px;
  &+.#{$prefix}-searchbox{
    margin-top: 10px;
  }
  >dt{
    display: inline-block;
    text-align: center;
    color: #FFF;
    background: $colorGreen;
    line-height: 1.3;
    vertical-align: middle;
    position: relative;
    padding: 5px 8px 1px;
    box-sizing: border-box;
    font-size: 13px;
    white-space: nowrap;
  }
  >dd{
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
    display: flex;
    >.#{$prefix}-searchbox-inputbox{
      width: 118px;
    }
  }
  &-inputbox{
    background: #FFF;
    color: #000;
    &+.#{$prefix}-searchbox-inputbox{
      border-left:2px solid #e6e6e6;
    }
    &-textsmall{
      font-size: 12px;
      line-height: 1.2;
      color: #999;
    }
    &-date{
      font-size: 15px;
      line-height: 1.2;
      width: 100%;
      border: 0;
      padding: 2px 0 1px;
      &[type='date']::-webkit-inner-spin-button {
          display: none;
      }
      &::-webkit-clear-button,
      &::-webkit-calendar-picker-indicator{
          display: none;
      }
    }
  }
  &--inputform{
    display: block;
    width: 100%;
    font-size: 15px;
    padding: 3px 10px 0;
    box-sizing: border-box;
  }
  select,
  input{
    border: 0;
    border-radius: 0;
    appearance: none;
    background: #FFF;
    &::-ms-expand {
      display: none;
    }
  }
}
