
.#{$prefix}-searchhotel{
  padding: 0 0 19px;
  background: #e6e6e6;
  border-bottom: solid 2px $colorBlue;
  >.#{$prefix}-headline-1{
    padding: 8px 0 0;
  }
  >.#{$prefix}-subtitle-1{
    padding: 17px 0 0;
    &+.#{$prefix}-searchbox{
      margin-top: 22px;
    }
  }
  .#{$prefix}-button--orange{
    margin: 20px auto 0;
    width: 238px;
    display: flex;
    padding: 10px;
    justify-content: center;
    &+p{
      font-size: 14px;
      line-height: 1.6;
      width: 238px;
      margin: 17px auto 0;
    }
  }
  p+.#{$prefix}-button--orange{
    margin-top: 17px!important;
  }
}
