
.#{$prefix}-section{
  &-1{
    padding: 0;
    .#{$prefix}-headline-2{
      padding: 16px 0 0;
    }
    +.#{$prefix}-section-1{
      margin-top: 59px;
      border-top: 2px solid $colorBlue;
      .#{$prefix}-headline-2{
        padding-top: 36px;
      }
    }
  }
  &-article-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin:-4px 0 0;
    >.#{$prefix}-link-1{
      width: 309px;
      margin-top: 24px;
    }
    &+.#{$prefix}-button--blue{
      width: 336px;
      margin: 56px auto 0;
    }
  }
  &-list{
    margin: 34px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    >li{
      width: 309px;
      border-top: 1px solid #ccc;
      padding: 8px 0 14px;
      &:first-child{
        margin-top: 0;
      }
      .#{$prefix}-link-1{
        margin: 0;
        padding: 0;
      }
      >.#{$prefix}-textlink--blue{
        font-size: 15px;
        padding: 0 21px 0 0;
        margin: 5px 0 0;
        display: inline-block;
      }
    }
    &+.#{$prefix}-button--blue{
      width: 336px;
      margin: 40px auto 0;
    }
    .#{$prefix}-link-text-2{
      line-height: 1.6;
      font-size: 15.4px;
    }
  }
}
