$widthBase:980px;

$colorBlue:#124199;
$colorCoteDazur:#0062ff;
$colorOrange:#f08300;
$colorGreen:#37b48d;
$fontFamily1: "游ゴシック Medium", "Yu Gothic Medium","游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$fontFamily2: "游ゴシック Medium", "Yu Gothic Medium","游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$fontFamily3:"josefin_slabitalic";
$fontFamily4:"josefin_slablight";

$imgPath:'../images/';

@mixin hoverTransition {
  transition:all .2s ease-in-out;
}
@mixin hoverImage {
  transition:opacity .2s ease-in-out;
  &:hover{
    img{
      opacity: .5;
      @include hoverTransition;
    }
  }
}
@mixin hoverTextDecoration{
  @include hoverTransition;
  &:hover{
    text-decoration: underline;
  }
}
@font-face {
    font-family: 'josefin_slabitalic';
    src: url('josefinslab-italic-webfont.woff2') format('woff2'),
         url('josefinslab-italic-webfont.woff') format('woff'),
         url('josefinslab-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'josefin_slablight';
    src: url('josefinslab-light-webfont.woff2') format('woff2'),
         url('josefinslab-light-webfont.woff') format('woff'),
         url('josefinslab-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$mediaPhone: "only screen and (max-width: 360px)";
$mediaTablet: "only screen and (min-width: 768px)";
$mediaDesktop: "only screen and (min-width: 769px)";

$mediaPortrait:"screen and (orientation: portrait)";
$mediaLandscape:"screen and (orientation: landscape)";

@mixin clearfix() {
  &:after{
    content:" ";
    display:block;
    clear:both;
  }
}
