.#{$prefix}-tellme{
  border-top: solid 3px $colorBlue;
  margin-top: 89px;
  &--headline{
    font-size: 28px;
    margin: 43px 0 0;
    text-align: center;
  }
  .#{$prefix}-tellme--headline+.#{$prefix}-layout--col2{
    margin: 62px 0 0;
  }
  &--links{
    width: 462px;
  }
  &--category{
    text-align: center;
    font-size: 23px;
    line-height: 1.2;
  }
  &--article{
    &-list{
      border-bottom: solid 1px #ccc;
      margin: 16px 0 0;
      >li{
        border-top: solid 1px #ccc;
      }
    }
    &-title{
      font-size: 15.1px;
      line-height: 1.2;
      margin: 11px 0 0;
      font-weight: bold;
    }
    &-body{
      display: flex;
      margin: 15px 0 17px;
      justify-content: space-between;
    }
    &-photo{
      width: 140px;
      a{
        @include hoverImage;
      }
    }
    &-contents{
      width: 308px;
      font-size: 14.4px;
      line-height: 1.6;
      >p:first-child{
        margin-top: -3px;
      }
    }
    &-link{
      text-align: right;
      margin-top: 4px;
      .#{$prefix}-textlink--blue{
        padding: 0 20px 0 0;
        font-size: 13.6px;
      }
    }
  }
  .#{$prefix}-layout--col2{
    margin: 77px 0 0;
  }
}
