
.#{$prefix}-textlink{
  &--blue{
    color: $colorCoteDazur!important;
    position: relative;
    text-decoration: none;
    @include hoverTransition;
    >svg{
      @include hoverTransition;
      fill:$colorCoteDazur;
      width: 10px;
      height: 16px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover{
      color:#80b0ff!important;
      text-decoration: underline;
      >svg{
        fill:#80b0ff;
      }
    }
  }
  &--blue-modal{
    color: $colorCoteDazur!important;
    position: relative;
    text-decoration: none;
    @include hoverTextDecoration;
    >svg{
      @include hoverTransition;
      fill:$colorCoteDazur;
      width: 10px;
      height: 16px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover{
      color:#80b0ff!important;
      >svg{
        fill:#80b0ff;
      }
    }
  }
  &--black{
    color: #000!important;
    position: relative;
    text-decoration: none;
    >svg{
      fill:#000!important;
      width: 10px;
      height: 16px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
