.#{$prefix}-yesno{
  position: relative;
  padding-bottom: 640px;
  overflow: hidden;
  max-width: 1280px;
  margin: 0 auto;
  &--section{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 1s;
    z-index: 1;
    opacity: 0;
    &.is-active{
      opacity: 1;
      z-index: 2;
    }
  }
  &--question{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    box-sizing: border-box;
    padding: 0 90/750*100% 227px;
  }
  &--image{
    margin: 0;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    &:after{
      content:"";
      position: absolute;
      top:0;
      left:0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .3);
    }
    img{
      position: absolute;
      top: -100%;
      bottom: -100%;
      right: -100%;
      left: -100%;
      margin: auto;
    }
  }
  &--headline{
    color: #FFF;
    font-weight: normal;
    font-size: 40px;
    line-height: 1.5;
    text-align: center;
  }
  &--button{
    text-align: center;
    padding: 31px 0 0;
    &-yes,
    &-no{
      width: 80px;
      height: 80px;
      box-sizing: border-box;
      border: solid 3px #FFF;
      border-radius: 100%;
      line-height: 80px;
      font-family: $fontFamily4;
      text-decoration: none;
      text-align: center;
      margin: 0 13px;
      font-size: 24px;
      cursor: pointer;
      @include hoverTransition;
      &:hover{
        text-decoration: none;
      }
    }
    &-yes{
      display: inline-block;
      background: $colorCoteDazur;
      color: #FFF!important;
      &:hover{
        color: $colorCoteDazur!important;
        background-color: #e5efff;
      }
    }
    &-no{
      display: inline-block;
      background: #dcdcdc;
      color: #000!important;
      &:hover{
        color: #808080!important;
        background-color: #f2f2f2;
      }
    }
  }
}
