$prefix:'tb_article_articleframe';
@import "_setting";

.#{$prefix}{
  font-family:$fontFamily1;
  border-bottom: solid 3px $colorBlue;
  padding-bottom: 80px;
}
@import "_bread";
.#{$prefix}-common{
  &-clearfix{
    &:after{
      content:" ";
      display:block;
      clear:both;
    }
  }
}
@import "_align";
@import "_textlink";
@import "_margin";
@import "_note";
@import "_article_outline";
@import "_author";
@import "_fontcolor";
@import "_article_body";
@import "_button";
@import "_image";
@import "_article_section";
@import "_article_main_image";
@import "_fontbox";
@import "_description";
@import "_date";
@import "_contentsnavi";
.#{$prefix}-main_image{
  margin: 0 auto;
  max-width: 1416px;
  overflow: hidden;
  height: 234px;
  position: relative;
  >img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.#{$prefix}-header{
  width: $widthBase;
  margin: 0 auto;
  padding: 55px 0 0;
  &--h3{
    font-size: 14px;
  }
  &--h2{
    font-size: 40px;
    font-weight:normal;
    line-height: 1.4;
    padding: 9px 0 0;
  }
  &--outline{
    padding: 18px 0 0;
    line-height: 1.6;
    float: left;
  }
}

@import "_navigators";


@import "../../component/tb_article_articleframe-section/tb_article_articleframe-section";
// @import "../../component/tb_article_articleframe-modal/tb_article_articleframe-modal";
