$prefix:'tb_common_articleindex';
@import "_setting";


$fontFamily1: "游ゴシック Medium", "Yu Gothic Medium","游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$fontFamily2: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro","游ゴシック Medium", "Yu Gothic Medium","游ゴシック", YuGothic, "メイリオ", "Meiryo", sans-serif;
$fontFamily3:"josefin_slabitalic";
$fontFamily4:"josefin_slablight";
$sideMargin:floor((750-670)/2/750*100%);

@import "_bread";
.#{$prefix}{
  font-family:$fontFamily1;
  border-bottom: solid 3px $colorBlue;
  background: url(#{$imgPath}tb_common_articleindex/main_image.jpg) 50% 0 no-repeat;
  .#{$prefix}_bread{
    color: #FFF;
    a{
      color: #FFF;
    }
  }
}

.#{$prefix}_sightseeing{
  font-family:$fontFamily1;
  border-bottom: solid 3px $colorBlue;
  padding: 0 0 100px;
}
@import "_align";

.#{$prefix}-main_image{
  position: relative;
  height: 329px;
  width: $widthBase;
  margin: 0 auto;
  &--image{
  }
  &--picture{
    position: absolute;
    top: 127px;
    right: -9px;
  }
  &--title{
    background: rgba(0, 56, 148, .7);
    color: #FFF;
    width: 100%;
    position: absolute;
    width: 266px;
    height: 240px;
    padding: 0;
    left: 0;
    top: 29px;
    box-sizing: border-box;
    text-align: center;
    &-headline{
      font-size: 45px;
      padding: 52px 0 1px;
    }
    &-text{
      font-size: 16px;
      line-height: 1.8;
      padding: 15px 0 0;
    }
  }
}
.#{$prefix}--body{
  @include clearfix;
  width: $widthBase;
  margin: 0 auto;
}
.#{$prefix}--side{
  float: left;
  width: 266px;
  .#{$prefix}-section{
    &-1{
      border-bottom: solid 2px $colorBlue;
      background: #f2f2f2;
      padding: 0 13px 11px;
      .#{$prefix}-headline-2{
        font-size: 21px;
        text-align: center;
        padding: 17px 0 0;
      }
    }
    &-list{
      display: block;
      margin: 14px 0 0;
      li{
        padding: 10px 0 0;
        margin: 14px 0 0;
        width: 100%;
        &:first-child{
          margin-top: 0px;
        }
        .#{$prefix}-textlink--blue {
          font-size: 14px;
          >svg{
            width:12px;
            height: 18px;
          }
        }
      }
      .#{$prefix}-link-text-2 {
        width: 142px;
        font-size: 13.4px;
        line-height: 1.7;
      }
    }
  }
  .#{$prefix}-link-col2-2{
    .#{$prefix}-link-photo {
      width: 84px;
      margin: 5px 0 0;
    }
    .#{$prefix}-link-info {
      width: 142px;
    }
  }
}
.#{$prefix}--main{
  width: 714px;
  float: right;
  background: #FFF;
  padding: 0 30px 0 40px;
  box-sizing: border-box;
}

.#{$prefix}-sightseeing-copy{
  margin-top: 51px;
  font-size: 26px;
  text-align: center;
  line-height: 1.4;
  .#{$prefix}-textlink--blue-modal{
    font-size: 14px;
    padding: 0 23px 0 0;
    >svg{
      width: 17px;
      height: 17px;
    }
  }
  &+.#{$prefix}-layout--col2-center{
    margin: 28px 0 0;
    .#{$prefix}-button--modal{
      margin: 0 15px;
      width: 307px;
    }
  }
}

@import "_headline";
@import "_subtitle";
@import "_button";
@import "_textlink";
@import "_searchbox";
@import "_searchhotel";
@import "_searchmap";
@import "_section";
@import "_area";
@import "_link";
@import "_name";
@import "_price";
@import "_navigators_corner";
@import "_yesno";
@import "_article_body";
@import "_layout";
@import "_tellme";
@import "_fontcolor";
