<a href="#" class="tb_common_articleindex-link-2">
  <figure class="tb_common_articleindex-link-photo">
    <img data-lazyload="common/images/sightseeing_index/<%= param.photo.name %>" alt="" width="<%= param.photo.width %>" height="<%= param.photo.height %>">
    <div class="tb_common_articleindex-link-recommend">オススメ度：★★★</div>
  </figure>
  <div class="tb_common_articleindex-date">更新日　2017.2.24</div>
  <p class="tb_common_articleindex-link-title"><%= param.title %></p>
</a>
