$colorCoteDazur:#0062ff;
.tb_common_articleindex-modal{
  &-modalcontents{
    display: none;
    &-section{
      width: 100%;
    }
    &-title{
      padding: 27px 70px 23px floor(40/750*100%);
      font-size: 16px;
      font-weight: bold;
      line-height: 1.6;
    }
    &-body{
      border-top: solid 2px #ccc;
      padding: 0 floor(40/750*100%);
    }
    &--headline{
      font-size: 14px;
      font-weight: normal;
      padding: 15px 0;
    }
    &--list{
      border-bottom: solid 1px #ccc;
      >li{
        border-top: solid 1px #ccc;
      }
      &+.tb_common_articleindex-modal-modalcontents--headline{
        padding-top: 30px;
      }
    }
    &-body--col2{
      border-top: solid 2px #ccc;
      padding: 30px floor(40/750*100%);
    }
    &--left{
    }
    &--right{
      h3{
        font-size: 14px;
        font-weight: bold;
        line-height: 1.2;
      }
      p{
        margin-top: 12px;
        line-height: 1.6;
        font-size: 14px;
        &+h3{
          margin-top: 34px;
        }
      }
      a{
        color:$colorCoteDazur;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    &-link{
      color:$colorCoteDazur;
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      padding: 15px 0;
      .tb_common_articleindex-modal-modalcontents-image{
        width: 224/670*100%;
        margin: 0;
      }
      .tb_common_articleindex-modal-modalcontents-outline{
        width: 406/670*100%;
        box-sizing: border-box;
        padding: 0 14/406*100% 0 0;
      }
    }
  }
  &-cboxClose{
    // background: url(images/close.png) 50% 50% /10px 11px no-repeat $colorCoteDazur;
    display: block;
    background: url(images/close.png) 50% 50% no-repeat;
    background-color: $colorCoteDazur;
    appearance: none;
    background-size: 10px 11px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    position: fixed;
    border: 0;
    z-index: 99999;
  }
  &--modal{
    #cboxMiddleLeft,
    #cboxMiddleRight,
    #cboxTopCenter,
    #cboxTopLeft,
    #cboxTopRight,
    #cboxBottomLeft,
    #cboxBottomCenter,
    #cboxBottomRight{
      width: 0;
      height: 0;
    }
    #cboxLoadingOverlay{
      background: transparent;
    }
    #cboxLoadingGraphic{
      float: none!important;
      background: transparent;
      top: 50%;
      left: 50%;
      margin: 0!important;
      position: absolute!important;
    }
    #cboxLoadingGraphic,
    #cboxLoadingGraphic:before,
    #cboxLoadingGraphic:after {
      border-radius: 50%;
      width: 2.5em;
      height: 2.5em;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation: load7 1.8s infinite ease-in-out;
      animation: load7 1.8s infinite ease-in-out;
    }
    #cboxLoadingGraphic{
      color: #ffffff;
      font-size: 10px;
      margin: 80px auto;
      position: relative;
      text-indent: -9999em;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
    #cboxLoadingGraphic:before,
    #cboxLoadingGraphic:after {
      content: '';
      position: absolute;
      top: 0;
    }
    #cboxLoadingGraphic:before {
      left: -3.5em;
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }
    #cboxLoadingGraphic:after {
      left: 3.5em;
    }
    @-webkit-keyframes load7 {
      0%,
      80%,
      100% {
        box-shadow: 0 2.5em 0 -1.3em;
      }
      40% {
        box-shadow: 0 2.5em 0 0;
      }
    }
    @keyframes load7 {
      0%,
      80%,
      100% {
        box-shadow: 0 2.5em 0 -1.3em;
      }
      40% {
        box-shadow: 0 2.5em 0 0;
      }
    }
  }
}
#colorbox, #cboxOverlay, #cboxWrapper {
  z-index: 10000;
}
#cboxOverlay{
  background: rgba(0, 0, 0, .8);
}
