  <p>古宇利島は車で橋を渡りますが、今回はツウな楽しみ方としていろいろな「渡り方」を提案します。</p>
  <figure class="tb_article_articleframe-image--small"><img data-lazyload="../common/images/sightseeing_article_02/s/photo03.jpg" data-lazyload_placeholder="../common/images/lazyload/1x1.gif" data-lazyload_sporty alt="">
    <figcaption class="tb_article_articleframe-image--caption">ちなみに車で渡ると車内からはこんな景色が楽しめます。</figcaption>
  </figure>
  <figure class="tb_article_articleframe-image--middle"><img data-lazyload="../common/images/sightseeing_article_02/s/photo04.jpg" data-lazyload_placeholder="../common/images/lazyload/670x440.gif" data-lazyload_sporty alt="">
    <figcaption class="tb_article_articleframe-image--caption">古宇利島への乗馬体験は、今帰仁村の「OKINA HOURS」で予約することができます。</figcaption>
  </figure>
  <figure class="tb_article_articleframe-image--middle"><img data-lazyload="../common/images/sightseeing_article_02/s/photo05.jpg" data-lazyload_placeholder="../common/images/lazyload/670x440.gif" data-lazyload_sporty alt="">
    <figcaption class="tb_article_articleframe-image--caption">ビーチでは馬と一緒に泳ぐことも可能！カップルや友人、小さな子どもでも体験できます。</figcaption>
  </figure>
  <div class="tb_article_articleframe-note">
    <h4 class="tb_article_articleframe-note--headline">乗馬体験　OKINA HOURS</h4>
    <div class="tb_article_articleframe-note--info">営業時間：8時～19時<br>住所：沖縄県国頭郡今帰仁村謝名1331<br>問い合わせ：0980-56-4170<br>利用料金：2800円</div>
  </div>
  <div class="tb_article_articleframe-author">ローカル案内役　上地真理子</div>
