$colorCoteDazur:#0062ff;
.tb_common_articleindex-modal{
  &-modalcontents{
    display: none;
    &-title{
      font-size: 28px;
      padding: 50px floor(94/1080*100%) 56px floor(44/1080*100%);
      font-weight: bold;
      line-height: 1.2;
    }
    &-body{
      padding: 30px floor(50/1080*100%);
      border-top: solid 2px #ccc;
    }
    &--headline{
      font-size: 24px;
      line-height: 1.2;
    }
    &--list{
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      margin: 28px 0 0;
      >li{
        width: 465px;
        border-top: solid 1px #ccc;
        padding: 10px 0 30px;
      }
      &+.tb_common_articleindex-modal-modalcontents--headline{
        margin-top: 27px;
      }
    }
    &-link{
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      color:$colorCoteDazur;
    }
    &-image{
      width: 150px;
    }
    &-outline{
      width: 295px;
      font-size: 18px;
      line-height: 1.4;
    }
    &-body--col2{
      border-top: solid 2px #ccc;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: center;
      justify-content: center;
      flex-wrap: nowrap;
      padding: 30px floor(50/1080*100%);
    }
    &--left{
      margin: 0 floor(20/980*100%) 0 0;
      width:floor(380/980*100%);
      max-width: 380px;
      >img{
        max-width: 100%;
      }
    }
    &--right{
      width: floor(560/980*100%);
      max-width: 560px;
      margin: 0 0 0 floor(20/980*100%);
      h3{
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
      }
      p{
        margin-top: 14px;
        line-height: 1.6;
        font-size: 16px;
        &+h3{
          margin-top: 50px;
        }
      }
      a{
        color:$colorCoteDazur;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  &--modal{
    #cboxClose{
      background: url(images/close.png) 50% 50% no-repeat $colorCoteDazur;
      border-radius: 100%;
      width: 80px;
      height: 80px;
      top: 27px;
      right: 0;
      position: fixed;
    }
  }
  &-cboxClose{
    display: block;
    background: url(images/close.png) 50% 50% no-repeat;
    background-color: $colorCoteDazur;
    appearance: none;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    top: 46px;
    left: 50%;
    position: fixed;
    border: 0;
    z-index: 99999;
    margin-left: 430px;
    cursor: pointer;
  }
  &--modal{
    #cboxMiddleLeft,
    #cboxMiddleRight,
    #cboxTopCenter,
    #cboxTopLeft,
    #cboxTopRight,
    #cboxBottomLeft,
    #cboxBottomCenter,
    #cboxBottomRight{
      width: 0;
      height: 0;
    }
    #cboxContent{
      background: transparent;
    }
    #cboxLoadedContent{
      background: #FFF;
    }
    #cboxLoadingOverlay{
      background: transparent;
    }
    #cboxLoadingGraphic{
      float: none!important;
      background: transparent;
      top: 50%;
      left: 50%;
      margin: 0!important;
      position: absolute!important;
    }
    #cboxLoadingGraphic,
    #cboxLoadingGraphic:before,
    #cboxLoadingGraphic:after {
      border-radius: 50%;
      width: 2.5em;
      height: 2.5em;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation: load7 1.8s infinite ease-in-out;
      animation: load7 1.8s infinite ease-in-out;
    }
    #cboxLoadingGraphic{
      color: #ffffff;
      font-size: 10px;
      margin: 80px auto;
      position: relative;
      text-indent: -9999em;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
    #cboxLoadingGraphic:before,
    #cboxLoadingGraphic:after {
      content: '';
      position: absolute;
      top: 0;
    }
    #cboxLoadingGraphic:before {
      left: -3.5em;
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }
    #cboxLoadingGraphic:after {
      left: 3.5em;
    }
    @-webkit-keyframes load7 {
      0%,
      80%,
      100% {
        box-shadow: 0 2.5em 0 -1.3em;
      }
      40% {
        box-shadow: 0 2.5em 0 0;
      }
    }
    @keyframes load7 {
      0%,
      80%,
      100% {
        box-shadow: 0 2.5em 0 -1.3em;
      }
      40% {
        box-shadow: 0 2.5em 0 0;
      }
    }
  }
}

#cboxOverlay{
  background: rgba(0, 0, 0, .8);
  opacity: 0;
  transition:all .1s ease-in-out;
}
