.#{$prefix}-article_main_image{
  position: relative;
  &--headline{
    position: absolute;
    bottom: 0;
    padding: 0 #{$sideMargin} 1px;
    width: 100%;
    box-sizing: border-box;
    color: #FFF;
    text-align: center;
  }
  .#{$prefix}-date{
    padding: 3px 0 0;
  }
}
