.#{$prefix}-article_outline{
  margin: 60px 0 0;
  border-top: 3px solid $colorBlue;
  &--headline{
    text-align: center;
    font-size: 25px;
    font-weight: normal;
    padding: 25px $sideMargin 0;
  }
  &--hide{
    display: none;
  }
  &--article{
    padding: 0;
    p{
      margin: 19px 0 0;
      font-size: 14.1px;
    }
  }
  .#{$prefix}-more_content--cover{
  }
  a{
    color: $colorCoteDazur;
    text-decoration: none;
  }
}
