.#{$prefix}-article_section{
  margin: 75px 0 0;
  position: relative;
  &-headline{
    line-height: 1.9;
    font-size: 18px;
    font-weight: bold;
  }
  >.#{$prefix}-image--wide{
    +.#{$prefix}-article_section-headline{
      position: absolute;
      top: -22px;
      left:$sideMargin;
      right: $sideMargin;
    }
  }
  >p{
    margin: 16px $sideMargin 0;
    font-size: 14px;
    line-height: 1.6;
  }
}
