.#{$prefix}-contentsnavi{
  margin: 24px $sideMargin 0;
  border-top: solid 1px #bfbfbf;
  font-size: 15px;
  line-height: 1.4;
  &--title{
    font-size: 12px;
    padding: 12px 0 0;
    color: #666666;
    font-weight: bold;
  }
  ul{
    li{
      padding: 19px 0 0;
      &:first-child{
        padding-top: 16px;
      }
    }
  }
  &--arrow{
    display: inline-block;
    width: 12px;
    height: 8px;
    background: url(#{$imgPath}svg/svgsprite/arrow_down_cotedazur.svg) 0 50% no-repeat;
    background-size: 12px 8px;
    position: absolute;
    left: 0;
    top: 0.6em;
  }
  a{
    text-decoration: none;
    color:$colorCoteDazur;
    position: relative;
    padding: 0 0 0 22px;
    box-sizing: border-box;
    display: inline-block;
  }
}
