
.#{$prefix}-headline{
  &-1{
    font-size: 24px;
    font-weight: normal;
    text-align: center;
  }
  &-2{
    font-size: 26px;
    line-height: 1.4;
    text-align: left;
    font-weight: normal;
    span{
      font-size: 15px;
      display: block;
      margin: 0 0 2px;
    }
  }
  &-3{
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    padding: 35px 0 2px 0;
    border-bottom: solid 1px #83c0ea;
    &+.#{$prefix}-image--wide{
      margin-top: 16px;
    }
  }
}
