.#{$prefix}-image{
  &--wide{
    width: 100%;
    margin: 0;
    >img{
      width: 100%;
      height: auto;
    }
  }
  &--middle{
    margin: 33px $sideMargin 0;
  }
  &--small{
    width: 195px;
    margin: 35px auto 0;
  }
  &--caption{
    margin: 13px 0 0;
    line-height: 1.5;
    color: #4c4c4c;
    font-size: 14px;
  }
  &--caption-2{
    font-size: 11px;
    margin: 6px 0 0;
    line-height: 1.5;
    color: #aaaaaa;
  }
  &-gradation{
    &--black{
      position: relative;
      &:after{
        position: absolute;
        bottom: 0;
        left:0;
        right: 0;
        width: 100%;
        content:"";
        padding-bottom: 116px;
        background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.5));
      }
    }
  }
}
