.#{$prefix}-layout{
  @mixin flex {
    display: flex;
    justify-content: space-between;
  }
  &--col1{
    @include flex;
    width: 100%;
    margin: 23px 0 0;
  }
  &--col2{
    @include flex;
    &-1{
    }
  }
  &--col2-sidemargin{
    @include flex;
    margin: 23px 20/750*100% 0;
    &-1{
      width: 345/710*100%;
    }
    &.#{$prefix}--col2-sidemargin{
      margin-top: 23px;
    }
    .#{$prefix}-link-2{
      .#{$prefix}-link-recommend{
        padding-top: 9px;
        padding-left: 11/345*100%;
        padding-right: 11/345*100%;
      }
      .#{$prefix}-link-date{
        font-size: 12px;
      }
      .#{$prefix}-link-title{
        font-size: 15px;
      }
      .#{$prefix}-link-date,
      .#{$prefix}-link-title{
        padding: 1px 0;
      }
    }
  }
}
