
.#{$prefix}-link{
  &-1{
    display: block;
    text-decoration: none;
    margin: 15px 0 0;
    &+.#{$prefix}-link-1{
      margin-top: 29px;
    }
    &+.#{$prefix}-button--blue{
      margin-top: 33px;
    }
  }
  &-2{
    text-decoration: none;
    color: $colorCoteDazur;
    .#{$prefix}-date{
      color: #aaa;
      margin-top: 6px;
    }
    .#{$prefix}-link-title{
      margin-top: 1px;
      font-size: 18.1px;
    }
    .#{$prefix}-date,
    .#{$prefix}-link-title{
      padding: 0 $sideMargin;
      text-decoration: none;
    }
  }
  &-photo{
    width: 100%;
    margin: 0;
    position: relative;
    >img{
      width: 100%;
    }
    .#{$prefix}-link-recommend{
      position: absolute;
      top:0;
      width: 100%;
      box-sizing: border-box;
      padding: 15px $sideMargin 0;
    }
  }
  &-info{
    color: #000;
  }
  &-col2{
    margin: 12px 0 0;
    display: flex;
    justify-content: space-between;
    &-2{
      display: flex;
      justify-content: space-between;
      .#{$prefix}-link-photo{
        width: 202/670*100%;
      }
      .#{$prefix}-link-info{
        width: 430/670*100%;
        color: $colorCoteDazur;
      }
    }
    .#{$prefix}-link-photo{
      width: 40%;
    }
    .#{$prefix}-link-info{
      width: 54%;
    }
  }
  &-text{
    &-1{
      font-size: 17.7px;
      margin: 5px 0 0;
      color: $colorCoteDazur;
    }
    &-2{
      font-size: 16.3px;
      margin: 2px 0 0;
    }
    &-3{
      font-size: 12px;
      margin: 2px 0 4px;
      color: #000;
    }
  }
  &-recommend{
    color: #FFF;
    font-size: 12px;
  }
  &-title{
    font-size: 12px;
  }
}
