.#{$prefix}-main_image{
  position: relative;
  margin: 0;
  >img{
    width: 100%;
    height: auto;
  }
  &--image{
    width: 100%;
    margin: 0;
    position: relative;
    background-size: cover;
    padding-bottom: 100vw;
    @media #{$mediaLandscape}{
      padding-bottom: 100vh;
    }
    >img{
      width: 100%;
      height: auto;
    }
  }
  &--image2{
    width: 100%;
    margin: 0;
    position: relative;
    padding-bottom: 100vw;
    @media #{$mediaLandscape}{
      padding-bottom: 100vh;
    }
  }
  &--picture{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -10px;
  }
  &--title{
    background: rgba(0, 56, 148, .7);
    color: #FFF;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 19px $sideMargin 8px;
    box-sizing: border-box;
    text-align: center;
    &-headline{
      font-size: 30px;
      padding: 0 0 13px;
    }
    &-text{
      font-size: 16px;
      line-height: 1.8;
    }
  }
}
