.#{$prefix}-more_content{
  display: none;
  // overflow: hidden;
  // height: 0;
  // transition: height 1s;
  // &.#{$prefix}-readmore--open{
  //   height: auto;
  // }
  >p{
    padding: 16px $sideMargin 0;
  }
  &--cover{
    padding: 15px 60/750*100% 0;
    position: relative;
    &.is-opened{
      margin: 0;
      padding-top: 15px;
      &:after{
        content:none;
      }
    }
  }
}
