.#{$prefix}-navigators_corner{
  &-message{
    text-align: right;
    color: #4c4c4c;
    font-family: $fontFamily2;
    font-size: 11px;
    padding: 0 0 8px;
  }
  padding: 38px 20/750*100% 0;
  &-photo{
    margin: 0;
    text-align: right;
    img{
      width:199px;
      height: 56px;
    }
  }
}
