
.#{$prefix}-navigators{
  position: relative;
  padding: 50px 0 0;
  margin: 11px 0 0;
  &--comment{
    position: absolute;
    top:0;
    left:50%;
    margin-left: -95px;
    width: 191px;
    height: 35px;
  }
  &--pictures{
    display: flex;
    justify-content: center;
    >li{
      width: 50px;
      height: 50px;
      overflow: hidden;
      margin: 0px 5px;
      >img{
        width: 100%;
        border-radius: 100%;
      }
    }
  }
}
