.#{$prefix}-note{
  margin: 37px $sideMargin 0;
  border-left: solid 5px #83c0ea;
  padding: 0 0 0 16px;
  &--headline{
    line-height: 1.2;
    font-size: 17px;
    margin: -1px 0 0;
    color: #000;
  }
  &--info{
    margin: 9px 0 0;
    line-height: 1.5;
    font-size: 15px;
  }
}
