
.#{$prefix}-searchhotel{
  padding: 0 $sideMargin 50px;
  background: #e6e6e6;
  font-size: 15.2px;
  >.#{$prefix}-headline-1{
    padding: 22px 0 0;
  }
  >.#{$prefix}-subtitle-1{
    padding: 3px 0 0;
    &+.#{$prefix}-searchbox{
      margin-top: 22px;
    }
  }
  .#{$prefix}-button--orange{
    margin-top: 20px;
    justify-content: center;
    padding: 10px;
    &+p{
      margin-top: 27px;
    }
  }
}
