
.#{$prefix}-searchbox{
  display: table;
  width: 100%;
  table-layout: fixed;
  vertical-align: middle;
  font-size: 14px;
  &+.#{$prefix}-searchbox{
    margin: 20px 0 0;
  }
  >dt{
    display: table-cell;
    width: 55px;
    text-align: center;
    color: #FFF;
    background: $colorGreen;
    line-height: 1.3;
    vertical-align: middle;
    position: relative;
    padding: 2px 5px;
    box-sizing: border-box;
    position: relative;
    &:after{
      content:"";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 0 20px 8px;
      border-color: transparent transparent transparent $colorGreen;
      position: absolute;
      right: -8px;
      top:0;
      bottom: 0;
    }
    &+dd{
      padding-left: 6px;
    }
  }
  >dd{
    display: table-cell;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
  }
  &-inputbox{
    background: #FFF;
    color: #000;
    &+.#{$prefix}-searchbox-inputbox{
      border-left:2px solid #e6e6e6;
    }
    &-textsmall{
      font-size: 12px;
      line-height: 1.2;
      color: #999;
    }
    &-date{
      font-size: 15px;
      line-height: 1.2;
      width: 100%;
      border: 0;
      padding: 0;
    }
  }
  &--inputform{
    display: block;
    width: 100%;
    height: 40px;
    font-size: 15px;
    padding: 3px 12px;
    box-sizing: border-box;
  }
  select,
  input{
    border: 0;
    border-radius: 0;
    appearance: none;
    background: #FFF;
    margin: 0;
  }
}
