.#{$prefix}-section{
  &-1{
    padding: 0 $sideMargin;
    .#{$prefix}-headline-2{
      padding: 21px 0 0;
    }
    +.#{$prefix}-section-1{
      margin-top: 50px;
      border-top: 3px solid $colorBlue;
    }
  }
  &-list{
    margin: 14px 0 0;
    >li{
      border-top: 1px solid #ccc;
      padding: 8px 0 0;
      margin-top: 19px;
      &:first-child{
        margin-top: 0;
      }
      .#{$prefix}-link-1{
        margin: 0;
        padding: 0;
      }
      >.#{$prefix}-textlink--blue{
        font-size: 15px;
        padding: 0 21px 0 0;
        margin: 5px 0 0;
        display: inline-block;
      }
    }
    &+.#{$prefix}-button--blue{
      margin: 39px 0 0;
    }
  }
}
