
.#{$prefix}-tellme{
  &--article{
    &-list{
      margin: 21px 0;
      >li{
        border-top: solid 1px #ccc;
        margin: 21px 0 0;
        padding: 11px 0 0;
        &:first-child{
          border-top: 0;
          margin-top: 0;
          padding-top: 0;
        }
      }
    }
    &-link{
      display: block;
    }
    &-title{
      font-size: 16.2px;
      font-weight: normal;
      color: $colorCoteDazur;
    }
    &-body{
      overflow: hidden;
      margin: 12px 0 0;
    }
    &-photo{
      margin: 0 20px 10px 0;
      float: left;
      width: 40%;
    }
    &-contents{
      line-height: 1.6;
      margin: -3px 0 0;
      font-size: 15px;
      color: #000;
    }
  }
}
