
.#{$prefix}-textlink{
  &--blue{
    color: $colorCoteDazur;
    position: relative;
    text-decoration: none;
    >svg{
      fill:$colorCoteDazur;
      width: 10px;
      height: 16px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
