.#{$prefix}-yesno{
  position: relative;
  padding-bottom: floor(310/667*100vh);
  overflow: hidden;
  @media #{$mediaLandscape}{
    padding-bottom: floor(310/375*100vh);
  }
  &--section{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .6s;
    z-index: 1;
    opacity: 0;
    &.is-active{
      opacity: 1;
      z-index: 2;
    }
    &:last-child{
      .#{$prefix}-yesno--button-no{
      }
    }
  }
  &--question{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    box-sizing: border-box;
    padding: 0 90/750*100% 20px;
  }
  &--image{
    margin: 0;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    &:after{
      content:"";
      position: absolute;
      top:0;
      left:0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .3);
    }
    img{
      position: absolute;
      top: -100%;
      bottom: -100%;
      right: -100%;
      left: -100%;
      margin: auto;
    }
  }
  &--headline{
    color: #FFF;
    font-weight: normal;
    font-size: 23.7px;
    line-height: 1.5;
  }
  &--button{
    text-align: center;
    padding: 25px 0 0;
    &-yes,
    &-no{
      width: 65px;
      height: 65px;
      box-sizing: border-box;
      border: solid 3px #FFF;
      border-radius: 100%;
      line-height: 59px;
      font-family: $fontFamily4;
      text-decoration: none;
      text-align: center;
      margin: 0 10px;
      font-size: 22px;
    }
    &-yes{
      display: inline-block;
      background: $colorCoteDazur;
      color: #FFF;
    }
    &-no{
      display: inline-block;
      background: #dcdcdc;
      color: #000;
    }
  }
}
