$prefix:'tb_article_articleframe';
$mediaPhone: "only screen and (max-width: 360px)";
$mediaTablet: "only screen and (min-width: 768px)";
$mediaDesktop: "only screen and (min-width: 769px)";

$mediaPortrait:"screen and (orientation: portrait)";
$mediaLandscape:"screen and (orientation: landscape)";

$widthBase:980px;

$colorBlue:#124199;
$colorCoteDazur:#0062ff;
$colorOrange:#f08300;
$colorGreen:#37b48d;

$imgPath:'../../../common/images/';

$fontFamily1: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$fontFamily2: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro","游ゴシック", YuGothic,  "メイリオ", "Meiryo", sans-serif;
$fontFamily3:"josefin_slabitalic";

$sideMargin:floor((750-670)/2/750*100%);

@font-face {
    font-family: 'josefin_slabitalic';
    src: url('josefinslab-italic-webfont.woff2') format('woff2'),
         url('josefinslab-italic-webfont.woff') format('woff'),
         url('josefinslab-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
.#{$prefix}{
  font-family:$fontFamily1;
  border-bottom: solid 3px $colorBlue;
  padding-bottom: 80px;
}

.#{$prefix}{
  &--clearfix{
    &:after{
      content:" ";
      display:block;
      clear:both;
    }
  }
}
@import "_button";
@import "_article_main_image";
@import "_article";
@import "_contentsnavi";
@import "_article_section";
@import "_fontbox";
@import "_note";
@import "_author";
@import "_more_content";
@import "_description";
@import "_article_outline";
@import "_buttonlist";
@import "_headline";
@import "_fontcolor";
@import "_main_image";

.#{$prefix}-header{
  padding: 14px #{$sideMargin} 0;
  text-align: center;
  &--h3{
    font-size: 14px;
    font-weight: normal;
  }
  &--h2{
    font-size: 30px;
    line-height: 1.3;
    padding: 9px 0 0;
    font-weight: normal;
  }
  &--h4{
    font-size: 24px;
    line-height: 1.4;
    font-weight: normal;
  }
  &--outline{
    padding: 18px 0 0;
    line-height: 1.7;
    text-align: left;
  }
}
@import "_date";
@import "_navigators";
@import "_navigators_corner";
@import "_image";

@import "../../component/tb_article_articleframe-section/tb_article_articleframe-section"
