$prefix:'tb_common_articleindex';
$mediaPhone: "only screen and (max-width: 360px)";
$mediaTablet: "only screen and (min-width: 768px)";
$mediaDesktop: "only screen and (min-width: 769px)";

$mediaPortrait:"screen and (orientation: portrait)";
$mediaLandscape:"screen and (orientation: landscape)";


$widthBase:980px;

$colorBlue:#124199;
$colorCoteDazur:#0062ff;
$colorOrange:#f08300;
$colorGreen:#37b48d;


$fontFamily1: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$fontFamily2: "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro","游ゴシック", YuGothic,  "メイリオ", "Meiryo", sans-serif;
$fontFamily3:"josefin_slabitalic";
$fontFamily4:"josefin_slablight";

$imgPath:'../../../common/images/';
$sideMargin:floor((750-670)/2/750*100%);

@font-face {
    font-family: 'josefin_slabitalic';
    src: url('josefinslab-italic-webfont.woff2') format('woff2'),
         url('josefinslab-italic-webfont.woff') format('woff'),
         url('josefinslab-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'josefin_slablight';
    src: url('josefinslab-light-webfont.woff2') format('woff2'),
         url('josefinslab-light-webfont.woff') format('woff'),
         url('josefinslab-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@mixin clearfix {
  &:after{
    content:" ";
    display:block;
    clear:both;
  }
}

@import "_align";
@import "_headline";
@import "_button";
@import "_textlink";
@import "_searchbox";
@import "_searchhotel";

.#{$prefix}{
  font-family:$fontFamily1;
  border-bottom: solid 3px $colorBlue;
  padding-bottom: 80px;
}

.#{$prefix}-main_image{
  &--image{
    background: url(#{$imgPath}tb_common_articleindex/s/main_image.jpg) 50% 50% no-repeat;
  }
}
@import "_image";
@import "_main_image";
@import "_subtitle";
@import "_section";
@import "_area";
@import "_link";
@import "_name";
@import "_price";
@import "_navigators_corner";

@import "_yesno";
@import "_list";
@import "_date";
@import "_layout";
@import "_article_outline";
@import "_buttonlist";
@import "_more_content";
@import "_tellme";
@import "_fontcolor";
