.tb_article_articleframe-listmore{
  position: relative;
  &:after{
    content:"";
    height: 50px;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    background: linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,1));
    pointer-events: none;
  }
  .tb_article_articleframe-article_outline--hide{
    transition:padding 1s;
  }
  &.is-opened{
    &:after{
      content:none;
    }
    >li{
      &:last-of-type{
        .tb_article_articleframe-article_outline--hide{
          padding-bottom:0px;
        }
      }
    }
  }
  >li{
    &:last-of-type{
      .tb_article_articleframe-article_outline--hide{
        padding-bottom:50px;
      }
    }
  }
}
