
.#{$prefix}-section{
  margin: 23px 0 0;
  +.#{$prefix}-section{
    margin-top: 72px;
  }
  &--headline{
    border-bottom: solid 3px $colorBlue;
    padding: 0 0 5px;
  }
  &--h2{
    width: $widthBase;
    margin: 0 auto;
    color: $colorBlue;
    position: relative;
    padding: 0 0 0 48px;
    font-weight: bold;
    font-size: 13px;
    box-sizing: border-box;
  }
  &-number{
    background: $colorBlue;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-block;
    position: absolute;
    top: -13px;
    left: -11px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    font-family: $fontFamily3;
    font-size: 30px;
    >img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  &--body{
    width: $widthBase;
    margin: 0 auto;
  }
  &--h3{
    font-size: 26px;
    padding: 30px 22px 0;
    line-height: 1.4;
  }
  &-hotelinfo{
    padding: 4px 0 0;
    display: flex;
  }
  &-area{
    margin: 10px 10px 10px 18px;
    background: $colorBlue;
    color: #FFF;
    padding: 0 6px;
    font-size: 12px;
    line-height: 18px;
  }
  &-price{
    display: flex;
    font-size: 12px;
    padding: 10px 0 10px 10px;
    border-left: solid 1px #cccccc;
    >dd{
      font-size: 14px;
      padding: 0 0 0 28px;
    }
  }
  &-col2{
    display: flex;
    justify-content: space-between;
    padding: 19px 0 0;
  }
  &-left{
    width: 560px;
  }
  &-right{
    width: 392px;
    .#{$prefix}-button--orange{
      width: 100%;
    }
  }
  &-slider{
    &-main{
      width: 100%;
      height: 374px;
      overflow: hidden;
      &-photo{
        position: relative;
        background: #cdcdcd;
        &-caption{
          position: absolute;
          left:0;
          bottom: 0;
          max-width: 100%;
          padding:5px 20px;
          box-sizing: border-box;
          background: #FFF;
          font-size: 12px;
        }
      }
      >.slick-arrow{
        position: absolute;
        top:50%;
        z-index: 10;
        transform: translateY(-50%);
        border-style: none;
        display: inline-block;
        background: #FFF;
        width: 48px;
        height: 48px;
        overflow: hidden;
        text-indent: 100em;
        white-space: nowrap;
        box-sizing: border-box;
        cursor: pointer;
        &:after{
          content:"";
          display: inline-block;
          width: 16px;
          height: 26px;
          position: absolute;
          top:50%;
          left:50%;
          transform: translateX(-50%) translateY(-50%);
          @include hoverTransition;
        }
        &.slick-prev{
          left:0;
          &:after{
            background: url(/common/images/svg/svgsprite/arrow_left_cotedazur.svg) 0 0 no-repeat;
          }
        }
        &.slick-next{
          right:0;
          &:after{
            background: url(/common/images/svg/svgsprite/arrow_right_cotedazur.svg) 0 0 no-repeat;
          }
        }
        &:hover{
          // &.slick-prev{
          //   &:after{
          //     background-image: url(/common/images/svg/svgsprite/arrow_left_skymint.svg);
          //   }
          // }
          // &.slick-next{
          //   &:after{
          //     background-image: url(/common/images/svg/svgsprite/arrow_right_skymint.svg);
          //   }
          // }
          &:after{
            opacity: .1;
          }
        }
      }
    }
    &-control{
      padding: 29px 0 0;
      display: flex;
      margin: 0 15px;
      >li{
        cursor: pointer;
        margin: 0 5px;
        position: relative;
        img{
          @include hoverTransition;
        }
        &:hover{
          img{
            opacity: 0.5;
          }
        }
        &.slick-active{
          cursor: default;
          background: #000;
          img{
            opacity: 0.5;
          }
        }
      }
    }
  }
  &-comment{
    background: #f2f2f2;
    padding: 7px 10px;
    line-height: 1.7;
    &-author{
      text-align: right;
      margin: 10px 0 0;
      font-size: 12px;
    }
    &+.#{$prefix}-section-comment{
      margin-top: 10px;
    }
    &+.#{$prefix}-section--button{
      margin-top: 28px;
    }
  }
  &--button{
    margin: 14px 0 0;
    &-2col{
      display: flex;
      justify-content: space-between;
      >.tb_article_articleframe-button--orange{
        width: 190px;
      }
    }
  }
  &--textlink{
    text-align: right;
    font-size: 12.3px;
    margin-top: 8px;
    a{
      color: $colorCoteDazur;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
