<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>朝食が美味しいと人気 沖縄ホテル５選</title>
<meta name="keywords" content="テンプレート">
<meta name="description" content="テンプレート">
<meta property="og:title" content="テンプレート">
<meta property="og:description" content="テンプレート">
<meta property="og:url" content="http://www.tabirai.net/sightseeing/special/template/index.aspx">
<meta property="og:type" content="article">
<meta property="og:site_name" content="たびらい沖縄">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="canonical" href="http://www.tabirai.net/s/sightseeing/special/template/index.aspx">
<link rel="alternate" href="http://www.tabirai.net/s/sightseeing/special/template/index.aspx">
<link rel="start" href="http://www.tabirai.net/sightseeing/okinawa/" title="Home">
<link rel="shortcut icon" type="image/x-icon" href="http://www.tabirai.net/sightseeing/common/images/favicon.ico">
<link type="text/css" rel="stylesheet" href="http://www.tabirai.net/common/css/reset.css" />
<link type="text/css" rel="stylesheet" href="http://www.tabirai.net/common/css/base.css" />
<link type="text/css" rel="stylesheet" href="http://www.tabirai.net/sightseeing/common/css/common.css" />
<link rel="stylesheet" type="text/css" href="http://www.tabirai.net/sightseeing/common/css/special.css">
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.scroll.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.common.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.heightline.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.socialbutton.js"></script>
<!--↓↓こちらに追加のCSS・JSの読み込みタグをお願いいたします↓↓-->


<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./common/css/tb_article_articleframe.css" />
<script type="text/javascript" src="./common/js/tb_article_articleframe.js"></script>


<!--↑↑こちらに追加のCSS・JSの読み込みタグをお願いいたします↑↑-->



</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7&appId=254612787934271";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<span id="contentsGroup" style="display:none">okinawa</span>
<form method="post" action="" id="form1">
<!--スマートフォン版はこちら-->
<script type="text/javascript">
    function callback_logincheck(data) {
        if (data.rescode == "200" && data.login == "1" && data.familyname != null) {
            $("ul.gMylist>li:first-child>a").text("こんにちは、" + data.familyname + "様");
            $("ul.gMylist>li:first-child>ul>li").remove();
            var li1 = $('<li><span class="inner"><a href="https://www.tabirai.net/member/account/information.aspx" class="ui-btn">会員情報</a></span></li>');
            var li2 = $('<li><span class="inner"><a href="https://www.tabirai.net/member/logoutProcess.aspx" class="ui-btn">ログアウト</a></span></li>');
            $("ul.gMylist>li:first-child>ul").append(li1);
            $("ul.gMylist>li:first-child>ul").append(li2);
        }
    };
    document.write(unescape("%3Cscript src='" + document.location.protocol + "//www.tabirai.net/common/js/jquery.cookie-1.4.1.min.js' type='text/javascript'%3E%3C/script%3E"))
    document.write(unescape("%3Cscript src='" + document.location.protocol + "//www.tabirai.net/member/js/logincheck.js' type='text/javascript'%3E%3C/script%3E"))
//    document.write(unescape("%3Cscript src='" + document.location.protocol + "//192.168.3.22/common/js/jquery.cookie-1.4.1.min.js' type='text/javascript'%3E%3C/script%3E"))
//    document.write(unescape("%3Cscript src='" + document.location.protocol + "//192.168.3.22/member/js/logincheck.js' type='text/javascript'%3E%3C/script%3E"))
</script>
<link type="text/css" rel="stylesheet" href="http://www.tabirai.net/common/css/tabirai_header.css" />
<script type="text/javascript" src="http://www.tabirai.net/common/js/jquery.dropdown.js"></script>
<a id="top"></a>
<div id="headerWrap">
    <div class="gCassette">
        <div class="inner">
            <div class="gCassette__left">
                <p class="gDisc">沖縄の魅力を現地から発信する旅行予約サイト</p>
            </div>
            <div class="gCassette__right">
                <ul class="gMylist">
                    <li><a href="javascript:void(0)" class="tabirai-ui-icon i-down">たびらい会員</a>
                        <ul>
                            <li class="first"><span class="inner"><a href="https://www.tabirai.net/member/login.aspx" class="ui-btn">ログイン</a></span></li>
                            <li class="last"><span class="inner"><a href="https://www.tabirai.net/member/registration/input.aspx" class="ui-btn cv">会員登録（無料）</a></span></li>
                        </ul>
                    </li>
                    <li><a href="http://www.tabirai.net/member/reserveInformation.aspx">予約確認・キャンセル</a></li>
                    <li class="search__wrap">
                        <a class="search__submit"></a>
                    </li>
                </ul>
                <div class="pagesearch__wrap">
                    <dl class="pagesearch__keyword">
                        <dt>キーワードで検索</dt>
                        <dd>
							<div class="gss__wrapper">
                            	<script>
    							  (function() {
    							    var cx = '018273321206967384749:ddhxyu8zwye';
    							    var gcse = document.createElement('script');
    							    gcse.type = 'text/javascript';
    							    gcse.async = true;
    							    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
    							        '//cse.google.com/cse.js?cx=' + cx;
    							    var s = document.getElementsByTagName('script')[0];
    							    s.parentNode.insertBefore(gcse, s);
    							  })();
    							</script>
							<gcse:search></gcse:search>
							</div>
                            <p class="link__home"><a href="http://www.tabirai.net/">全国HOME</a></p>
                        </dd>
                    </dl>
                    <dl class="pagesearch__link">
                        <dt>都道府県から検索</dt>
                        <dd>
                            北海道・東北
                            <ul>
                                <li><a href="http://www.tabirai.net/sightseeing/hokkaido/">北海道</a></li>
                                <li><a href="http://www.tabirai.net/car/aomori/">青森</a></li>
                                <li><a href="http://www.tabirai.net/car/iwate/">岩手</a></li>
                                <li><a href="http://www.tabirai.net/car/miyagi/">宮城</a></li>
                                <li><a href="http://www.tabirai.net/car/akita/">秋田</a></li>
                                <li><a href="http://www.tabirai.net/car/yamagata/">山形</a></li>
                                <li><a href="http://www.tabirai.net/car/fukushima/">福島</a></li>
                            </ul>
                        </dd>
                        <dd>
                            関東・甲信越
                            <ul>
                                <li><a href="http://www.tabirai.net/car/tokyo/">東京</a></li>
                                <li><a href="http://www.tabirai.net/car/kanagawa/">神奈川</a></li>
                                <li><a href="http://www.tabirai.net/car/chiba/">千葉</a></li>
                                <li><a href="http://www.tabirai.net/car/saitama/">埼玉</a></li>
                                <li><a href="http://www.tabirai.net/car/gunma/">群馬</a></li>
                                <li><a href="http://www.tabirai.net/car/tochigi/">栃木</a></li>
                                <li><a href="http://www.tabirai.net/car/ibaraki/">茨城</a></li>
                                <li><a href="http://www.tabirai.net/car/niigata/">新潟</a></li>
                                <li><a href="http://www.tabirai.net/car/nagano/">長野</a></li>
                                <li><a href="http://www.tabirai.net/car/yamanashi/">山梨</a></li>
                            </ul>
                        </dd>
                        <dd>
                            東海・北陸
                            <ul>
                                <li><a href="http://www.tabirai.net/car/aichi/">愛知</a></li>
                                <li><a href="http://www.tabirai.net/car/gifu/">岐阜</a></li>
                                <li><a href="http://www.tabirai.net/car/mie/">三重</a></li>
                                <li><a href="http://www.tabirai.net/car/shizuoka/">静岡</a></li>
                                <li><a href="http://www.tabirai.net/car/toyama/">富山</a></li>
                                <li><a href="http://www.tabirai.net/car/ishikawa/">石川</a></li>
                                <li><a href="http://www.tabirai.net/car/fukui/">福井</a></li>
                            </ul>
                        </dd>
                        <dd>
                            関西
                            <ul>
                                <li><a href="http://www.tabirai.net/sightseeing/osaka/">大阪</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/kyoto/">京都</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/hyogo/">兵庫</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/nara/">奈良</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/shiga/">滋賀</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/wakayama/">和歌山</a></li>
                            </ul>
                        </dd>
                        <dd>
                            中国・四国
                            <ul>
                                <li><a href="http://www.tabirai.net/car/tottori/">鳥取</a></li>
                                <li><a href="http://www.tabirai.net/car/shimane/">島根</a></li>
                                <li><a href="http://www.tabirai.net/car/okayama/">岡山</a></li>
                                <li><a href="http://www.tabirai.net/car/hiroshima/">広島</a></li>
                                <li><a href="http://www.tabirai.net/car/yamaguchi/">山口</a></li>
                                <li><a href="http://www.tabirai.net/car/tokushima/">徳島</a></li>
                                <li><a href="http://www.tabirai.net/car/kagawa/">香川</a></li>
                                <li><a href="http://www.tabirai.net/car/ehime/">愛媛</a></li>
                                <li><a href="http://www.tabirai.net/car/kochi/">高知</a></li>
                            </ul>
                        </dd>
                        <dd>
                            九州・沖縄
                            <ul>
                                <li><a href="http://www.tabirai.net/sightseeing/fukuoka/">福岡</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/saga/">佐賀</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/nagasaki/">長崎</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/kumamoto/">熊本</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/oita/">大分</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/miyazaki/">宮崎</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/kagoshima/">鹿児島</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/okinawa/">沖縄</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="middleCassette">
        <div class="middleCassette--left">
            <p class="logo__wrap">
                <a href="http://www.tabirai.net/sightseeing/okinawa"><img src="http://www.tabirai.net/common/images/logomark.png" alt="たびらい"></a>
                <span>沖縄</span>
            </p>
        </div>
        <div class="middleCassette--right">
            <div class="category--list">
                <ul class="downLayerList" style="display:none;">
                    <li><a href="javascript:void(0)" class="tabirai-ui-icon i-down">他のカテゴリーを見る</a>
                        <ul>
                            <li ><a href="http://www.tabirai.net/sightseeing/okinawa/">沖縄観光情報</a></li>
                            <li ><a href="http://www.tabirai.net/tour/okinawa/">沖縄ツアー予約</a></li>
                            <li style="display:none;"><a href="http://option.okitour.net/special/sightseeingbus/">バスツアー予約（全国トップへ移動します）</a></li>
                            <li ><a href="http://www.tabirai.net/hotel/okinawa/">沖縄宿泊予約</a></li>
                            <li style="display:none;"><a href="http://onpara.jp/">沖縄宿泊予約（温泉パラダイス九州へ移動します）</a></li>
                            <li ><a href="http://car.okitour.net/">沖縄レンタカー予約</a></li>
                            <li ><a href="http://option.okitour.net/">沖縄アクティビティ予約</a></li>
                            <li ><a href="http://www.tabinchu.net/">たびカタログ</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navCassette" >
            <ul class="nav__wrap">
                <li class="nav__btn">
                    <a class="nav__btn--sightseeing layer__a active" href="http://www.tabirai.net/sightseeing/okinawa/">観光情報</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--tour layer__a " href="http://www.tabirai.net/tour/okinawa/">ツアー予約</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--hotel layer__a " href="http://www.tabirai.net/hotel/okinawa/">宿泊予約</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--car layer__a " href="http://car.okitour.net/">レンタカー予約</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--activity layer__a " href="http://option.okitour.net/">アクティビティ予約</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--bus layer__a busOki_link" href="http://option.okitour.net/special/sightseeingbus/">バスツアー予約</a>
                </li>
            </ul>
    </div>
		<div class="sitebarCassette downLayer">
        <div class="sitebar__wrap">
            <div class="sitebarCassette__left">
                <p class="site__name icon__hotel">沖縄ホテル予約</p>
            </div>
            <div class="sitebarCassette__right">
                <ul>
                    <li><a href="http://www.tabirai.net/hotel/okinawa/kinken/">お得な沖縄金券とは</a></li>
<li><a href="http://www.tabirai.net/hotel/tabishiori/info/">あなただけの旅しおりとは</a></li>
<li><a href="http://www.tabirai.net/hotel/okinawa/sitemap/">サイトマップ</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!--header//-->



<!--↓↓こちらにコーディングをお願いいたします↓↓-->
<main class="tb_article_articleframe">
<div class="tb_article_articleframe_bread">
	<ol itemscope="" itemtype="http://schema.org/WebPage">
		<li itemprop="breadcrumb" itemscope="" itemtype="http://schema.org/breadcrumb" class="first"><a itemprop="url" href="http://www.tabirai.net"><span itemprop="name">たびらい</span></a></li>
		<li itemprop="breadcrumb" itemscope="" itemtype="http://schema.org/breadcrumb"><a itemprop="url" href="/sightseeing/okinawa/"><span itemprop="name">ホテル・旅館宿泊予約</span></a></li>
		<li itemprop="breadcrumb" itemscope="" itemtype="http://schema.org/breadcrumb"><a itemprop="url" href="/sightseeing/special/"><span itemprop="name">推し宿®予約</span></a></li>
		<li itemprop="breadcrumb" itemscope="" itemtype="http://schema.org/breadcrumb" class="last"><span itemprop="name">朝食が美味しいと人気 沖縄ホテル５選</span></li>
	</ol>
</div>

<figure class="tb_article_articleframe-main_image">
	<img src="common/images/tb_article_articleframe/main_photo01.jpg" alt="">
</figure>

<div class="tb_article_articleframe-header">
	<p class="tb_article_articleframe-header--h3">ローカル案内役が選ぶ「推し宿」</p>
	<h1 class="tb_article_articleframe-header--h2">朝食が美味しいと人気　沖縄ホテル5選</h1>
	<div class="tb_article_articleframe-common-clearfix">
		<p class="tb_article_articleframe-header--outline">ライブクッキングや、和洋中の豊富なメニューなど、朝食自慢のホテルを紹介。<br>
		ゴーヤーなどの県産野菜や海ぶどうを使った沖縄料理も楽しめる。</p>
		<div class="tb_article_articleframe-navigators">
			<p class="tb_article_articleframe-navigators--comment"><img data-lazyload="common/images/tb_article_articleframe/comment01.png" alt="わたしたちローカル案内役がオススメします！" width="191" height="35"></p>
			<ul class="tb_article_articleframe-navigators--pictures">
				<li><img data-lazyload="common/images/tb_article_articleframe/navigator01.jpg" alt=""></li>
				<li><img data-lazyload="common/images/tb_article_articleframe/navigator02.jpg" alt=""></li>
				<li><img data-lazyload="common/images/tb_article_articleframe/navigator03.jpg" alt=""></li>
			</ul>
		</div>
	</div>
</div>
<%-
	include(
		'./component/tb_article_articleframe-section/_tb_article_articleframe-section',
		{
			param:{
				number:1,
				title:'海を望める広いテラス席で、優雅な朝食',
				hotel:{
					name:'ヒルトン沖縄北谷リゾート',
					area:'恩納村',
					price: '6,900 円〜（税抜）'
				},
				sliderPhoto:[
					{
						imagePath:'common/images/tb_article_articleframe/photo01.jpg',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo01-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo02.jpg',
						caption:'クチコミサイトでも朝食のおいしいホテルにランクイン',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo02-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo03.jpg',
						caption:'ライブクッキングが多く、出来たてがすぐ食べられる！',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo03-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo04.jpg',
						caption:'新鮮な沖縄県産野菜が約50種類並ぶサラダが豊富',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo04-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo05.jpg',
						caption:'100品以上のメニューが並ぶ朝食ブッフェ',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo05-small.jpg'
					}
				],
				comment:[
					{
						text:'和洋中、沖縄料理と種類豊富。卵の白身のみ使用した、ホワイトスクランブルエッグがあるのはめずらしい。また、オープンキッチンで焼かれたフレンチトーストを出来立てで食べられる。',
						author:'ローカル案内役 ｜ ホテル担当　上地真理子'
					},
					{
						text:'おすすめは、凍った鉄板の上でライブクッキングしてくれるフローズンヨーグルト。また紅イモバターでいただくパンも。テラス席は北谷の海を見ながら優雅な気分で朝食を食べられる。',
						author:'ローカル案内役 ｜ ホテル担当　金城徳門'
					}
				],
				buttons:1
			}
		}
	)
%>

<%-
	include(
		'./component/tb_article_articleframe-section/_tb_article_articleframe-section',
		{
			param:{
				number:2,
				title:'クチコミサイトでも朝食のおいしいホテルにランクイン',
				hotel:{
					name:'ホテル日航アリビラ',
					area:'読谷村',
					price: '6,900 円〜（税抜）'
				},
				sliderPhoto:[
					{
						imagePath:'common/images/tb_article_articleframe/photo01.jpg',
						caption:'海を望める広いテラス席で、優雅な朝食を',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo01-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo02.jpg',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo02-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo03.jpg',
						caption:'ライブクッキングが多く、出来たてがすぐ食べられる！',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo03-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo04.jpg',
						caption:'新鮮な沖縄県産野菜が約50種類並ぶサラダが豊富',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo04-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo05.jpg',
						caption:'100品以上のメニューが並ぶ朝食ブッフェ',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo05-small.jpg'
					}
				],
				comment:[
					{
						text:'こめ食バイキングコーナーでは、ふわふわ卵とじご飯や海ぶどうもずく醤油ごはんを、目の前で調理してくれる。また、化学調味料は一切使用せず、じっくりと取った出汁の茶漬け粥も美味しい。',
						author:'ローカル案内役 ｜ ホテル担当　上地真理子'
					},
					{
						text:'1日40食限定のぬちぐすい定食は、沖縄料理を中心としたうす味の健康食。開店後30分で売り切れる場合もあるほどの人気。無農薬、無添加にこだわった野菜ジュースもセット。',
						author:'ローカル案内役 ｜ ホテル担当　金城徳門'
					}
				],
				buttons:2
			}
		}
	)
%>

<%-
	include(
		'./component/tb_article_articleframe-section/_tb_article_articleframe-section',
		{
			param:{
				number:3,
				title:'ライブクッキングが多く、出来たてがすぐ食べられる！',
				hotel:{
					name:'オキナワ マリオット リゾート ＆ スパ',
					area:'名護市',
					price: '6,900 円〜（税抜）'
				},
				sliderPhoto:[
					{
						imagePath:'common/images/tb_article_articleframe/photo01.jpg',
						caption:'海を望める広いテラス席で、優雅な朝食を',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo01-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo02.jpg',
						caption:'クチコミサイトでも朝食のおいしいホテルにランクイン',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo02-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo03.jpg',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo03-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo04.jpg',
						caption:'新鮮な沖縄県産野菜が約50種類並ぶサラダが豊富',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo04-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo05.jpg',
						caption:'100品以上のメニューが並ぶ朝食ブッフェ',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo05-small.jpg'
					}
				],
				comment:[
					{
						text:'和洋中に沖縄料理も楽しめるが、おすすめは中華粥。トッピングに、高菜、ネギ、ピータン、ラー油などを付けられる満足の内容。また、魚焼き器があり、自分で焼く焼き魚も注目。',
						author:'ローカル案内役 ｜ ホテル担当　上地真理子'
					},
					{
						text:'ライブクッキングが充実！オムレツや、エッグベネディクト、日替わり小丼、揚げたてサーターアンダギーが、作りおきではなくアツアツできたてを食べられるのがうれしい。',
						author:'ローカル案内役 ｜ ホテル担当　金城徳門'
					}
				],
				buttons:1
			}
		}
	)
%>

<%-
	include(
		'./component/tb_article_articleframe-section/_tb_article_articleframe-section',
		{
			param:{
				number:4,
				title:'新鮮な沖縄県産野菜が約50種類並ぶサラダが豊富',
				hotel:{
					name:'ＥＭウェルネスリゾートコスタビスタ沖縄ホテル＆スパ',
					area:'北中城村',
					price: '6,900 円〜（税抜）'
				},
				sliderPhoto:[
					{
						imagePath:'common/images/tb_article_articleframe/photo01.jpg',
						caption:'海を望める広いテラス席で、優雅な朝食を',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo01-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo02.jpg',
						caption:'クチコミサイトでも朝食のおいしいホテルにランクイン',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo02-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo03.jpg',
						caption:'ライブクッキングが多く、出来たてがすぐ食べられる！',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo03-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo04.jpg',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo04-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo05.jpg',
						caption:'100品以上のメニューが並ぶ朝食ブッフェ',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo05-small.jpg'
					}
				],
				comment:[
					{
						text:'地元の人にも大人気！ゴーヤーやナーベラ（へちま）など、県産野菜がたくさん食べられる。野菜がゴロゴロとたっぷり入った、ちぎりパンが名物。石窯ピザは行列ができることも。',
						author:'ローカル案内役 ｜ ホテル担当　上地真理子'
					},
					{
						text:'おすすめは、はちみつ黒酢、黒酢ブドウ＆ベリーミックス、リンゴ酢マンゴーの3種のフルーツビネガーで作るドリンク。旅の疲れもすっきり！沖縄らしく琉球ガラスのボトルに入っている。',
						author:'ローカル案内役 ｜ ホテル担当　金城徳門'
					}
				],
				buttons:2
			}
		}
	)
%>

<%-
	include(
		'./component/tb_article_articleframe-section/_tb_article_articleframe-section',
		{
			param:{
				number:5,
				title:'100品以上のメニューが並ぶ朝食ブッフェ',
				hotel:{
					name:'ラグナガーデンホテル',
					area:'宜野湾',
					price: '6,900 円〜（税抜）'
				},
				sliderPhoto:[
					{
						imagePath:'common/images/tb_article_articleframe/photo01.jpg',
						caption:'海を望める広いテラス席で、優雅な朝食を',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo01-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo02.jpg',
						caption:'クチコミサイトでも朝食のおいしいホテルにランクイン',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo02-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo03.jpg',
						caption:'ライブクッキングが多く、出来たてがすぐ食べられる！',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo03-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo04.jpg',
						caption:'新鮮な沖縄県産野菜が約50種類並ぶサラダが豊富',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo04-small.jpg'
					},
					{
						imagePath:'common/images/tb_article_articleframe/photo05.jpg',
						thumbnailImagePath:'common/images/tb_article_articleframe/photo05-small.jpg'
					}
				],
				comment:[
					{
						text:'100種類以上と圧倒的なメニュー数を誇る朝食ブッフェ。ローストポークや常時10種以上が並ぶパンをはじめ、ソースと具が選べるオムレツはお替わりする人も多い人気メニュー。',
						author:'ローカル案内役 ｜ ホテル担当　上地真理子'
					},
					{
						text:'注目は「ラグ菜畑」と名付けられたサラダコーナー。20種近くの野菜が並び、生野菜だけでなく温菜や和え物などひと手間加えたメニューもある。サラダの他にスープやご飯類も充実。',
						author:'ローカル案内役 ｜ ホテル担当　金城徳門'
					}
				],
				buttons:1
			}
		}
	)
%>

<div class="tb_article_articleframe-modal-modalcontents">
	<section id="tb_article_articleframe-modal-modalcontents-1" class="tb_article_articleframe-modal-modalcontents-section">
		<h2 class="tb_article_articleframe-modal-modalcontents-title">「たびらいのホテル予約」と「施設の公式サイト予約」の違いについて</h2>
		<div class="tb_article_articleframe-modal-modalcontents-body--col2">
			<figure class="tb_article_articleframe-modal-modalcontents--left">
				<img src="common/images/tb_article_articleframe/photo06.jpg" alt="">
			</figure>
			<div class="tb_article_articleframe-modal-modalcontents--right">
				<h3 class="tb_article_articleframe-modal-modalcontents--headline">どちらも同じ宿泊料金です</h3>
				<p>たびらいホテルの宿泊プランは、施設の公式サイトと同じく最安値料金です。<br>どちらから予約しても一緒の金額です。</p>
				<h3 class="tb_article_articleframe-modal-modalcontents--headline">予約特典「あなただけの旅しおり」</h3>
				<p>たびらいのホテル予約をご利用された方には、沖縄を知り尽くしたローカル案内役が、無料で”あなたのためだけ” に観光ガイドを作成します。<br><a href="#">もっと詳しく</a></p>
				<h3 class="tb_article_articleframe-modal-modalcontents--headline">たびらいのホテル予約ならホテル比較が簡単</h3>
				<p>全ての施設が同じフォーマットなので、気になるホテルも見くらべ易くて、探しやすい。<br>予約の流れも一緒なので、ホテルの予約がスムーズです。</p>
			</div>
		</div>
	</section>
</div>
</main>
<!--↑↑こちらにコーディングをお願いいたします↑↑-->
<!--/container-->

<div class="okinawaImage" id="footer">
	<div class="pageTop"><a href="#top"><img alt="ページ先頭へ" src="http://www.tabirai.net/inc/images/footer/page_top.png"></a></div>
    <div id="footerMainLink" itemscope itemtype="http://schema.org/WPFooter">
        <div class="footer_cont">
            <div class="boxCont">
                <p class="hukidaciTTL01" itemprop="headline">どこへ旅しますか？</p>
                <ul class="mb10 area">
                    <li itemprop="alternativeHeadline"><b>北海道</b></li>
                    <li><a href="http://www.tabirai.net/sightseeing/hokkaido/" itemprop="alternativeHeadline">北海道旅行TOP</a></li>
                </ul>
                <ul class="mb10 area">
                    <li itemprop="alternativeHeadline"><b>関&nbsp;&nbsp;&nbsp;西</b></li>
                    <li><a href="http://www.tabirai.net/sightseeing/osaka/" itemprop="alternativeHeadline">大阪旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/kyoto/" itemprop="alternativeHeadline">京都旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/hyogo/" itemprop="alternativeHeadline">兵庫旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/nara/" itemprop="alternativeHeadline">奈良旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/shiga/" itemprop="alternativeHeadline">滋賀旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/wakayama/" itemprop="alternativeHeadline">和歌山旅行TOP</a></li>
                </ul>
                <ul class="mb10 area">
                    <li itemprop="alternativeHeadline"><b>九&nbsp;&nbsp;&nbsp;州</b></li>
                    <li><a href="http://www.tabirai.net/sightseeing/fukuoka/" itemprop="alternativeHeadline">福岡旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/saga/" itemprop="alternativeHeadline">佐賀旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/nagasaki/" itemprop="alternativeHeadline">長崎旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/kumamoto/" itemprop="alternativeHeadline">熊本旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/oita/" itemprop="alternativeHeadline">大分旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/miyazaki/" itemprop="alternativeHeadline">宮崎旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/kagoshima/" itemprop="alternativeHeadline">鹿児島旅行TOP</a></li>
                </ul>
                <ul class="area">
                    <li itemprop="alternativeHeadline"><b>沖&nbsp;&nbsp;&nbsp;縄</b></li>
                    <li><a href="http://www.tabirai.net/sightseeing/okinawa/" itemprop="alternativeHeadline">沖縄旅行TOP</a></li>
                </ul>
            </div><!--//boxCont-->
            <div class="boxCont">
                <p class="hukidaciTTL02" itemprop="headline">各都道府県の魅力をご覧ください</p>
                <ul class="sightseeing">
                    <li><a href="http://www.tabirai.net/sightseeing/hokkaido/tatsujin/" itemprop="alternativeHeadline">北海道観光情報</a></li>
                    <li class="ml25 kyusyu" itemprop="alternativeHeadline">九州観光情報│<a href="http://www.tabirai.net/sightseeing/fukuoka/tatsujin/" itemprop="alternativeHeadline">福岡</a><a href="http://www.tabirai.net/sightseeing/saga/tatsujin/" itemprop="alternativeHeadline">佐賀</a><a href="http://www.tabirai.net/sightseeing/nagasaki/tatsujin/" itemprop="alternativeHeadline">長崎</a><a href="http://www.tabirai.net/sightseeing/kumamoto/tatsujin/" itemprop="alternativeHeadline">熊本</a><a href="http://www.tabirai.net/sightseeing/oita/tatsujin/" itemprop="alternativeHeadline">大分</a><a href="http://www.tabirai.net/sightseeing/miyazaki/tatsujin/" itemprop="alternativeHeadline">宮崎</a><a href="http://www.tabirai.net/sightseeing/kagoshima/tatsujin/" itemprop="alternativeHeadline">鹿児島</a>│</li>
                    <li class="ml25"><a href="http://www.tabirai.net/sightseeing/okinawa/tatsujin/" itemprop="alternativeHeadline">沖縄観光情報</a></li>
                    <li class="ml25"><a href="http://www.tabirai.net/sightseeing/" itemprop="alternativeHeadline">全国観光情報</a></li>
                </ul>
            </div><!--//boxCont-->
            <div class="boxCont">
                <p class="hukidaciTTL03" itemprop="headline">旅を予約する</p>
                <ul class="reserve">
                    <li><a href="http://www.tabirai.net/tour/" itemprop="alternativeHeadline">ツアー（交通＋宿泊）予約</a></li>
                    <li class="ml25"><a href="http://www.tabirai.net/car/" itemprop="alternativeHeadline">レンタカー予約</a></li>
                    <li class="ml25"><a href="http://www.tabirai.net/bus/" itemprop="alternativeHeadline">バスツアー予約（北海道発・関東発・関西発・九州発）</a></li>
                </ul>
            </div><!--//boxCont-->
            <div class="boxCont">
				<p class="hukidaciTTL04" itemprop="headline">language</p>
                <ul class="reserve">
                    <li>Tabirai Japan (繁体中文)</li>
                    <li><a href="http://tc.tabirai.net/sightseeing/" itemprop="alternativeHeadline" target="_blank">觀光資訊</a></li>

                    <li><a href="http://tc.tabirai.net/car/" itemprop="alternativeHeadline" target="_blank">租車服務</a></li>
                    <li class="ml25">(English)</li>
                    <li><a href="http://en.tabirai.net/car/" itemprop="alternativeHeadline" target="_blank">Car Rental</a></li>
					<li class="ml25">(한국어)</li>
                    <li><a href="http://kr.tabirai.net/car/" itemprop="alternativeHeadline" target="_blank">렌트카 예약</a></li>
                </ul>
			</div><!--//boxCont-->
        </div><!--/footer_cont-->
	</div><!--//footerMainLink-->
    <div id="footerOtherLink">
        <div class="footer_cont">
            <ul>
                <li><a href="http://www.pam-info.co.jp/company/">会社概要</a></li>
                <li><a href="http://www.tabirai.net/termsofuse.aspx">ご利用規約と推奨環境</a></li>
                <li><a href="https://www.tabirai.net/member/policy.aspx">個人情報保護方針</a></li>
                <li><a href="http://www.pam-info.co.jp/recruit/">採用情報</a></li>
            </ul>
            <address>Copyright &copy; Pam, Inc. All Rights Reserved.</address>
        </div>
        <!--/footer_cont-->
    </div><!--//footerOtherLink-->
</div>
<!--/footer-->



</form>
</body>
</html>
