<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>沖縄のホテル予約｜たびらい沖縄</title>
<meta name="keywords" content="テンプレート">
<meta name="description" content="テンプレート">
<meta property="og:title" content="テンプレート">
<meta property="og:description" content="テンプレート">
<meta property="og:url" content="http://www.tabirai.net/sightseeing/special/template/index.aspx">
<meta property="og:type" content="article">
<meta property="og:site_name" content="たびらい沖縄">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="canonical" href="http://www.tabirai.net/s/sightseeing/special/template/index.aspx">
<link rel="alternate" href="http://www.tabirai.net/s/sightseeing/special/template/index.aspx">
<link rel="start" href="http://www.tabirai.net/sightseeing/okinawa/" title="Home">
<link rel="shortcut icon" type="image/x-icon" href="http://www.tabirai.net/sightseeing/common/images/favicon.ico">
<link type="text/css" rel="stylesheet" href="http://www.tabirai.net/common/css/reset.css" />
<link type="text/css" rel="stylesheet" href="http://www.tabirai.net/common/css/base.css" />
<link type="text/css" rel="stylesheet" href="http://www.tabirai.net/sightseeing/common/css/common.css" />
<link rel="stylesheet" type="text/css" href="http://www.tabirai.net/sightseeing/common/css/special.css">
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.scroll.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.common.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.heightline.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.socialbutton.js"></script>
<!--↓↓こちらに追加のCSS・JSの読み込みタグをお願いいたします↓↓-->


<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./common/css/tb_common_articleindex.css" />
<script type="text/javascript" src="./common/js/tb_common_articleindex.js"></script>


<!--↑↑こちらに追加のCSS・JSの読み込みタグをお願いいたします↑↑-->



</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7&appId=254612787934271";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<span id="contentsGroup" style="display:none">okinawa</span>
<form method="post" action="" id="form1">
<!--スマートフォン版はこちら-->
<script type="text/javascript">
    function callback_logincheck(data) {
        if (data.rescode == "200" && data.login == "1" && data.familyname != null) {
            $("ul.gMylist>li:first-child>a").text("こんにちは、" + data.familyname + "様");
            $("ul.gMylist>li:first-child>ul>li").remove();
            var li1 = $('<li><span class="inner"><a href="https://www.tabirai.net/member/account/information.aspx" class="ui-btn">会員情報</a></span></li>');
            var li2 = $('<li><span class="inner"><a href="https://www.tabirai.net/member/logoutProcess.aspx" class="ui-btn">ログアウト</a></span></li>');
            $("ul.gMylist>li:first-child>ul").append(li1);
            $("ul.gMylist>li:first-child>ul").append(li2);
        }
    };
    document.write(unescape("%3Cscript src='" + document.location.protocol + "//www.tabirai.net/common/js/jquery.cookie-1.4.1.min.js' type='text/javascript'%3E%3C/script%3E"))
    document.write(unescape("%3Cscript src='" + document.location.protocol + "//www.tabirai.net/member/js/logincheck.js' type='text/javascript'%3E%3C/script%3E"))
//    document.write(unescape("%3Cscript src='" + document.location.protocol + "//192.168.3.22/common/js/jquery.cookie-1.4.1.min.js' type='text/javascript'%3E%3C/script%3E"))
//    document.write(unescape("%3Cscript src='" + document.location.protocol + "//192.168.3.22/member/js/logincheck.js' type='text/javascript'%3E%3C/script%3E"))
</script>
<link type="text/css" rel="stylesheet" href="http://www.tabirai.net/common/css/tabirai_header.css" />
<script type="text/javascript" src="http://www.tabirai.net/common/js/jquery.dropdown.js"></script>
<a id="top"></a>
<div id="headerWrap">
    <div class="gCassette">
        <div class="inner">
            <div class="gCassette__left">
                <p class="gDisc">沖縄の魅力を現地から発信する旅行予約サイト</p>
            </div>
            <div class="gCassette__right">
                <ul class="gMylist">
                    <li><a href="javascript:void(0)" class="tabirai-ui-icon i-down">たびらい会員</a>
                        <ul>
                            <li class="first"><span class="inner"><a href="https://www.tabirai.net/member/login.aspx" class="ui-btn">ログイン</a></span></li>
                            <li class="last"><span class="inner"><a href="https://www.tabirai.net/member/registration/input.aspx" class="ui-btn cv">会員登録（無料）</a></span></li>
                        </ul>
                    </li>
                    <li><a href="http://www.tabirai.net/member/reserveInformation.aspx">予約確認・キャンセル</a></li>
                    <li class="search__wrap">
                        <a class="search__submit"></a>
                    </li>
                </ul>
                <div class="pagesearch__wrap">
                    <dl class="pagesearch__keyword">
                        <dt>キーワードで検索</dt>
                        <dd>
							<div class="gss__wrapper">
                            	<script>
    							  (function() {
    							    var cx = '018273321206967384749:ddhxyu8zwye';
    							    var gcse = document.createElement('script');
    							    gcse.type = 'text/javascript';
    							    gcse.async = true;
    							    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
    							        '//cse.google.com/cse.js?cx=' + cx;
    							    var s = document.getElementsByTagName('script')[0];
    							    s.parentNode.insertBefore(gcse, s);
    							  })();
    							</script>
							<gcse:search></gcse:search>
							</div>
                            <p class="link__home"><a href="http://www.tabirai.net/">全国HOME</a></p>
                        </dd>
                    </dl>
                    <dl class="pagesearch__link">
                        <dt>都道府県から検索</dt>
                        <dd>
                            北海道・東北
                            <ul>
                                <li><a href="http://www.tabirai.net/sightseeing/hokkaido/">北海道</a></li>
                                <li><a href="http://www.tabirai.net/car/aomori/">青森</a></li>
                                <li><a href="http://www.tabirai.net/car/iwate/">岩手</a></li>
                                <li><a href="http://www.tabirai.net/car/miyagi/">宮城</a></li>
                                <li><a href="http://www.tabirai.net/car/akita/">秋田</a></li>
                                <li><a href="http://www.tabirai.net/car/yamagata/">山形</a></li>
                                <li><a href="http://www.tabirai.net/car/fukushima/">福島</a></li>
                            </ul>
                        </dd>
                        <dd>
                            関東・甲信越
                            <ul>
                                <li><a href="http://www.tabirai.net/car/tokyo/">東京</a></li>
                                <li><a href="http://www.tabirai.net/car/kanagawa/">神奈川</a></li>
                                <li><a href="http://www.tabirai.net/car/chiba/">千葉</a></li>
                                <li><a href="http://www.tabirai.net/car/saitama/">埼玉</a></li>
                                <li><a href="http://www.tabirai.net/car/gunma/">群馬</a></li>
                                <li><a href="http://www.tabirai.net/car/tochigi/">栃木</a></li>
                                <li><a href="http://www.tabirai.net/car/ibaraki/">茨城</a></li>
                                <li><a href="http://www.tabirai.net/car/niigata/">新潟</a></li>
                                <li><a href="http://www.tabirai.net/car/nagano/">長野</a></li>
                                <li><a href="http://www.tabirai.net/car/yamanashi/">山梨</a></li>
                            </ul>
                        </dd>
                        <dd>
                            東海・北陸
                            <ul>
                                <li><a href="http://www.tabirai.net/car/aichi/">愛知</a></li>
                                <li><a href="http://www.tabirai.net/car/gifu/">岐阜</a></li>
                                <li><a href="http://www.tabirai.net/car/mie/">三重</a></li>
                                <li><a href="http://www.tabirai.net/car/shizuoka/">静岡</a></li>
                                <li><a href="http://www.tabirai.net/car/toyama/">富山</a></li>
                                <li><a href="http://www.tabirai.net/car/ishikawa/">石川</a></li>
                                <li><a href="http://www.tabirai.net/car/fukui/">福井</a></li>
                            </ul>
                        </dd>
                        <dd>
                            関西
                            <ul>
                                <li><a href="http://www.tabirai.net/sightseeing/osaka/">大阪</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/kyoto/">京都</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/hyogo/">兵庫</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/nara/">奈良</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/shiga/">滋賀</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/wakayama/">和歌山</a></li>
                            </ul>
                        </dd>
                        <dd>
                            中国・四国
                            <ul>
                                <li><a href="http://www.tabirai.net/car/tottori/">鳥取</a></li>
                                <li><a href="http://www.tabirai.net/car/shimane/">島根</a></li>
                                <li><a href="http://www.tabirai.net/car/okayama/">岡山</a></li>
                                <li><a href="http://www.tabirai.net/car/hiroshima/">広島</a></li>
                                <li><a href="http://www.tabirai.net/car/yamaguchi/">山口</a></li>
                                <li><a href="http://www.tabirai.net/car/tokushima/">徳島</a></li>
                                <li><a href="http://www.tabirai.net/car/kagawa/">香川</a></li>
                                <li><a href="http://www.tabirai.net/car/ehime/">愛媛</a></li>
                                <li><a href="http://www.tabirai.net/car/kochi/">高知</a></li>
                            </ul>
                        </dd>
                        <dd>
                            九州・沖縄
                            <ul>
                                <li><a href="http://www.tabirai.net/sightseeing/fukuoka/">福岡</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/saga/">佐賀</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/nagasaki/">長崎</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/kumamoto/">熊本</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/oita/">大分</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/miyazaki/">宮崎</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/kagoshima/">鹿児島</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/okinawa/">沖縄</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="middleCassette">
        <div class="middleCassette--left">
            <p class="logo__wrap">
                <a href="http://www.tabirai.net/sightseeing/okinawa"><img src="http://www.tabirai.net/common/images/logomark.png" alt="たびらい"></a>
                <span>沖縄</span>
            </p>
        </div>
        <div class="middleCassette--right">
            <div class="category--list">
                <ul class="downLayerList" style="display:none;">
                    <li><a href="javascript:void(0)" class="tabirai-ui-icon i-down">他のカテゴリーを見る</a>
                        <ul>
                            <li ><a href="http://www.tabirai.net/sightseeing/okinawa/">沖縄観光情報</a></li>
                            <li ><a href="http://www.tabirai.net/tour/okinawa/">沖縄ツアー予約</a></li>
                            <li style="display:none;"><a href="http://option.okitour.net/special/sightseeingbus/">バスツアー予約（全国トップへ移動します）</a></li>
                            <li ><a href="http://www.tabirai.net/hotel/okinawa/">沖縄宿泊予約</a></li>
                            <li style="display:none;"><a href="http://onpara.jp/">沖縄宿泊予約（温泉パラダイス九州へ移動します）</a></li>
                            <li ><a href="http://car.okitour.net/">沖縄レンタカー予約</a></li>
                            <li ><a href="http://option.okitour.net/">沖縄アクティビティ予約</a></li>
                            <li ><a href="http://www.tabinchu.net/">たびカタログ</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navCassette" >
            <ul class="nav__wrap">
                <li class="nav__btn">
                    <a class="nav__btn--sightseeing layer__a active" href="http://www.tabirai.net/sightseeing/okinawa/">観光情報</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--tour layer__a " href="http://www.tabirai.net/tour/okinawa/">ツアー予約</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--hotel layer__a " href="http://www.tabirai.net/hotel/okinawa/">宿泊予約</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--car layer__a " href="http://car.okitour.net/">レンタカー予約</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--activity layer__a " href="http://option.okitour.net/">アクティビティ予約</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--bus layer__a busOki_link" href="http://option.okitour.net/special/sightseeingbus/">バスツアー予約</a>
                </li>
            </ul>
    </div>
		<div class="sitebarCassette downLayer">
        <div class="sitebar__wrap">
            <div class="sitebarCassette__left">
                <p class="site__name icon__hotel">沖縄ホテル予約</p>
            </div>
            <div class="sitebarCassette__right">
                <ul>
                    <li><a href="http://www.tabirai.net/hotel/okinawa/kinken/">お得な沖縄金券とは</a></li>
<li><a href="http://www.tabirai.net/hotel/tabishiori/info/">あなただけの旅しおりとは</a></li>
<li><a href="http://www.tabirai.net/hotel/okinawa/sitemap/">サイトマップ</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!--header//-->



<!--↓↓こちらにコーディングをお願いいたします↓↓-->
<div class="tb_common_articleindex">
<div class="tb_common_articleindex_bread">
	<ol itemscope="" itemtype="http://schema.org/WebPage">
		<li itemprop="breadcrumb" itemscope="" itemtype="http://schema.org/breadcrumb" class="first"><a itemprop="url" href="http://www.tabirai.net"><span itemprop="name">たびらい</span></a></li>
		<li itemprop="breadcrumb" itemscope="" itemtype="http://schema.org/breadcrumb"><a itemprop="url" href="/sightseeing/okinawa/"><span itemprop="name">ホテル・旅館宿泊予約</span></a></li>
		<li itemprop="breadcrumb" itemscope="" itemtype="http://schema.org/breadcrumb" class="last"><span itemprop="name">推し宿®予約</span></li>
	</ol>
</div>

<div class="tb_common_articleindex-main_image">
	<figure class="tb_common_articleindex-main_image--image">
		<div class="tb_common_articleindex-main_image--picture"><img src="common/images/tb_common_articleindex/picture.png" alt="ローカル案内役がおすすめ！"></div>
	</figure>
	<div class="tb_common_articleindex-main_image--title">
		<h1 class="tb_common_articleindex-main_image--title-headline"><img src="common/images/tb_common_articleindex/main_title.png" alt="推し宿®予約"></h1>
		<p class="tb_common_articleindex-main_image--title-text">ローカル案内役が取材&提案<br>「あなただけの旅しおり」を<br>無料で作成</p>
	</div>
</div>

<div class="tb_common_articleindex--body">

	<div class="tb_common_articleindex--main">
		<section class="tb_common_articleindex-section-1">
			<h2 class="tb_common_articleindex-headline-2">今、読まれています！<br>旬の推し宿特集</h2>
			<div class="tb_common_articleindex-section-article-box">
				<%
					var oshiyadoArticle = [
						{
							"title":"朝食が美味しいと人気の沖縄ホテル５選",
						},
						{
							"title":"プールがすごい！沖縄ホテル５選",
						},
						{
							"title":"子どもが楽しめる沖縄ホテル５選",
						},
						{
							"title":"お手頃価格で泊まれるリゾートホテル５選",
						}
					]
				%>
				<% for(var i = 0; i < oshiyadoArticle.length; i++){ %>
				<a href="#" class="tb_common_articleindex-link-1">
					<figure class="tb_common_articleindex-link-photo"><img data-lazyload="common/images/tb_common_articleindex/photo0<%= i+1 %>.jpg" alt="" width="309" height="208"></figure>
					<p class="tb_common_articleindex-link-text-1"><%= oshiyadoArticle[i]["title"] %></p>
				</a>
				<% } %>
			</div>
			<a href="#" class="tb_common_articleindex-button--blue"><svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg>推し宿特集まとめ</a>
		</section>

		<section class="tb_common_articleindex-section-1">
			<h2 class="tb_common_articleindex-headline-2">おすすめポイントからホテルを探す</h2>
			<ul class="tb_common_articleindex-section-list">
				<%
					var pointArticle = [
						{
							"title":"沖縄最長の“3月～1月初旬”まで泳げる「ガーデンプール」",
							"area":"恩納村",
							"hotel":"ANAインターコンチネンタル万座ビーチリゾート",
							"price":"8,333"
						},
						{
							"title":"種類豊富でコスパが高い人気のスイーツビュッフェ",
							"area":"那覇",
							"hotel":"ロワジールホテル 那覇",
							"price":"5,625"
						},
						{
							"title":"ビーチとプール、水着のまま行き来ができる！",
							"area":"恩納村",
							"hotel":"リザンシーパークホテル谷茶ベイ",
							"price":"6,900"
						},
						{
							"title":"女性1人でも気軽に食事を楽しめる「DELi」",
							"area":"恩納村",
							"hotel":"カフーリゾートフチャク　コンド・ホテル",
							"price":"8,796"
						},
						{
							"title":"ビーチまでは無料シャトルバスでらくらく移動",
							"area":"恩納村",
							"hotel":"沖縄かりゆしビーチリゾート・オーシャンスパ",
							"price":"5,555"
						}
					]
				%>
				<% for(var i = 0; i < pointArticle.length; i++){ %>
				<li>
					<a href="#" class="tb_common_articleindex-link-1">
						<p class="tb_common_articleindex-link-text-2"><%= pointArticle[i]["title"] %></p>
						<div class="tb_common_articleindex-link-col2">
							<figure class="tb_common_articleindex-link-photo">
								<img data-lazyload="common/images/tb_common_articleindex/s/point_0<%= i+1 %>.jpg" alt="" width="140" height="106">
								<div class="tb_common_articleindex-area"><%= pointArticle[i]["area"] %></div>
							</figure>
							<div class="tb_common_articleindex-link-info">
								<div class="tb_common_articleindex-name"><%= pointArticle[i]["hotel"] %></div>
								<dl class="tb_common_articleindex-price">
									<dt>1泊1名あたり</dt>
									<dd><span><%= pointArticle[i]["price"] %></span> 円〜（税抜）</dd>
								</dl>
							</div>
						</div>
					</a>
				</li>
				<% } %>
			</ul>
			<a href="#" class="tb_common_articleindex-button--blue"><svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg>もっと見る</a>
		</section>

		<section class="tb_common_articleindex-section-1">
			<h2 class="tb_common_articleindex-headline-2"><span>[タイアップ] たびらい密着取材</span>ローカル案内役おすすめホテル特集</h2>
			<ul class="tb_common_articleindex-section-list">
				<%
					var tieupArticle = [
						{
							"title":"家族におすすめ！那覇で親子に優しいサービスが充実したリゾートホテル",
							"area":"那覇",
							"hotel":"ロワジールホテル 那覇",
							"price":"5,625"
						},
						{
							"title":"「沖縄のリゾートホテル」といえばココ！沖縄の伝統的ホテル",
							"area":"恩納村",
							"hotel":"ANAインターコンチネンタル万座ビーチリゾート",
							"price":"8,333"
						},
						{
							"title":"１キロの天然ビーチと島の森に囲まれたリゾートヴィラ",
							"area":"恩納村",
							"hotel":"JALプライベートリゾートオクマ",
							"price":"6,027"
						},
						{
							"title":"記念日におすすめ！大自然に囲まれた楽園リゾート",
							"area":"名護",
							"hotel":"カヌチャベイホテル＆ヴィラズ",
							"price":"10,185"
						},
						{
							"title":"食事も遊びもすべて込み！オールインクルーシブの魅力とは？",
							"area":"石垣島",
							"hotel":"クラブメッド石垣島",
							"price":"21,296"
						}
					]
				%>
				<% for(var i = 0; i < tieupArticle.length; i++){ %>
				<li>
					<a href="#" class="tb_common_articleindex-link-1">
						<% // <div class="tb_common_articleindex-link-text-3">[ タイアップ ]</div> %>
						<p class="tb_common_articleindex-link-text-2"><%= tieupArticle[i]["title"] %></p>
						<div class="tb_common_articleindex-link-col2">
							<figure class="tb_common_articleindex-link-photo">
								<img data-lazyload="common/images/tb_common_articleindex/s/tieup_0<%= i+1 %>.jpg" alt="" width="140" height="106">
								<div class="tb_common_articleindex-area"><%= tieupArticle[i]["area"] %></div>
							</figure>
							<div class="tb_common_articleindex-link-info">
								<div class="tb_common_articleindex-name"><%= tieupArticle[i]["hotel"] %></div>
								<dl class="tb_common_articleindex-price">
									<dt>1泊1名あたり</dt>
									<dd><span><%= tieupArticle[i]["price"] %></span> 円〜（税抜）</dd>
								</dl>
							</div>
						</div>
					</a>
				</li>
				<% } %>
			</ul>
		</section>

	</div>

	<aside class="tb_common_articleindex--side">

		<section class="tb_common_articleindex-searchhotel">
			<p class="tb_common_articleindex-subtitle-1">バケーションに適した厳選200宿を掲載！</p>
			<h2 class="tb_common_articleindex-headline-1">ホテルを探す</h2>
			<dl class="tb_common_articleindex-searchbox">
				<dt>
					宿泊エリア
				</dt>
				<dd class="tb_common_articleindex-searchbox-inputbox">
					<select name="ctl00$contentMain$index_top_search$AREA" id="" class="tb_common_articleindex-searchbox--inputform">
						<option value="">指定なし</option>
						<option value="1">■那覇・本島南部</option>
						<option value="14">├那覇</option>
						<option value="15">└南城・糸満・その他</option>
						<option value="2">■本島中部</option>
						<option value="16">├北谷・読谷</option>
						<option value="17">└宜野湾・沖縄市・その他</option>
						<option value="3">■本島北部</option>
						<option value="4">├恩納村</option>
						<option value="5">├名護</option>
						<option value="6">└本部・今帰仁・その他</option>
						<option value="7">■八重山諸島全域</option>
						<option value="8">├石垣島</option>
						<option value="9">└西表島・竹富島・その他</option>
						<option value="10">■宮古島</option>
						<option value="11">■本島周辺離島全域</option>
						<option value="12">├久米島・その他</option>
						<option value="13">└慶良間諸島</option>
					</select>
				</dd>
			</dl>
			<dl class="tb_common_articleindex-searchbox">
				<dt>日程</dt>
				<dd>
					<div class="tb_common_articleindex-searchbox-inputbox">
						<label class="tb_common_articleindex-searchbox--inputform">
							<div class="tb_common_articleindex-searchbox-inputbox-textsmall">チェックイン</div>
							<input type="date" name="date" value="2017-04-01" class="tb_common_articleindex-searchbox-inputbox-date">
						</label>
					</div>
					<div class="tb_common_articleindex-searchbox-inputbox">
						<label class="tb_common_articleindex-searchbox--inputform">
							<div class="tb_common_articleindex-searchbox-inputbox-textsmall">チェックアウト</div>
							<input type="date" name="date" value="2017-04-02" class="tb_common_articleindex-searchbox-inputbox-date">
						</label>
					</div>
				</dd>
			</dl>
			<dl class="tb_common_articleindex-searchbox">
				<dt>人数</dt>
				<dd>
					<div class="tb_common_articleindex-searchbox-inputbox">
						<select name="ctl00$contentMain$index_top_search$MEMBER1" id="" class="tb_common_articleindex-searchbox--inputform">
							<option value="">大人 0人</option>
							<option value="1">大人 1名</option>
							<option value="2">大人 2名</option>
							<option value="3">大人 3名</option>
							<option value="4">大人 4名</option>
							<option value="5">大人 5名</option>
							<option value="6">大人 6名</option>
							<option value="7">大人 7名</option>
							<option value="8">大人 8名</option>
							<option value="9">大人 9名</option>
						</select>
					</div>
					<div class="tb_common_articleindex-searchbox-inputbox">
						<select name="ctl00$contentMain$index_top_search$MEMBER1" id="" class="tb_common_articleindex-searchbox--inputform">
							<option value="">子ども 0人</option>
							<option value="1">子ども 1名</option>
							<option value="2">子ども 2名</option>
							<option value="3">子ども 3名</option>
							<option value="4">子ども 4名</option>
							<option value="5">子ども 5名</option>
							<option value="6">子ども 6名</option>
							<option value="7">子ども 7名</option>
							<option value="8">子ども 8名</option>
							<option value="9">子ども 9名</option>
						</select>
					</div>
				</dd>
			</dl>
			<dl class="tb_common_articleindex-searchbox">
				<dt>予算</dt>
				<dd>
					<div class="tb_common_articleindex-searchbox-inputbox">
						<select name="ctl00$contentMain$index_top_search$MEMBER1" id="" class="tb_common_articleindex-searchbox--inputform">
							<option value="">下限なし</option>
							<option value="1">子ども 1名</option>
							<option value="2">子ども 2名</option>
							<option value="3">子ども 3名</option>
							<option value="4">子ども 4名</option>
							<option value="5">子ども 5名</option>
							<option value="6">子ども 6名</option>
							<option value="7">子ども 7名</option>
							<option value="8">子ども 8名</option>
							<option value="9">子ども 9名</option>
						</select>
					</div>
					<div class="tb_common_articleindex-searchbox-inputbox">
						<select name="ctl00$contentMain$index_top_search$MEMBER1" id="" class="tb_common_articleindex-searchbox--inputform">
							<option value="">上限なし</option>
							<option value="1">子ども 1名</option>
							<option value="2">子ども 2名</option>
							<option value="3">子ども 3名</option>
							<option value="4">子ども 4名</option>
							<option value="5">子ども 5名</option>
							<option value="6">子ども 6名</option>
							<option value="7">子ども 7名</option>
							<option value="8">子ども 8名</option>
							<option value="9">子ども 9名</option>
						</select>
					</div>
				</dd>
			</dl>
			<input type="button" value="ホテルを検索" class="tb_common_articleindex-button--orange">
			<p>たびらいが予め選んだホテルを電話で相談して選ぶこともできます。</p>
			<a href="#" class="tb_common_articleindex-button--orange">電話で聞く</a>
		</section>

		<section class="tb_common_articleindex-searchmap">
			<h2 class="tb_common_articleindex-headline-2">地図からプランを探す</h2>
			<div class="tb_common_articleindex-searchmap--map">
				<a href="#" class="tb_common_articleindex-button--green tb_common_articleindex-searchmap--map-1">沖縄県全域<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				<a href="#" class="tb_common_articleindex-button--green tb_common_articleindex-searchmap--map-2">北部<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				<a href="#" class="tb_common_articleindex-button--green tb_common_articleindex-searchmap--map-3">中部<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				<a href="#" class="tb_common_articleindex-button--green tb_common_articleindex-searchmap--map-4">南部<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				<a href="#" class="tb_common_articleindex-button--green tb_common_articleindex-searchmap--map-5">本島周辺離島全域<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				<a href="#" class="tb_common_articleindex-button--green tb_common_articleindex-searchmap--map-6">八重山諸島全域<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				<a href="#" class="tb_common_articleindex-textlink--black tb_common_articleindex-searchmap--map-7">本部町・今帰仁村<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				<a href="#" class="tb_common_articleindex-textlink--black tb_common_articleindex-searchmap--map-8">名護市<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				<a href="#" class="tb_common_articleindex-textlink--black tb_common_articleindex-searchmap--map-9">恩納村<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				<a href="#" class="tb_common_articleindex-textlink--black tb_common_articleindex-searchmap--map-10">北谷町・読谷村<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				<a href="#" class="tb_common_articleindex-textlink--black tb_common_articleindex-searchmap--map-11">宜野湾市・浦添市・沖縄市<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				<a href="#" class="tb_common_articleindex-textlink--black tb_common_articleindex-searchmap--map-12">那覇市<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				<a href="#" class="tb_common_articleindex-textlink--black tb_common_articleindex-searchmap--map-13">南城市・糸満市・豊見城市<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				<a href="#" class="tb_common_articleindex-textlink--black tb_common_articleindex-searchmap--map-14">久米島<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				<a href="#" class="tb_common_articleindex-textlink--black tb_common_articleindex-searchmap--map-15">慶良間諸島<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				<a href="#" class="tb_common_articleindex-textlink--black tb_common_articleindex-searchmap--map-16">宮古島<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				<a href="#" class="tb_common_articleindex-textlink--black tb_common_articleindex-searchmap--map-17">石垣島<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				<a href="#" class="tb_common_articleindex-textlink--black tb_common_articleindex-searchmap--map-18">西表島・小浜島・竹富島<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
			</div>
		</section>

		<section class="tb_common_articleindex-section-1">
			<h2 class="tb_common_articleindex-headline-2">旅のニュース</h2>
			<ul class="tb_common_articleindex-section-list">
				<%
					var newsArticle = [
						{
							"title":"今年もONE PIECEの世界を走り抜けよう！「ONE PIECE RUN in沖縄2017」開催",
						},
						{
							"title":"「イベント民泊」で宿泊先が拡大！広島カープ優勝パレードに向け",
						},
						{
							"title":"沖縄県産キビ糖を使用！オリオンクラフトシリーズ第4弾「Ryukyu Mild（琉球マイルド）」が発売",
						},
						{
							"title":"片道6000円！ソラシドエアが期間限定で特別運賃「ソラシドスペシャル」を販売",
						},
						{
							"title":"本島中部の“うまいもの”が勢ぞろい！沖縄県総合運動公園で「第4回 ちゅーぶクワッチーフェスタ」開催",
						}
					]
				%>
				<% for(var i = 0; i < newsArticle.length; i++){ %>
				<li>
					<a href="#" class="tb_common_articleindex-link-1">
						<div class="tb_common_articleindex-link-col2-2">
							<figure class="tb_common_articleindex-link-photo">
								<img data-lazyload="common/images/tb_common_articleindex/s/news_0<%= i+1 %>.jpg" alt="">
							</figure>
							<div class="tb_common_articleindex-link-info">
								<div class="tb_common_articleindex-link-text-2"><%= newsArticle[i]["title"] %></div>
							</div>
						</div>
					</a>
				</li>
				<% } %>
				<li class="tb_common_articleindex-align--right">
					<a href="#" class="tb_common_articleindex-textlink--blue">もっと見る<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a>
				</li>
			</ul>

		</section>

	</aside>

</div>
<div class="tb_common_articleindex-navigators_corner">
	<p class="tb_common_articleindex-navigators_corner-message">私たち、ローカル案内役が取材しました！</p>
	<figure class="tb_common_articleindex-navigators_corner-photo"><img data-lazyload="common/images/tb_common_articleindex/navigators_corner.png" alt="" width="198" height="57"></figure>
</div>
</div>

<!--↑↑こちらにコーディングをお願いいたします↑↑-->
<!--/container-->

<div class="okinawaImage" id="footer">
	<div class="pageTop"><a href="#top"><img alt="ページ先頭へ" src="http://www.tabirai.net/inc/images/footer/page_top.png"></a></div>
    <div id="footerMainLink" itemscope itemtype="http://schema.org/WPFooter">
        <div class="footer_cont">
            <div class="boxCont">
                <p class="hukidaciTTL01" itemprop="headline">どこへ旅しますか？</p>
                <ul class="mb10 area">
                    <li itemprop="alternativeHeadline"><b>北海道</b></li>
                    <li><a href="http://www.tabirai.net/sightseeing/hokkaido/" itemprop="alternativeHeadline">北海道旅行TOP</a></li>
                </ul>
                <ul class="mb10 area">
                    <li itemprop="alternativeHeadline"><b>関&nbsp;&nbsp;&nbsp;西</b></li>
                    <li><a href="http://www.tabirai.net/sightseeing/osaka/" itemprop="alternativeHeadline">大阪旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/kyoto/" itemprop="alternativeHeadline">京都旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/hyogo/" itemprop="alternativeHeadline">兵庫旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/nara/" itemprop="alternativeHeadline">奈良旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/shiga/" itemprop="alternativeHeadline">滋賀旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/wakayama/" itemprop="alternativeHeadline">和歌山旅行TOP</a></li>
                </ul>
                <ul class="mb10 area">
                    <li itemprop="alternativeHeadline"><b>九&nbsp;&nbsp;&nbsp;州</b></li>
                    <li><a href="http://www.tabirai.net/sightseeing/fukuoka/" itemprop="alternativeHeadline">福岡旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/saga/" itemprop="alternativeHeadline">佐賀旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/nagasaki/" itemprop="alternativeHeadline">長崎旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/kumamoto/" itemprop="alternativeHeadline">熊本旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/oita/" itemprop="alternativeHeadline">大分旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/miyazaki/" itemprop="alternativeHeadline">宮崎旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/kagoshima/" itemprop="alternativeHeadline">鹿児島旅行TOP</a></li>
                </ul>
                <ul class="area">
                    <li itemprop="alternativeHeadline"><b>沖&nbsp;&nbsp;&nbsp;縄</b></li>
                    <li><a href="http://www.tabirai.net/sightseeing/okinawa/" itemprop="alternativeHeadline">沖縄旅行TOP</a></li>
                </ul>
            </div><!--//boxCont-->
            <div class="boxCont">
                <p class="hukidaciTTL02" itemprop="headline">各都道府県の魅力をご覧ください</p>
                <ul class="sightseeing">
                    <li><a href="http://www.tabirai.net/sightseeing/hokkaido/tatsujin/" itemprop="alternativeHeadline">北海道観光情報</a></li>
                    <li class="ml25 kyusyu" itemprop="alternativeHeadline">九州観光情報│<a href="http://www.tabirai.net/sightseeing/fukuoka/tatsujin/" itemprop="alternativeHeadline">福岡</a><a href="http://www.tabirai.net/sightseeing/saga/tatsujin/" itemprop="alternativeHeadline">佐賀</a><a href="http://www.tabirai.net/sightseeing/nagasaki/tatsujin/" itemprop="alternativeHeadline">長崎</a><a href="http://www.tabirai.net/sightseeing/kumamoto/tatsujin/" itemprop="alternativeHeadline">熊本</a><a href="http://www.tabirai.net/sightseeing/oita/tatsujin/" itemprop="alternativeHeadline">大分</a><a href="http://www.tabirai.net/sightseeing/miyazaki/tatsujin/" itemprop="alternativeHeadline">宮崎</a><a href="http://www.tabirai.net/sightseeing/kagoshima/tatsujin/" itemprop="alternativeHeadline">鹿児島</a>│</li>
                    <li class="ml25"><a href="http://www.tabirai.net/sightseeing/okinawa/tatsujin/" itemprop="alternativeHeadline">沖縄観光情報</a></li>
                    <li class="ml25"><a href="http://www.tabirai.net/sightseeing/" itemprop="alternativeHeadline">全国観光情報</a></li>
                </ul>
            </div><!--//boxCont-->
            <div class="boxCont">
                <p class="hukidaciTTL03" itemprop="headline">旅を予約する</p>
                <ul class="reserve">
                    <li><a href="http://www.tabirai.net/tour/" itemprop="alternativeHeadline">ツアー（交通＋宿泊）予約</a></li>
                    <li class="ml25"><a href="http://www.tabirai.net/car/" itemprop="alternativeHeadline">レンタカー予約</a></li>
                    <li class="ml25"><a href="http://www.tabirai.net/bus/" itemprop="alternativeHeadline">バスツアー予約（北海道発・関東発・関西発・九州発）</a></li>
                </ul>
            </div><!--//boxCont-->
            <div class="boxCont">
				<p class="hukidaciTTL04" itemprop="headline">language</p>
                <ul class="reserve">
                    <li>Tabirai Japan (繁体中文)</li>
                    <li><a href="http://tc.tabirai.net/sightseeing/" itemprop="alternativeHeadline" target="_blank">觀光資訊</a></li>

                    <li><a href="http://tc.tabirai.net/car/" itemprop="alternativeHeadline" target="_blank">租車服務</a></li>
                    <li class="ml25">(English)</li>
                    <li><a href="http://en.tabirai.net/car/" itemprop="alternativeHeadline" target="_blank">Car Rental</a></li>
					<li class="ml25">(한국어)</li>
                    <li><a href="http://kr.tabirai.net/car/" itemprop="alternativeHeadline" target="_blank">렌트카 예약</a></li>
                </ul>
			</div><!--//boxCont-->
        </div><!--/footer_cont-->
	</div><!--//footerMainLink-->
    <div id="footerOtherLink">
        <div class="footer_cont">
            <ul>
                <li><a href="http://www.pam-info.co.jp/company/">会社概要</a></li>
                <li><a href="http://www.tabirai.net/termsofuse.aspx">ご利用規約と推奨環境</a></li>
                <li><a href="https://www.tabirai.net/member/policy.aspx">個人情報保護方針</a></li>
                <li><a href="http://www.pam-info.co.jp/recruit/">採用情報</a></li>
            </ul>
            <address>Copyright &copy; Pam, Inc. All Rights Reserved.</address>
        </div>
        <!--/footer_cont-->
    </div><!--//footerOtherLink-->
</div>
<!--/footer-->



</form>
</body>
</html>
