<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>沖縄観光情報</title>
<meta name="keywords" content="テンプレート">
<meta name="description" content="テンプレート">
<meta property="og:title" content="テンプレート">
<meta property="og:description" content="テンプレート">
<meta property="og:url" content="http://www.tabirai.net/sightseeing/special/template/index.aspx">
<meta property="og:type" content="article">
<meta property="og:site_name" content="たびらい沖縄">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="canonical" href="http://www.tabirai.net/s/sightseeing/special/template/index.aspx">
<link rel="alternate" href="http://www.tabirai.net/s/sightseeing/special/template/index.aspx">
<link rel="start" href="http://www.tabirai.net/sightseeing/okinawa/" title="Home">
<link rel="shortcut icon" type="image/x-icon" href="http://www.tabirai.net/sightseeing/common/images/favicon.ico">
<link type="text/css" rel="stylesheet" href="http://www.tabirai.net/common/css/reset.css" />
<link type="text/css" rel="stylesheet" href="http://www.tabirai.net/common/css/base.css" />
<link type="text/css" rel="stylesheet" href="http://www.tabirai.net/sightseeing/common/css/common.css" />
<link rel="stylesheet" type="text/css" href="http://www.tabirai.net/sightseeing/common/css/special.css">
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.scroll.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.common.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.heightline.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.socialbutton.js"></script>
<!--↓↓こちらに追加のCSS・JSの読み込みタグをお願いいたします↓↓-->


<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./common/css/tb_common_articleindex.css" />
<script type="text/javascript" src="./common/js/tb_common_articleindex.js"></script>


<!--↑↑こちらに追加のCSS・JSの読み込みタグをお願いいたします↑↑-->



</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7&appId=254612787934271";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<span id="contentsGroup" style="display:none">okinawa</span>
<form method="post" action="" id="form1">
<!--スマートフォン版はこちら-->
<script type="text/javascript">
    function callback_logincheck(data) {
        if (data.rescode == "200" && data.login == "1" && data.familyname != null) {
            $("ul.gMylist>li:first-child>a").text("こんにちは、" + data.familyname + "様");
            $("ul.gMylist>li:first-child>ul>li").remove();
            var li1 = $('<li><span class="inner"><a href="https://www.tabirai.net/member/account/information.aspx" class="ui-btn">会員情報</a></span></li>');
            var li2 = $('<li><span class="inner"><a href="https://www.tabirai.net/member/logoutProcess.aspx" class="ui-btn">ログアウト</a></span></li>');
            $("ul.gMylist>li:first-child>ul").append(li1);
            $("ul.gMylist>li:first-child>ul").append(li2);
        }
    };
    document.write(unescape("%3Cscript src='" + document.location.protocol + "//www.tabirai.net/common/js/jquery.cookie-1.4.1.min.js' type='text/javascript'%3E%3C/script%3E"))
    document.write(unescape("%3Cscript src='" + document.location.protocol + "//www.tabirai.net/member/js/logincheck.js' type='text/javascript'%3E%3C/script%3E"))
//    document.write(unescape("%3Cscript src='" + document.location.protocol + "//192.168.3.22/common/js/jquery.cookie-1.4.1.min.js' type='text/javascript'%3E%3C/script%3E"))
//    document.write(unescape("%3Cscript src='" + document.location.protocol + "//192.168.3.22/member/js/logincheck.js' type='text/javascript'%3E%3C/script%3E"))
</script>
<link type="text/css" rel="stylesheet" href="http://www.tabirai.net/common/css/tabirai_header.css" />
<script type="text/javascript" src="http://www.tabirai.net/common/js/jquery.dropdown.js"></script>
<a id="top"></a>
<div id="headerWrap">
    <div class="gCassette">
        <div class="inner">
            <div class="gCassette__left">
                <p class="gDisc">沖縄の魅力を現地から発信する旅行予約サイト</p>
            </div>
            <div class="gCassette__right">
                <ul class="gMylist">
                    <li><a href="javascript:void(0)" class="tabirai-ui-icon i-down">たびらい会員</a>
                        <ul>
                            <li class="first"><span class="inner"><a href="https://www.tabirai.net/member/login.aspx" class="ui-btn">ログイン</a></span></li>
                            <li class="last"><span class="inner"><a href="https://www.tabirai.net/member/registration/input.aspx" class="ui-btn cv">会員登録（無料）</a></span></li>
                        </ul>
                    </li>
                    <li><a href="http://www.tabirai.net/member/reserveInformation.aspx">予約確認・キャンセル</a></li>
                    <li class="search__wrap">
                        <a class="search__submit"></a>
                    </li>
                </ul>
                <div class="pagesearch__wrap">
                    <dl class="pagesearch__keyword">
                        <dt>キーワードで検索</dt>
                        <dd>
							<div class="gss__wrapper">
                            	<script>
    							  (function() {
    							    var cx = '018273321206967384749:ddhxyu8zwye';
    							    var gcse = document.createElement('script');
    							    gcse.type = 'text/javascript';
    							    gcse.async = true;
    							    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
    							        '//cse.google.com/cse.js?cx=' + cx;
    							    var s = document.getElementsByTagName('script')[0];
    							    s.parentNode.insertBefore(gcse, s);
    							  })();
    							</script>
							<gcse:search></gcse:search>
							</div>
                            <p class="link__home"><a href="http://www.tabirai.net/">全国HOME</a></p>
                        </dd>
                    </dl>
                    <dl class="pagesearch__link">
                        <dt>都道府県から検索</dt>
                        <dd>
                            北海道・東北
                            <ul>
                                <li><a href="http://www.tabirai.net/sightseeing/hokkaido/">北海道</a></li>
                                <li><a href="http://www.tabirai.net/car/aomori/">青森</a></li>
                                <li><a href="http://www.tabirai.net/car/iwate/">岩手</a></li>
                                <li><a href="http://www.tabirai.net/car/miyagi/">宮城</a></li>
                                <li><a href="http://www.tabirai.net/car/akita/">秋田</a></li>
                                <li><a href="http://www.tabirai.net/car/yamagata/">山形</a></li>
                                <li><a href="http://www.tabirai.net/car/fukushima/">福島</a></li>
                            </ul>
                        </dd>
                        <dd>
                            関東・甲信越
                            <ul>
                                <li><a href="http://www.tabirai.net/car/tokyo/">東京</a></li>
                                <li><a href="http://www.tabirai.net/car/kanagawa/">神奈川</a></li>
                                <li><a href="http://www.tabirai.net/car/chiba/">千葉</a></li>
                                <li><a href="http://www.tabirai.net/car/saitama/">埼玉</a></li>
                                <li><a href="http://www.tabirai.net/car/gunma/">群馬</a></li>
                                <li><a href="http://www.tabirai.net/car/tochigi/">栃木</a></li>
                                <li><a href="http://www.tabirai.net/car/ibaraki/">茨城</a></li>
                                <li><a href="http://www.tabirai.net/car/niigata/">新潟</a></li>
                                <li><a href="http://www.tabirai.net/car/nagano/">長野</a></li>
                                <li><a href="http://www.tabirai.net/car/yamanashi/">山梨</a></li>
                            </ul>
                        </dd>
                        <dd>
                            東海・北陸
                            <ul>
                                <li><a href="http://www.tabirai.net/car/aichi/">愛知</a></li>
                                <li><a href="http://www.tabirai.net/car/gifu/">岐阜</a></li>
                                <li><a href="http://www.tabirai.net/car/mie/">三重</a></li>
                                <li><a href="http://www.tabirai.net/car/shizuoka/">静岡</a></li>
                                <li><a href="http://www.tabirai.net/car/toyama/">富山</a></li>
                                <li><a href="http://www.tabirai.net/car/ishikawa/">石川</a></li>
                                <li><a href="http://www.tabirai.net/car/fukui/">福井</a></li>
                            </ul>
                        </dd>
                        <dd>
                            関西
                            <ul>
                                <li><a href="http://www.tabirai.net/sightseeing/osaka/">大阪</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/kyoto/">京都</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/hyogo/">兵庫</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/nara/">奈良</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/shiga/">滋賀</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/wakayama/">和歌山</a></li>
                            </ul>
                        </dd>
                        <dd>
                            中国・四国
                            <ul>
                                <li><a href="http://www.tabirai.net/car/tottori/">鳥取</a></li>
                                <li><a href="http://www.tabirai.net/car/shimane/">島根</a></li>
                                <li><a href="http://www.tabirai.net/car/okayama/">岡山</a></li>
                                <li><a href="http://www.tabirai.net/car/hiroshima/">広島</a></li>
                                <li><a href="http://www.tabirai.net/car/yamaguchi/">山口</a></li>
                                <li><a href="http://www.tabirai.net/car/tokushima/">徳島</a></li>
                                <li><a href="http://www.tabirai.net/car/kagawa/">香川</a></li>
                                <li><a href="http://www.tabirai.net/car/ehime/">愛媛</a></li>
                                <li><a href="http://www.tabirai.net/car/kochi/">高知</a></li>
                            </ul>
                        </dd>
                        <dd>
                            九州・沖縄
                            <ul>
                                <li><a href="http://www.tabirai.net/sightseeing/fukuoka/">福岡</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/saga/">佐賀</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/nagasaki/">長崎</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/kumamoto/">熊本</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/oita/">大分</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/miyazaki/">宮崎</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/kagoshima/">鹿児島</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/okinawa/">沖縄</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="middleCassette">
        <div class="middleCassette--left">
            <p class="logo__wrap">
                <a href="http://www.tabirai.net/sightseeing/okinawa"><img src="http://www.tabirai.net/common/images/logomark.png" alt="たびらい"></a>
                <span>沖縄</span>
            </p>
        </div>
        <div class="middleCassette--right">
            <div class="category--list">
                <ul class="downLayerList" style="display:none;">
                    <li><a href="javascript:void(0)" class="tabirai-ui-icon i-down">他のカテゴリーを見る</a>
                        <ul>
                            <li ><a href="http://www.tabirai.net/sightseeing/okinawa/">沖縄観光情報</a></li>
                            <li ><a href="http://www.tabirai.net/tour/okinawa/">沖縄ツアー予約</a></li>
                            <li style="display:none;"><a href="http://option.okitour.net/special/sightseeingbus/">バスツアー予約（全国トップへ移動します）</a></li>
                            <li ><a href="http://www.tabirai.net/hotel/okinawa/">沖縄宿泊予約</a></li>
                            <li style="display:none;"><a href="http://onpara.jp/">沖縄宿泊予約（温泉パラダイス九州へ移動します）</a></li>
                            <li ><a href="http://car.okitour.net/">沖縄レンタカー予約</a></li>
                            <li ><a href="http://option.okitour.net/">沖縄アクティビティ予約</a></li>
                            <li ><a href="http://www.tabinchu.net/">たびカタログ</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navCassette" >
            <ul class="nav__wrap">
                <li class="nav__btn">
                    <a class="nav__btn--sightseeing layer__a active" href="http://www.tabirai.net/sightseeing/okinawa/">観光情報</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--tour layer__a " href="http://www.tabirai.net/tour/okinawa/">ツアー予約</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--hotel layer__a " href="http://www.tabirai.net/hotel/okinawa/">宿泊予約</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--car layer__a " href="http://car.okitour.net/">レンタカー予約</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--activity layer__a " href="http://option.okitour.net/">アクティビティ予約</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--bus layer__a busOki_link" href="http://option.okitour.net/special/sightseeingbus/">バスツアー予約</a>
                </li>
            </ul>
    </div>
		<div class="sitebarCassette downLayer">
        <div class="sitebar__wrap">
            <div class="sitebarCassette__left">
                <p class="site__name icon__hotel">沖縄観光情報</p>
            </div>
            <div class="sitebarCassette__right">
                <ul>
                    <li><a href="http://www.tabirai.net/hotel/okinawa/kinken/">お得な沖縄金券とは</a></li>
<li><a href="http://www.tabirai.net/hotel/tabishiori/info/">あなただけの旅しおりとは</a></li>
<li><a href="http://www.tabirai.net/hotel/okinawa/sitemap/">サイトマップ</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!--header//-->



<!--↓↓こちらにコーディングをお願いいたします↓↓-->
<div class="tb_common_articleindex_sightseeing">
<div class="tb_common_articleindex_bread">
	<ol itemscope="" itemtype="http://schema.org/WebPage">
		<li itemprop="breadcrumb" itemscope="" itemtype="http://schema.org/breadcrumb" class="first"><a itemprop="url" href="http://www.tabirai.net"><span itemprop="name">たびらい</span></a></li>
		<li itemprop="breadcrumb" itemscope="" itemtype="http://schema.org/breadcrumb"><a itemprop="url" href="/sightseeing/okinawa/"><span itemprop="name">観光情報</span></a></li>
		<li itemprop="breadcrumb" itemscope="" itemtype="http://schema.org/breadcrumb" class="last"><span itemprop="name">沖縄観光情報</span></li>
	</ol>
</div>
<div class="tb_common_articleindex-yesno">
	<div class="tb_common_articleindex-yesno--section">
		<figure class="tb_common_articleindex-yesno--image"><img src="common/images/sightseeing_index/photo01.jpg" alt=""></figure>
		<div class="tb_common_articleindex-yesno--question">
			<h2 class="tb_common_articleindex-yesno--headline">世界屈指の美しい慶良間諸島の海<br>ケラマブルーを知りたい？</h2>
			<div class="tb_common_articleindex-yesno--button">
				<a href="http://www.tabirai.net/sightseeing/okinawa/"  class="tb_common_articleindex-yesno--button-yes">YES</a>
				<div class="tb_common_articleindex-yesno--button-no">NO</div>
			</div>
		</div>
	</div>
	<div class="tb_common_articleindex-yesno--section">
		<figure class="tb_common_articleindex-yesno--image"><img src="common/images/sightseeing_index/Main-Visual-test.jpg" alt=""></figure>
		<div class="tb_common_articleindex-yesno--question">
			<h2 class="tb_common_articleindex-yesno--headline">第２問！？</h2>
			<div class="tb_common_articleindex-yesno--button">
				<a href="http://www.tabirai.net/sightseeing/okinawa/"  class="tb_common_articleindex-yesno--button-yes">YES</a>
				<div class="tb_common_articleindex-yesno--button-no">NO</div>
			</div>
		</div>
	</div>
	<div class="tb_common_articleindex-yesno--section">
		<figure class="tb_common_articleindex-yesno--image"><img src="common/images/sightseeing_index/photo01.jpg" alt=""></figure>
		<div class="tb_common_articleindex-yesno--question">
			<h2 class="tb_common_articleindex-yesno--headline">第３問！？</h2>
			<div class="tb_common_articleindex-yesno--button">
				<a href="http://www.tabirai.net/sightseeing/okinawa/"  class="tb_common_articleindex-yesno--button-yes">YES</a>
				<div class="tb_common_articleindex-yesno--button-no">NO</div>
			</div>
		</div>
	</div>
	<div class="tb_common_articleindex-yesno--section">
		<figure class="tb_common_articleindex-yesno--image"><img src="common/images/sightseeing_index/Main-Visual-test.jpg" alt=""></figure>
		<div class="tb_common_articleindex-yesno--question">
			<h2 class="tb_common_articleindex-yesno--headline">第４問！？</h2>
			<div class="tb_common_articleindex-yesno--button">
				<a href="http://www.tabirai.net/sightseeing/okinawa/"  class="tb_common_articleindex-yesno--button-yes">YES</a>
				<div class="tb_common_articleindex-yesno--button-no">NO</div>
			</div>
		</div>
	</div>
</div>

<div class="tb_common_articleindex-layout--body">

	<h1 class="tb_common_articleindex-sightseeing-copy">ローカル案内役が沖縄の観光情報を2000記事以上発信中！<br><a href="#tb_common_articleindex-modal-modalcontents-1" class="tb_common_articleindex-modal--link tb_common_articleindex-textlink--blue-modal">もっと詳しく<svg class="tb_common_articleindex-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#blank"></use></svg></a></h1>

	<div class="tb_common_articleindex-layout--col2-center">
		<div class="tb_common_articleindex-layout--col2-center-1">
			<a href="#tb_common_articleindex-modal-modalcontents-1" class="tb_common_articleindex-modal--link tb_common_articleindex-button--modal">
				<div class="tb_common_articleindex-button--modal-text">「何をしたい？」</div>
				<div class="tb_common_articleindex-button--modal-icon"><svg class="tb_common_articleindex-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#blank"></use></svg></div>
			</a>
		</div>
		<div class="tb_common_articleindex-layout--col2-center-1">
			<a href="#tb_common_articleindex-modal-modalcontents-1" class="tb_common_articleindex-modal--link tb_common_articleindex-button--modal">
				<div class="tb_common_articleindex-button--modal-text">「どこへ行きたい？」</div>
				<div class="tb_common_articleindex-button--modal-icon"><svg class="tb_common_articleindex-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#blank"></use></svg></div>
			</a>
		</div>
	</div>



	<div class="tb_common_articleindex-layout--col2">
		<div class="tb_common_articleindex-layout--col2-1">
			<%-
				include('./component/tb_common_articleindex-link-2/_tb_common_articleindex-link-2',
					{
						param:{
							title:'【2/24更新】お得で満足な旅行情報だけ！厳選TOP10',
							photo:{
								name:'photo02.jpg',
								width:476,
								height:318
							}
						}
					}
				)
			%>
		</div>
		<div class="tb_common_articleindex-layout--col2-1">
			<%-
				include('./component/tb_common_articleindex-link-2/_tb_common_articleindex-link-2',
					{
						param:{
							title:'車で行く本島南部・冬の聖地巡り。ニライカナイのカケラに触れる旅',
							photo:{
								name:'photo03.jpg',
								width:476,
								height:318
							}
						}
					}
				)
			%>
		</div>
	</div>

	<div class="tb_common_articleindex-layout--col3">
		<div class="tb_common_articleindex-layout--col3-1">
			<%-
				include('./component/tb_common_articleindex-link-2/_tb_common_articleindex-link-2',
					{
						param:{
							title:'海辺を歩き、感じて、味わう。冬の海を楽しむ南部巡り',
							photo:{
								name:'photo04.jpg',
								width:309,
								height:206
							}
						}
					}
				)
			%>
		</div>
		<div class="tb_common_articleindex-layout--col3-1">
			<%-
				include('./component/tb_common_articleindex-link-2/_tb_common_articleindex-link-2',
					{
						param:{
							title:'朱色と深緑に魅せられて 首里、ヒストリカル散歩',
							photo:{
								name:'photo05.jpg',
								width:309,
								height:206
							}
						}
					}
				)
			%>
		</div>
		<div class="tb_common_articleindex-layout--col3-1">
			<%-
				include('./component/tb_common_articleindex-link-2/_tb_common_articleindex-link-2',
					{
						param:{
							title:'五感で楽しむアリビラステイ',
							photo:{
								name:'photo06.jpg',
								width:309,
								height:206
							}
						}
					}
				)
			%>
		</div>
	</div>

	<div class="tb_common_articleindex-layout--col2">
		<div class="tb_common_articleindex-layout--col2-1">
			<%-
				include('./component/tb_common_articleindex-link-2/_tb_common_articleindex-link-2',
					{
						param:{
							title:'女子におすすめの冬旅。国際通りの裏路地で「かわいい」と「懐かしい」に出合う旅',
							photo:{
								name:'photo07.jpg',
								width:476,
								height:318
							}
						}
					}
				)
			%>
		</div>
		<div class="tb_common_articleindex-layout--col2-1">
			<%-
				include('./component/tb_common_articleindex-link-2/_tb_common_articleindex-link-2',
					{
						param:{
							title:'冬におすすめの沖縄ぶらり旅 那覇の下町・牧志公設市場周辺を探訪',
							photo:{
								name:'photo08.jpg',
								width:476,
								height:318
							}
						}
					}
				)
			%>
		</div>
	</div>

	<div class="tb_common_articleindex-layout--col3">
		<div class="tb_common_articleindex-layout--col3-1">
			<%-
				include('./component/tb_common_articleindex-link-2/_tb_common_articleindex-link-2',
					{
						param:{
							title:'那覇で親子に優しいリゾートホテル',
							photo:{
								name:'photo09.jpg',
								width:309,
								height:206
							}
						}
					}
				)
			%>
		</div>
		<div class="tb_common_articleindex-layout--col3-1">
			<%-
				include('./component/tb_common_articleindex-link-2/_tb_common_articleindex-link-2',
					{
						param:{
							title:'【2/24更新】お得で満足な旅行情報だけ！厳選TOP10',
							photo:{
								name:'photo10.jpg',
								width:309,
								height:206
							}
						}
					}
				)
			%>
		</div>
		<div class="tb_common_articleindex-layout--col3-1">
			<%-
				include('./component/tb_common_articleindex-link-2/_tb_common_articleindex-link-2',
					{
						param:{
							title:'車で行く本島南部・冬の聖地巡り。ニライカナイのカケラに触れる旅',
							photo:{
								name:'photo11.jpg',
								width:309,
								height:206
							}
						}
					}
				)
			%>
		</div>
	</div>


	<div class="tb_common_articleindex-layout--col2">
		<div class="tb_common_articleindex-layout--col2-1">
			<%-
				include('./component/tb_common_articleindex-link-2/_tb_common_articleindex-link-2',
					{
						param:{
							title:'瀬底島とノスタルジックな海の町・本部を巡る旅',
							photo:{
								name:'photo12.jpg',
								width:476,
								height:318
							}
						}
					}
				)
			%>
		</div>
		<div class="tb_common_articleindex-layout--col2-1">
			<%-
				include('./component/tb_common_articleindex-link-2/_tb_common_articleindex-link-2',
					{
						param:{
							title:'二度目の首里はもっと深く！琉球王国の伝統と文化に触れる旅',
							photo:{
								name:'photo13.jpg',
								width:476,
								height:318
							}
						}
					}
				)
			%>
		</div>
	</div>


</div>

<section class="tb_common_articleindex-tellme">
	<div class="tb_common_articleindex-layout--body">
		<h2 class="tb_common_articleindex-tellme--headline">沖縄の基本を教えて</h2>

		<div class="tb_common_articleindex-layout--col2">
			<div class="tb_common_articleindex-layout--col2-1">
				<%-
					include('./component/tb_common_articleindex-tellme--links/_tb_common_articleindex-tellme--links',
						{
							param:{
								title:'10選・100選記事',
								photoname:'recommend',
								article:[
									{
										title:'人と差をつけたいあなたへ！最新の沖縄土産10選',
										contents:`<p>2015年度むらおこし特産品コンテストで審査員特別賞を受賞。フレッシュクリームチーズに沖縄県産の紅芋と黒糖などを加えたクリームチーズケーキでちんすこうをサンド。ちんすこうのサクサク感とチーズケーキのし</p>`
									},
									{
										title:'子どもにおすすめ！設備充実の沖縄本島ビーチ10選',
										contents:`<p>那覇市のすぐ南に位置する豊見城（とみぐすく）市に平成22年（2010）5月に完成したばかりの新しい人工ビーチ。全長700メートルの白砂には、ビーチバレーやバスケットボールコート、そしてバーベキュー広場</p>`
									},
									{
										title:'一人でも行きやすい那覇の飲食店10選',
										contents:`<p>黄色い外観が特徴の建物。隣の店舗と繋がっており、外観から想像するよりも店内はそれほど広くない。混雑時にはお店の外のテーブルでも食事することができる。餃子の具にはニンニク一片がゴロっと入っているが、</p>`
									}
								]
							}
						}
					)
				%>
			</div>
			<div class="tb_common_articleindex-layout--col2-1">
				<%-
					include('./component/tb_common_articleindex-tellme--links/_tb_common_articleindex-tellme--links',
						{
							param:{
								title:'エリア',
								photoname:'area',
								article:[
									{
										title:'沖縄北部（やんばる）観光・旅行を満喫しよう！',
										contents:`<p>沖縄北部の秘境、やんばる（山原）は豊かな自然がいっぱいの観光エリアで珍しい生き物に出会えるかも。やんばるの観光情報とあわせて大自然で遊ぶアクティビティを紹介。子供連れや女性におすすめのドライブコースも</p>`
									},
									{
										title:'沖縄中部の観光拠点に人気のホテルランキング',
										contents:`<p>開放的なリゾートエリアでショッピング。世界遺産や焼き物の里も北谷の「美浜アメリカンビレッジ」は、アメリカの西海岸をイメージさせるリゾートエリア。ショッピングや食事が楽しめる。読谷では世界遺産・座喜味</p>`
									},
									{
										title:'沖縄南部観光・旅行を満喫しよう！',
										contents:`<p>沖縄への玄関口・那覇があり、沖縄戦の歴史を感じることができる南部。定番から穴場スポットまで、初心者もリピーターも楽しむことができる沖縄南部の観光情報を現地からお届け。沖縄への玄関口・那覇があり、沖縄戦</p>`
									}
								]
							}
						}
					)
				%>
			</div>
		</div>

		<div class="tb_common_articleindex-layout--col2">
			<div class="tb_common_articleindex-layout--col2-1">
				<%-
					include('./component/tb_common_articleindex-tellme--links/_tb_common_articleindex-tellme--links',
						{
							param:{
								title:'イベント',
								photoname:'event',
								article:[
									{
										title:'「糸満ハーレー」 人気イベントの楽しみ方',
										contents:`<p>2015年度むらおこし特産品コンテストで審査員特別賞を受賞。フレッシュクリームチーズに沖縄県産の紅芋と黒糖などを加えたクリームチーズケーキでちんすこうをサンド。ちんすこうのサクサク感とチーズケーキのし</p>`
									},
									{
										title:'ハネムーンにおすすめツアー情報が満載',
										contents:`<p>那覇市のすぐ南に位置する豊見城（とみぐすく）市に平成22年（2010）5月に完成したばかりの新しい人工ビーチ。全長700メートルの白砂には、ビーチバレーやバスケットボールコート、そしてバーベキュー広場</p>`
									},
									{
										title:'「沖縄全島エイサーまつり」の楽しみ方',
										contents:`<p>黄色い外観が特徴の建物。隣の店舗と繋がっており、外観から想像するよりも店内はそれほど広くない。混雑時にはお店の外のテーブルでも食事することができる。餃子の具にはニンニク一片がゴロっと入っているが、</p>`
									}
								]
							}
						}
					)
				%>
			</div>
			<div class="tb_common_articleindex-layout--col2-1">
				<%-
					include('./component/tb_common_articleindex-tellme--links/_tb_common_articleindex-tellme--links',
						{
							param:{
								title:'体験',
								photoname:'taiken',
								article:[
									{
										title:'沖縄シュノーケリング　沖縄本島編',
										contents:`<p>沖縄北部の秘境、やんばる（山原）は豊かな自然がいっぱいの観光エリアで珍しい生き物に出会えるかも。やんばるの観光情報とあわせて大自然で遊ぶアクティビティを紹介。子供連れや女性におすすめのドライブコースも</p>`
									},
									{
										title:'カラフルな熱帯魚と珊瑚に出会える　沖縄で体験ダイビング',
										contents:`<p>開放的なリゾートエリアでショッピング。世界遺産や焼き物の里も北谷の「美浜アメリカンビレッジ」は、アメリカの西海岸をイメージさせるリゾートエリア。ショッピングや食事が楽しめる。読谷では世界遺産・座喜味</p>`
									},
									{
										title:'オリオンハッピーパーク　ビール工場で乾杯',
										contents:`<p>沖縄への玄関口・那覇があり、沖縄戦の歴史を感じることができる南部。定番から穴場スポットまで、初心者もリピーターも楽しむことができる沖縄南部の観光情報を現地からお届け。沖縄への玄関口・那覇があり、沖縄戦</p>`
									}
								]
							}
						}
					)
				%>
			</div>
		</div>

		<div class="tb_common_articleindex-layout--col2">
			<div class="tb_common_articleindex-layout--col2-1">
				<%-
					include('./component/tb_common_articleindex-tellme--links/_tb_common_articleindex-tellme--links',
						{
							param:{
								title:'ビーチ',
								photoname:'beach',
								article:[
									{
										title:'沖縄本島北部のビーチならココがおすすめ',
										contents:`<p>2015年度むらおこし特産品コンテストで審査員特別賞を受賞。フレッシュクリームチーズに沖縄県産の紅芋と黒糖などを加えたクリームチーズケーキでちんすこうをサンド。ちんすこうのサクサク感とチーズケーキのし</p>`
									},
									{
										title:'宮古島の絶景のオーシャンビューが堪能できるホテル',
										contents:`<p>那覇市のすぐ南に位置する豊見城（とみぐすく）市に平成22年（2010）5月に完成したばかりの新しい人工ビーチ。全長700メートルの白砂には、ビーチバレーやバスケットボールコート、そしてバーベキュー広場</p>`
									},
									{
										title:'沖縄本島中部のビーチならココがおすすめ',
										contents:`<p>黄色い外観が特徴の建物。隣の店舗と繋がっており、外観から想像するよりも店内はそれほど広くない。混雑時にはお店の外のテーブルでも食事することができる。餃子の具にはニンニク一片がゴロっと入っているが、</p>`
									}
								]
							}
						}
					)
				%>
			</div>
			<div class="tb_common_articleindex-layout--col2-1">
				<%-
					include('./component/tb_common_articleindex-tellme--links/_tb_common_articleindex-tellme--links',
						{
							param:{
								title:'離島',
								photoname:'area',
								article:[
									{
										title:'神の島・久高島のおすすめの見どころ',
										contents:`<p>沖縄北部の秘境、やんばる（山原）は豊かな自然がいっぱいの観光エリアで珍しい生き物に出会えるかも。やんばるの観光情報とあわせて大自然で遊ぶアクティビティを紹介。子供連れや女性におすすめのドライブコースも</p>`
									},
									{
										title:'石垣島で人気のホテル情報が満載',
										contents:`<p>開放的なリゾートエリアでショッピング。世界遺産や焼き物の里も北谷の「美浜アメリカンビレッジ」は、アメリカの西海岸をイメージさせるリゾートエリア。ショッピングや食事が楽しめる。読谷では世界遺産・座喜味</p>`
									},
									{
										title:'「久米島の楽しみ方」絶景のハテの浜も',
										contents:`<p>沖縄への玄関口・那覇があり、沖縄戦の歴史を感じることができる南部。定番から穴場スポットまで、初心者もリピーターも楽しむことができる沖縄南部の観光情報を現地からお届け。沖縄への玄関口・那覇があり、沖縄戦</p>`
									}
								]
							}
						}
					)
				%>
			</div>
		</div>

		<div class="tb_common_articleindex-layout--col2">
			<div class="tb_common_articleindex-layout--col2-1">
				<%-
					include('./component/tb_common_articleindex-tellme--links/_tb_common_articleindex-tellme--links',
						{
							param:{
								title:'ターミナル情報',
								photoname:'terminal',
								article:[
									{
										title:'那覇空港',
										contents:`<p>2015年度むらおこし特産品コンテストで審査員特別賞を受賞。フレッシュクリームチーズに沖縄県産の紅芋と黒糖などを加えたクリームチーズケーキでちんすこうをサンド。ちんすこうのサクサク感とチーズケーキのし</p>`
									},
									{
										title:'南ぬ島 石垣空港',
										contents:`<p>那覇市のすぐ南に位置する豊見城（とみぐすく）市に平成22年（2010）5月に完成したばかりの新しい人工ビーチ。全長700メートルの白砂には、ビーチバレーやバスケットボールコート、そしてバーベキュー広場</p>`
									},
									{
										title:'とまりん(泊ふ頭ターミナルビル)',
										contents:`<p>黄色い外観が特徴の建物。隣の店舗と繋がっており、外観から想像するよりも店内はそれほど広くない。混雑時にはお店の外のテーブルでも食事することができる。餃子の具にはニンニク一片がゴロっと入っているが、</p>`
									}
								]
							}
						}
					)
				%>
			</div>
			<div class="tb_common_articleindex-layout--col2-1">
				<%-
					include('./component/tb_common_articleindex-tellme--links/_tb_common_articleindex-tellme--links',
						{
							param:{
								title:'観光マップ',
								photoname:'map',
								article:[
									{
										title:'沖縄の観光地図',
										contents:`<p>沖縄北部の秘境、やんばる（山原）は豊かな自然がいっぱいの観光エリアで珍しい生き物に出会えるかも。やんばるの観光情報とあわせて大自然で遊ぶアクティビティを紹介。子供連れや女性におすすめのドライブコースも</p>`
									},
									{
										title:'沖縄県南部の地図',
										contents:`<p>開放的なリゾートエリアでショッピング。世界遺産や焼き物の里も北谷の「美浜アメリカンビレッジ」は、アメリカの西海岸をイメージさせるリゾートエリア。ショッピングや食事が楽しめる。読谷では世界遺産・座喜味</p>`
									},
									{
										title:'沖縄県中部の地図',
										contents:`<p>沖縄への玄関口・那覇があり、沖縄戦の歴史を感じることができる南部。定番から穴場スポットまで、初心者もリピーターも楽しむことができる沖縄南部の観光情報を現地からお届け。沖縄への玄関口・那覇があり、沖縄戦</p>`
									}
								]
							}
						}
					)
				%>
			</div>
		</div>

		<div class="tb_common_articleindex-layout--col2">
			<div class="tb_common_articleindex-layout--col2-1">
				<%-
					include('./component/tb_common_articleindex-tellme--links/_tb_common_articleindex-tellme--links',
						{
							param:{
								title:'交通アクセス',
								photoname:'access',
								article:[
									{
										title:'高速道路(沖縄自動車道)',
										contents:`<p>2015年度むらおこし特産品コンテストで審査員特別賞を受賞。フレッシュクリームチーズに沖縄県産の紅芋と黒糖などを加えたクリームチーズケーキでちんすこうをサンド。ちんすこうのサクサク感とチーズケーキのし</p>`
									},
									{
										title:'レンタカー',
										contents:`<p>那覇市のすぐ南に位置する豊見城（とみぐすく）市に平成22年（2010）5月に完成したばかりの新しい人工ビーチ。全長700メートルの白砂には、ビーチバレーやバスケットボールコート、そしてバーベキュー広場</p>`
									},
									{
										title:'沖縄都市モノレール「ゆいレール」',
										contents:`<p>黄色い外観が特徴の建物。隣の店舗と繋がっており、外観から想像するよりも店内はそれほど広くない。混雑時にはお店の外のテーブルでも食事することができる。餃子の具にはニンニク一片がゴロっと入っているが、</p>`
									}
								]
							}
						}
					)
				%>
			</div>
			<div class="tb_common_articleindex-layout--col2-1">
				<%-
					include('./component/tb_common_articleindex-tellme--links/_tb_common_articleindex-tellme--links',
						{
							param:{
								title:'お役立ち情報',
								photoname:'info',
								article:[
									{
										title:'沖縄そば屋一覧',
										contents:`<p>沖縄北部の秘境、やんばる（山原）は豊かな自然がいっぱいの観光エリアで珍しい生き物に出会えるかも。やんばるの観光情報とあわせて大自然で遊ぶアクティビティを紹介。子供連れや女性におすすめのドライブコースも</p>`
									},
									{
										title:'沖縄のカフェ一覧',
										contents:`<p>開放的なリゾートエリアでショッピング。世界遺産や焼き物の里も北谷の「美浜アメリカンビレッジ」は、アメリカの西海岸をイメージさせるリゾートエリア。ショッピングや食事が楽しめる。読谷では世界遺産・座喜味</p>`
									},
									{
										title:'沖縄のステーキ店一覧',
										contents:`<p>沖縄への玄関口・那覇があり、沖縄戦の歴史を感じることができる南部。定番から穴場スポットまで、初心者もリピーターも楽しむことができる沖縄南部の観光情報を現地からお届け。沖縄への玄関口・那覇があり、沖縄戦</p>`
									}
								]
							}
						}
					)
				%>
			</div>
		</div>

		<div class="tb_common_articleindex-layout--col2">
			<div class="tb_common_articleindex-layout--col2-1">
				<%-
					include('./component/tb_common_articleindex-tellme--links/_tb_common_articleindex-tellme--links',
						{
							param:{
								title:'地理・気候・歴史',
								photoname:'history',
								article:[
									{
										title:'八重山の地理',
										contents:`<p>2015年度むらおこし特産品コンテストで審査員特別賞を受賞。フレッシュクリームチーズに沖縄県産の紅芋と黒糖などを加えたクリームチーズケーキでちんすこうをサンド。ちんすこうのサクサク感とチーズケーキのし</p>`
									},
									{
										title:'沖縄の歴史',
										contents:`<p>那覇市のすぐ南に位置する豊見城（とみぐすく）市に平成22年（2010）5月に完成したばかりの新しい人工ビーチ。全長700メートルの白砂には、ビーチバレーやバスケットボールコート、そしてバーベキュー広場</p>`
									},
									{
										title:'沖縄の気候',
										contents:`<p>黄色い外観が特徴の建物。隣の店舗と繋がっており、外観から想像するよりも店内はそれほど広くない。混雑時にはお店の外のテーブルでも食事することができる。餃子の具にはニンニク一片がゴロっと入っているが、</p>`
									}
								]
							}
						}
					)
				%>
			</div>
			<div class="tb_common_articleindex-layout--col2-1">
				<%-
					include('./component/tb_common_articleindex-tellme--links/_tb_common_articleindex-tellme--links',
						{
							param:{
								title:'月ごとのおすすめ',
								photoname:'monthly',
								article:[
									{
										title:'沖縄旅行 海開きも行われる3月のおすすめ',
										contents:`<p>沖縄北部の秘境、やんばる（山原）は豊かな自然がいっぱいの観光エリアで珍しい生き物に出会えるかも。やんばるの観光情報とあわせて大自然で遊ぶアクティビティを紹介。子供連れや女性におすすめのドライブコースも</p>`
									},
									{
										title:'沖縄旅行 初夏の日差しが気持ち良い4月のおすすめ',
										contents:`<p>開放的なリゾートエリアでショッピング。世界遺産や焼き物の里も北谷の「美浜アメリカンビレッジ」は、アメリカの西海岸をイメージさせるリゾートエリア。ショッピングや食事が楽しめる。読谷では世界遺産・座喜味</p>`
									},
									{
										title:'沖縄旅行 ５月のおすすめ',
										contents:`<p>沖縄への玄関口・那覇があり、沖縄戦の歴史を感じることができる南部。定番から穴場スポットまで、初心者もリピーターも楽しむことができる沖縄南部の観光情報を現地からお届け。沖縄への玄関口・那覇があり、沖縄戦</p>`
									}
								]
							}
						}
					)
				%>
			</div>
		</div>

	</div>

</section>


<div class="tb_common_articleindex-modal-modalcontents">
	<section id="tb_common_articleindex-modal-modalcontents-1" class="tb_common_articleindex-modal-modalcontents-section">
		<h2 class="tb_common_articleindex-modal-modalcontents-title">誰と行く？</h2>
		<div class="tb_common_articleindex-modal-modalcontents-body">
			<h3 class="tb_common_articleindex-modal-modalcontents--headline">地名（恩納村など）</h3>
			<ul class="tb_common_articleindex-modal-modalcontents--list">
				<% for(var i = 0; i < 4; i++){ %>
				<li>
					<a href="#" class="tb_common_articleindex-modal-modalcontents-link">
						<figure class="tb_common_articleindex-modal-modalcontents-image">
							<img src="../common/images/sightseeing_index/modal-1.jpg" alt="">
						</figure>
						<div class="tb_common_articleindex-modal-modalcontents-outline">
							<div>
								<p>瀬底島とノスタルジックな海の町・本部を巡る旅</p>
							</div>
						</div>
					</a>
				</li>
				<% } %>
			</ul>
			<h3 class="tb_common_articleindex-modal-modalcontents--headline">地名（恩納村など）</h3>
			<ul class="tb_common_articleindex-modal-modalcontents--list">
				<% for(var i = 0; i < 4; i++){ %>
					<li>
						<a href="#" class="tb_common_articleindex-modal-modalcontents-link">
							<figure class="tb_common_articleindex-modal-modalcontents-image">
								<img src="../common/images/sightseeing_index/modal-1.jpg" alt="">
							</figure>
							<div class="tb_common_articleindex-modal-modalcontents-outline">
								<div>
									<p>瀬底島とノスタルジックな海の町・本部を巡る旅</p>
								</div>
							</div>
						</a>
					</li>
				<% } %>
			</ul>
		</div>
	</section>
</div>
</div>

<!--↑↑こちらにコーディングをお願いいたします↑↑-->
<!--/container-->

<div class="okinawaImage" id="footer">
	<div class="pageTop"><a href="#top"><img alt="ページ先頭へ" src="http://www.tabirai.net/inc/images/footer/page_top.png"></a></div>
    <div id="footerMainLink" itemscope itemtype="http://schema.org/WPFooter">
        <div class="footer_cont">
            <div class="boxCont">
                <p class="hukidaciTTL01" itemprop="headline">どこへ旅しますか？</p>
                <ul class="mb10 area">
                    <li itemprop="alternativeHeadline"><b>北海道</b></li>
                    <li><a href="http://www.tabirai.net/sightseeing/hokkaido/" itemprop="alternativeHeadline">北海道旅行TOP</a></li>
                </ul>
                <ul class="mb10 area">
                    <li itemprop="alternativeHeadline"><b>関&nbsp;&nbsp;&nbsp;西</b></li>
                    <li><a href="http://www.tabirai.net/sightseeing/osaka/" itemprop="alternativeHeadline">大阪旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/kyoto/" itemprop="alternativeHeadline">京都旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/hyogo/" itemprop="alternativeHeadline">兵庫旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/nara/" itemprop="alternativeHeadline">奈良旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/shiga/" itemprop="alternativeHeadline">滋賀旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/wakayama/" itemprop="alternativeHeadline">和歌山旅行TOP</a></li>
                </ul>
                <ul class="mb10 area">
                    <li itemprop="alternativeHeadline"><b>九&nbsp;&nbsp;&nbsp;州</b></li>
                    <li><a href="http://www.tabirai.net/sightseeing/fukuoka/" itemprop="alternativeHeadline">福岡旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/saga/" itemprop="alternativeHeadline">佐賀旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/nagasaki/" itemprop="alternativeHeadline">長崎旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/kumamoto/" itemprop="alternativeHeadline">熊本旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/oita/" itemprop="alternativeHeadline">大分旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/miyazaki/" itemprop="alternativeHeadline">宮崎旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/kagoshima/" itemprop="alternativeHeadline">鹿児島旅行TOP</a></li>
                </ul>
                <ul class="area">
                    <li itemprop="alternativeHeadline"><b>沖&nbsp;&nbsp;&nbsp;縄</b></li>
                    <li><a href="http://www.tabirai.net/sightseeing/okinawa/" itemprop="alternativeHeadline">沖縄旅行TOP</a></li>
                </ul>
            </div><!--//boxCont-->
            <div class="boxCont">
                <p class="hukidaciTTL02" itemprop="headline">各都道府県の魅力をご覧ください</p>
                <ul class="sightseeing">
                    <li><a href="http://www.tabirai.net/sightseeing/hokkaido/tatsujin/" itemprop="alternativeHeadline">北海道観光情報</a></li>
                    <li class="ml25 kyusyu" itemprop="alternativeHeadline">九州観光情報│<a href="http://www.tabirai.net/sightseeing/fukuoka/tatsujin/" itemprop="alternativeHeadline">福岡</a><a href="http://www.tabirai.net/sightseeing/saga/tatsujin/" itemprop="alternativeHeadline">佐賀</a><a href="http://www.tabirai.net/sightseeing/nagasaki/tatsujin/" itemprop="alternativeHeadline">長崎</a><a href="http://www.tabirai.net/sightseeing/kumamoto/tatsujin/" itemprop="alternativeHeadline">熊本</a><a href="http://www.tabirai.net/sightseeing/oita/tatsujin/" itemprop="alternativeHeadline">大分</a><a href="http://www.tabirai.net/sightseeing/miyazaki/tatsujin/" itemprop="alternativeHeadline">宮崎</a><a href="http://www.tabirai.net/sightseeing/kagoshima/tatsujin/" itemprop="alternativeHeadline">鹿児島</a>│</li>
                    <li class="ml25"><a href="http://www.tabirai.net/sightseeing/okinawa/tatsujin/" itemprop="alternativeHeadline">沖縄観光情報</a></li>
                    <li class="ml25"><a href="http://www.tabirai.net/sightseeing/" itemprop="alternativeHeadline">全国観光情報</a></li>
                </ul>
            </div><!--//boxCont-->
            <div class="boxCont">
                <p class="hukidaciTTL03" itemprop="headline">旅を予約する</p>
                <ul class="reserve">
                    <li><a href="http://www.tabirai.net/tour/" itemprop="alternativeHeadline">ツアー（交通＋宿泊）予約</a></li>
                    <li class="ml25"><a href="http://www.tabirai.net/car/" itemprop="alternativeHeadline">レンタカー予約</a></li>
                    <li class="ml25"><a href="http://www.tabirai.net/bus/" itemprop="alternativeHeadline">バスツアー予約（北海道発・関東発・関西発・九州発）</a></li>
                </ul>
            </div><!--//boxCont-->
            <div class="boxCont">
				<p class="hukidaciTTL04" itemprop="headline">language</p>
                <ul class="reserve">
                    <li>Tabirai Japan (繁体中文)</li>
                    <li><a href="http://tc.tabirai.net/sightseeing/" itemprop="alternativeHeadline" target="_blank">觀光資訊</a></li>

                    <li><a href="http://tc.tabirai.net/car/" itemprop="alternativeHeadline" target="_blank">租車服務</a></li>
                    <li class="ml25">(English)</li>
                    <li><a href="http://en.tabirai.net/car/" itemprop="alternativeHeadline" target="_blank">Car Rental</a></li>
					<li class="ml25">(한국어)</li>
                    <li><a href="http://kr.tabirai.net/car/" itemprop="alternativeHeadline" target="_blank">렌트카 예약</a></li>
                </ul>
			</div><!--//boxCont-->
        </div><!--/footer_cont-->
	</div><!--//footerMainLink-->
    <div id="footerOtherLink">
        <div class="footer_cont">
            <ul>
                <li><a href="http://www.pam-info.co.jp/company/">会社概要</a></li>
                <li><a href="http://www.tabirai.net/termsofuse.aspx">ご利用規約と推奨環境</a></li>
                <li><a href="https://www.tabirai.net/member/policy.aspx">個人情報保護方針</a></li>
                <li><a href="http://www.pam-info.co.jp/recruit/">採用情報</a></li>
            </ul>
            <address>Copyright &copy; Pam, Inc. All Rights Reserved.</address>
        </div>
        <!--/footer_cont-->
    </div><!--//footerOtherLink-->
</div>
<!--/footer-->



</form>
</body>
</html>
