<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>沖縄観光情報</title>
<meta name="keywords" content="テンプレート">
<meta name="description" content="テンプレート">
<meta property="og:title" content="テンプレート">
<meta property="og:description" content="テンプレート">
<meta property="og:url" content="http://www.tabirai.net/sightseeing/special/template/index.aspx">
<meta property="og:type" content="article">
<meta property="og:site_name" content="たびらい沖縄">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="canonical" href="http://www.tabirai.net/s/sightseeing/special/template/index.aspx">
<link rel="alternate" href="http://www.tabirai.net/s/sightseeing/special/template/index.aspx">
<link rel="start" href="http://www.tabirai.net/sightseeing/okinawa/" title="Home">
<link rel="shortcut icon" type="image/x-icon" href="http://www.tabirai.net/sightseeing/common/images/favicon.ico">
<link type="text/css" rel="stylesheet" href="http://www.tabirai.net/common/css/reset.css" />
<link type="text/css" rel="stylesheet" href="http://www.tabirai.net/common/css/base.css" />
<link type="text/css" rel="stylesheet" href="http://www.tabirai.net/sightseeing/common/css/common.css" />
<link rel="stylesheet" type="text/css" href="http://www.tabirai.net/sightseeing/common/css/special.css">
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.scroll.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.common.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.heightline.js"></script>
<script type="text/javascript" src="http://www.tabirai.net/sightseeing/common/js/jquery.socialbutton.js"></script>
<!--↓↓こちらに追加のCSS・JSの読み込みタグをお願いいたします↓↓-->


<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./common/css/tb_article_articleframe.css" />
<script type="text/javascript" src="./common/js/tb_article_articleframe.js"></script>


<!--↑↑こちらに追加のCSS・JSの読み込みタグをお願いいたします↑↑-->



</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7&appId=254612787934271";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<span id="contentsGroup" style="display:none">okinawa</span>
<form method="post" action="" id="form1">
<!--スマートフォン版はこちら-->
<script type="text/javascript">
    function callback_logincheck(data) {
        if (data.rescode == "200" && data.login == "1" && data.familyname != null) {
            $("ul.gMylist>li:first-child>a").text("こんにちは、" + data.familyname + "様");
            $("ul.gMylist>li:first-child>ul>li").remove();
            var li1 = $('<li><span class="inner"><a href="https://www.tabirai.net/member/account/information.aspx" class="ui-btn">会員情報</a></span></li>');
            var li2 = $('<li><span class="inner"><a href="https://www.tabirai.net/member/logoutProcess.aspx" class="ui-btn">ログアウト</a></span></li>');
            $("ul.gMylist>li:first-child>ul").append(li1);
            $("ul.gMylist>li:first-child>ul").append(li2);
        }
    };
    document.write(unescape("%3Cscript src='" + document.location.protocol + "//www.tabirai.net/common/js/jquery.cookie-1.4.1.min.js' type='text/javascript'%3E%3C/script%3E"))
    document.write(unescape("%3Cscript src='" + document.location.protocol + "//www.tabirai.net/member/js/logincheck.js' type='text/javascript'%3E%3C/script%3E"))
//    document.write(unescape("%3Cscript src='" + document.location.protocol + "//192.168.3.22/common/js/jquery.cookie-1.4.1.min.js' type='text/javascript'%3E%3C/script%3E"))
//    document.write(unescape("%3Cscript src='" + document.location.protocol + "//192.168.3.22/member/js/logincheck.js' type='text/javascript'%3E%3C/script%3E"))
</script>
<link type="text/css" rel="stylesheet" href="http://www.tabirai.net/common/css/tabirai_header.css" />
<script type="text/javascript" src="http://www.tabirai.net/common/js/jquery.dropdown.js"></script>
<a id="top"></a>
<div id="headerWrap">
    <div class="gCassette">
        <div class="inner">
            <div class="gCassette__left">
                <p class="gDisc">沖縄の魅力を現地から発信する旅行予約サイト</p>
            </div>
            <div class="gCassette__right">
                <ul class="gMylist">
                    <li><a href="javascript:void(0)" class="tabirai-ui-icon i-down">たびらい会員</a>
                        <ul>
                            <li class="first"><span class="inner"><a href="https://www.tabirai.net/member/login.aspx" class="ui-btn">ログイン</a></span></li>
                            <li class="last"><span class="inner"><a href="https://www.tabirai.net/member/registration/input.aspx" class="ui-btn cv">会員登録（無料）</a></span></li>
                        </ul>
                    </li>
                    <li><a href="http://www.tabirai.net/member/reserveInformation.aspx">予約確認・キャンセル</a></li>
                    <li class="search__wrap">
                        <a class="search__submit"></a>
                    </li>
                </ul>
                <div class="pagesearch__wrap">
                    <dl class="pagesearch__keyword">
                        <dt>キーワードで検索</dt>
                        <dd>
							<div class="gss__wrapper">
                            	<script>
    							  (function() {
    							    var cx = '018273321206967384749:ddhxyu8zwye';
    							    var gcse = document.createElement('script');
    							    gcse.type = 'text/javascript';
    							    gcse.async = true;
    							    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
    							        '//cse.google.com/cse.js?cx=' + cx;
    							    var s = document.getElementsByTagName('script')[0];
    							    s.parentNode.insertBefore(gcse, s);
    							  })();
    							</script>
							<gcse:search></gcse:search>
							</div>
                            <p class="link__home"><a href="http://www.tabirai.net/">全国HOME</a></p>
                        </dd>
                    </dl>
                    <dl class="pagesearch__link">
                        <dt>都道府県から検索</dt>
                        <dd>
                            北海道・東北
                            <ul>
                                <li><a href="http://www.tabirai.net/sightseeing/hokkaido/">北海道</a></li>
                                <li><a href="http://www.tabirai.net/car/aomori/">青森</a></li>
                                <li><a href="http://www.tabirai.net/car/iwate/">岩手</a></li>
                                <li><a href="http://www.tabirai.net/car/miyagi/">宮城</a></li>
                                <li><a href="http://www.tabirai.net/car/akita/">秋田</a></li>
                                <li><a href="http://www.tabirai.net/car/yamagata/">山形</a></li>
                                <li><a href="http://www.tabirai.net/car/fukushima/">福島</a></li>
                            </ul>
                        </dd>
                        <dd>
                            関東・甲信越
                            <ul>
                                <li><a href="http://www.tabirai.net/car/tokyo/">東京</a></li>
                                <li><a href="http://www.tabirai.net/car/kanagawa/">神奈川</a></li>
                                <li><a href="http://www.tabirai.net/car/chiba/">千葉</a></li>
                                <li><a href="http://www.tabirai.net/car/saitama/">埼玉</a></li>
                                <li><a href="http://www.tabirai.net/car/gunma/">群馬</a></li>
                                <li><a href="http://www.tabirai.net/car/tochigi/">栃木</a></li>
                                <li><a href="http://www.tabirai.net/car/ibaraki/">茨城</a></li>
                                <li><a href="http://www.tabirai.net/car/niigata/">新潟</a></li>
                                <li><a href="http://www.tabirai.net/car/nagano/">長野</a></li>
                                <li><a href="http://www.tabirai.net/car/yamanashi/">山梨</a></li>
                            </ul>
                        </dd>
                        <dd>
                            東海・北陸
                            <ul>
                                <li><a href="http://www.tabirai.net/car/aichi/">愛知</a></li>
                                <li><a href="http://www.tabirai.net/car/gifu/">岐阜</a></li>
                                <li><a href="http://www.tabirai.net/car/mie/">三重</a></li>
                                <li><a href="http://www.tabirai.net/car/shizuoka/">静岡</a></li>
                                <li><a href="http://www.tabirai.net/car/toyama/">富山</a></li>
                                <li><a href="http://www.tabirai.net/car/ishikawa/">石川</a></li>
                                <li><a href="http://www.tabirai.net/car/fukui/">福井</a></li>
                            </ul>
                        </dd>
                        <dd>
                            関西
                            <ul>
                                <li><a href="http://www.tabirai.net/sightseeing/osaka/">大阪</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/kyoto/">京都</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/hyogo/">兵庫</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/nara/">奈良</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/shiga/">滋賀</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/wakayama/">和歌山</a></li>
                            </ul>
                        </dd>
                        <dd>
                            中国・四国
                            <ul>
                                <li><a href="http://www.tabirai.net/car/tottori/">鳥取</a></li>
                                <li><a href="http://www.tabirai.net/car/shimane/">島根</a></li>
                                <li><a href="http://www.tabirai.net/car/okayama/">岡山</a></li>
                                <li><a href="http://www.tabirai.net/car/hiroshima/">広島</a></li>
                                <li><a href="http://www.tabirai.net/car/yamaguchi/">山口</a></li>
                                <li><a href="http://www.tabirai.net/car/tokushima/">徳島</a></li>
                                <li><a href="http://www.tabirai.net/car/kagawa/">香川</a></li>
                                <li><a href="http://www.tabirai.net/car/ehime/">愛媛</a></li>
                                <li><a href="http://www.tabirai.net/car/kochi/">高知</a></li>
                            </ul>
                        </dd>
                        <dd>
                            九州・沖縄
                            <ul>
                                <li><a href="http://www.tabirai.net/sightseeing/fukuoka/">福岡</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/saga/">佐賀</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/nagasaki/">長崎</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/kumamoto/">熊本</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/oita/">大分</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/miyazaki/">宮崎</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/kagoshima/">鹿児島</a></li>
                                <li><a href="http://www.tabirai.net/sightseeing/okinawa/">沖縄</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="middleCassette">
        <div class="middleCassette--left">
            <p class="logo__wrap">
                <a href="http://www.tabirai.net/sightseeing/okinawa"><img src="http://www.tabirai.net/common/images/logomark.png" alt="たびらい"></a>
                <span>沖縄</span>
            </p>
        </div>
        <div class="middleCassette--right">
            <div class="category--list">
                <ul class="downLayerList" style="display:none;">
                    <li><a href="javascript:void(0)" class="tabirai-ui-icon i-down">他のカテゴリーを見る</a>
                        <ul>
                            <li ><a href="http://www.tabirai.net/sightseeing/okinawa/">沖縄観光情報</a></li>
                            <li ><a href="http://www.tabirai.net/tour/okinawa/">沖縄ツアー予約</a></li>
                            <li style="display:none;"><a href="http://option.okitour.net/special/sightseeingbus/">バスツアー予約（全国トップへ移動します）</a></li>
                            <li ><a href="http://www.tabirai.net/hotel/okinawa/">沖縄宿泊予約</a></li>
                            <li style="display:none;"><a href="http://onpara.jp/">沖縄宿泊予約（温泉パラダイス九州へ移動します）</a></li>
                            <li ><a href="http://car.okitour.net/">沖縄レンタカー予約</a></li>
                            <li ><a href="http://option.okitour.net/">沖縄アクティビティ予約</a></li>
                            <li ><a href="http://www.tabinchu.net/">たびカタログ</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navCassette" >
            <ul class="nav__wrap">
                <li class="nav__btn">
                    <a class="nav__btn--sightseeing layer__a active" href="http://www.tabirai.net/sightseeing/okinawa/">観光情報</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--tour layer__a " href="http://www.tabirai.net/tour/okinawa/">ツアー予約</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--hotel layer__a " href="http://www.tabirai.net/hotel/okinawa/">宿泊予約</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--car layer__a " href="http://car.okitour.net/">レンタカー予約</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--activity layer__a " href="http://option.okitour.net/">アクティビティ予約</a>
                </li>
                <li class="nav__btn">
                    <a class="nav__btn--bus layer__a busOki_link" href="http://option.okitour.net/special/sightseeingbus/">バスツアー予約</a>
                </li>
            </ul>
    </div>
		<div class="sitebarCassette downLayer">
        <div class="sitebar__wrap">
            <div class="sitebarCassette__left">
                <p class="site__name icon__hotel">沖縄観光情報</p>
            </div>
            <div class="sitebarCassette__right">
                <ul>
                    <li><a href="http://www.tabirai.net/hotel/okinawa/kinken/">お得な沖縄金券とは</a></li>
<li><a href="http://www.tabirai.net/hotel/tabishiori/info/">あなただけの旅しおりとは</a></li>
<li><a href="http://www.tabirai.net/hotel/okinawa/sitemap/">サイトマップ</a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!--header//-->



<!--↓↓こちらにコーディングをお願いいたします↓↓-->
<main class="tb_article_articleframe">
<div class="tb_article_articleframe_bread">
	<ol itemscope="" itemtype="http://schema.org/WebPage">
		<li itemprop="breadcrumb" itemscope="" itemtype="http://schema.org/breadcrumb" class="first"><a itemprop="url" href="http://www.tabirai.net"><span itemprop="name">たびらい</span></a></li>
		<li itemprop="breadcrumb" itemscope="" itemtype="http://schema.org/breadcrumb"><a itemprop="url" href="/sightseeing/okinawa/"><span itemprop="name">観光情報</span></a></li>
		<li itemprop="breadcrumb" itemscope="" itemtype="http://schema.org/breadcrumb" class="last"><span itemprop="name">沖縄観光情報</span></li>
	</ol>
</div>

<div class="tb_article_articleframe-article_main_image">
	<figure class="tb_article_articleframe-image-gradation--black tb_article_articleframe-image--wide"><img src="common/images/sightseeing_article_02/photo01.jpg" alt=""></figure>
	<div class="tb_article_articleframe-article_main_image--headline">
		<h1 class="tb_article_articleframe-header--h4">古宇利島の意外な楽しみ方<br>乗馬から穴場ビーチまで</h1>
	</div>
</div>
<p class="tb_article_articleframe-description">沖縄本島北部・今帰仁村にある古宇利島。<br>平成17年に全長約2キロの古宇利大橋が開通し、車で行ける離島として人気の離島です。</p>
<p class="tb_article_articleframe-date">投稿：2016年12月　/　更新 : 2017年1月</p>
<nav class="tb_article_articleframe-contentsnavi">
	<div class="tb_article_articleframe-contentsnavi--wrap">
		<div class="tb_article_articleframe-contentsnavi--table">
			<div class="tb_article_articleframe-contentsnavi--title">目次</div>
			<ul>
				<li><a href="#p1" class="tb_article_articleframe-textlink--blue"><svg class="tb_article_articleframe-contentsnavi--arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow_down_cotedazur"></use></svg>いろんな方法で古宇利島を渡ってみよう</a></li>
				<li><a href="#p2" class="tb_article_articleframe-textlink--blue"><svg class="tb_article_articleframe-contentsnavi--arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow_down_cotedazur"></use></svg>その他の渡り方が気になる人は</a></li>
				<li><a href="#p3" class="tb_article_articleframe-textlink--blue"><svg class="tb_article_articleframe-contentsnavi--arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow_down_cotedazur"></use></svg>古宇利島の穴場ビーチ</a></li>
				<li><a href="#p4" class="tb_article_articleframe-textlink--blue"><svg class="tb_article_articleframe-contentsnavi--arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow_down_cotedazur"></use></svg>島を散策すると…！</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="tb_article_articleframe-article_section">
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="common/images/sightseeing_article_02/photo02.jpg" data-lazyload_placeholder="../common/images/lazyload/128x64.gif" alt=""></figure>
	<h2 id="p1" class="tb_article_articleframe-article_section-headline"><span class="tb_article_articleframe-fontbox--blueline">いろんな方法で古宇利島を</span><br><span class="tb_article_articleframe-fontbox--blueline">渡ってみよう</span></h2>
</div>

<div class="tb_article_articleframe-article_body">
	<p>古宇利島は通常、車で橋を渡りますが、今回はツウな楽しみ方としていろいろな「渡り方」を提案します。</p>
  <figure class="tb_article_articleframe-article_body--flexbox">
		<div class="tb_article_articleframe-margin-l84"><img data-lazyload="common/images/sightseeing_article_02/photo03.jpg" width="490" height="490" alt=""></div>
    <figcaption class="tb_article_articleframe-article_body--flexbox--right-middle tb_article_articleframe-margin--r20"><span class="tb_article_articleframe-fontbox--white">ちなみに車で渡ると車内からはこのような景色が楽しめます。</span></figcaption>
  </figure>
  <figure class="tb_article_articleframe-article_body--flexbox-reverse">
		<div><img data-lazyload="common/images/sightseeing_article_02/photo04.jpg" width="644" height="430" alt=""></div>
    <figcaption class="tb_article_articleframe-article_body--flexbox--left-middle"><span class="tb_article_articleframe-fontbox--white">まずは「乗馬」で橋を渡ってみます。</span><br><span class="tb_article_articleframe-fontbox--white">古宇利島への乗馬体験は、</span><br><span class="tb_article_articleframe-fontbox--white">今帰仁村の「OKINA HOURS」で予約することができます。</span></figcaption>
  </figure>
  <figure class="tb_article_articleframe-article_body--flexbox">
		<div>
			<img data-lazyload="common/images/sightseeing_article_02/photo05.jpg" width="644" height="430" alt="">
		</div>
    <figcaption class="tb_article_articleframe-article_body--flexbox--right-middle"><span class="tb_article_articleframe-fontbox--white">吹き抜ける風と、</span><br><span class="tb_article_articleframe-fontbox--white">馬が一歩一歩前に進むたびに揺れる心地よい振動で</span><br><span class="tb_article_articleframe-fontbox--white">思わずうとうとしてしまいます。</span></figcaption>
  </figure>

	<div class="tb_article_articleframe-article_body--inner">
		<figure class="tb_article_articleframe-image--wide"><img data-lazyload="common/images/sightseeing_article_02/photo06.jpg" width="700" height="467" alt=""></figure>

		<div class="tb_article_articleframe-article_body--flexbox">
			<div>
				<p>ビーチでは馬と一緒に泳ぐことも可能！<br>カップルや友人、小さな子どもでも体験できます。</p>
			</div>
			<div>
				<div class="tb_article_articleframe-note">
					<h4 class="tb_article_articleframe-note--headline">乗馬体験　OKINA HOURS</h4>
					<div class="tb_article_articleframe-note--info">営業時間：8時～19時<br>住所：沖縄県国頭郡今帰仁村謝名1331<br>問い合わせ：0980-56-4170<br>利用料金：2800円</div>
				</div>
			</div>
		</div>
		<div class="tb_article_articleframe-author">ローカル案内役 ｜ ○○担当　上地真理子</div>

	</div>


</div>

<div class="tb_article_articleframe-article_section">
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="common/images/sightseeing_article_02/photo07.jpg" data-lazyload_placeholder="../common/images/lazyload/128x64.gif" alt=""></figure>
	<h2 id="p2" class="tb_article_articleframe-article_section-headline"><span class="tb_article_articleframe-fontbox--blueline">そのほかの渡り方が気になる人は…</span></h2>
</div>

<div class="tb_article_articleframe-article_body--inner">
	<p>そのほか、カヤックやカヌーで渡る方法も。<br>海がとても澄んでいるため、たくさんの魚たちを見ることができます。</p>
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="common/images/sightseeing_article_02/photo08.jpg" width="700" height="467" alt=""></figure>
	<p>仲良くレンタサイクルで渡るのもアリ！</p>
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="common/images/sightseeing_article_02/photo09.jpg" width="700" height="467" alt=""></figure>
	<p>旬なのは「ちゅらまーいHa：mo」。一般社団法人本部町（もとぶちょう）観光協会・今帰仁村（なきじんそん）観光協会・トヨタ自動車・JTBグループが連携して行う超小型電気自動車「COMS」の観光客向けのサービスです。</p>
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="common/images/sightseeing_article_02/photo10.jpg" width="700" height="467" alt=""></figure>
	<p>小型電気自動車なので環境にも優しく、静かで小回りが利くので便利です。</p>
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="common/images/sightseeing_article_02/photo11.jpg" width="700" height="467" alt=""></figure>

	<div class="tb_article_articleframe-article_body--flexbox">
		<div>
			<p>もちろん、歩いても渡れます。<br>2度目の古宇利島は<br>「渡り方」にもこだわってみませんか？</p>
		</div>
		<div>
			<div class="tb_article_articleframe-note">
				<h4 class="tb_article_articleframe-note--headline">ちゅらまーい Ha : mo</h4>
				<div class="tb_article_articleframe-note--info">営業時間：8時～19時<br>住所：沖縄県国頭郡今帰仁村謝名1331<br>問い合わせ：0980-56-4170<br>利用料金：2800円</div>
			</div>
		</div>
	</div>
	<div class="tb_article_articleframe-author">ローカル案内役 ｜ ○○担当　上地真理子</div>

</div>

<div class="tb_article_articleframe-article_section">
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="common/images/sightseeing_article_02/photo12.jpg" data-lazyload_placeholder="../common/images/lazyload/128x64.gif" alt=""></figure>
	<h2 id="p3" class="tb_article_articleframe-article_section-headline"><span class="tb_article_articleframe-fontbox--blueline">古宇利島の穴場ビーチ</span></h2>
</div>

<div class="tb_article_articleframe-article_body--inner">
	<p>古宇利島は通常、車で橋を渡りますが、今回はツウな楽しみ方としていろいろな「渡り方」を提案します。</p>
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="common/images/sightseeing_article_02/photo13.jpg" width="700" height="467" alt=""></figure>
	<p>ちなみに車で渡ると車内からはこのような景色が楽しめます。</p>
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="common/images/sightseeing_article_02/photo14.jpg" width="700" height="467" alt=""></figure>
	<p>まずは「乗馬」で橋を渡ってみます。<br>古宇利島への乗馬体験は、今帰仁村の「OKINA HOURS」で予約することができます。</p>
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="common/images/sightseeing_article_02/photo15.jpg" width="700" height="467" alt=""></figure>
	<p>吹き抜ける風と、馬が一歩一歩前に進むたびに揺れる心地よい振動で思わずうとうとしてしまいます。</p>
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="common/images/sightseeing_article_02/photo16.jpg" width="700" height="467" alt=""></figure>

	<div class="tb_article_articleframe-article_body--flexbox">
		<div>
			<p>ビーチでは馬と一緒に泳ぐことも可能！<br>カップルや友人、小さな子どもでも体験できます。</p>
		</div>
		<div>
			<div class="tb_article_articleframe-note">
				<h4 class="tb_article_articleframe-note--headline">乗馬体験　OKINA HOURS</h4>
				<div class="tb_article_articleframe-note--info">営業時間：8時～19時<br>住所：沖縄県国頭郡今帰仁村謝名1331<br>問い合わせ：0980-56-4170<br>利用料金：2800円</div>
			</div>
		</div>
	</div>
	<div class="tb_article_articleframe-author">ローカル案内役 ｜ ○○担当　上地真理子</div>

</div>

<div class="tb_article_articleframe-article_section">
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="common/images/sightseeing_article_02/photo17.jpg" data-lazyload_placeholder="../common/images/lazyload/128x64.gif" alt=""></figure>
	<h2 id="p4" class="tb_article_articleframe-article_section-headline"><span class="tb_article_articleframe-fontbox--blueline">島を散策すると…</span></h2>
</div>

<div class="tb_article_articleframe-article_body--inner">
	<p>そのほか、カヤックやカヌーで渡る方法も。<br>海がとても澄んでいるため、たくさんの魚たちを見ることができます。</p>
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="common/images/sightseeing_article_02/photo18.jpg" width="700" height="467" alt=""></figure>
	<p>仲良くレンタサイクルで渡るのもアリ！</p>
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="common/images/sightseeing_article_02/photo19.jpg" width="700" height="467" alt=""></figure>
	<p>旬なのは「ちゅらまーいHa：mo」。一般社団法人本部町（もとぶちょう）観光協会・今帰仁村（なきじんそん）観光協会・トヨタ自動車・JTBグループが連携して行う超小型電気自動車「COMS」の観光客向けのサービスです。</p>
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="common/images/sightseeing_article_02/photo20.jpg" width="700" height="467" alt=""></figure>

	<div class="tb_article_articleframe-article_body--flexbox">
		<div>
			<p>小型電気自動車なので環境にも優しく、静かで小回りが利くので便利です。</p>
		</div>
		<div>
			<div class="tb_article_articleframe-note">
				<h4 class="tb_article_articleframe-note--headline">ちゅらまーい Ha : mo</h4>
				<div class="tb_article_articleframe-note--info">営業時間：8時～19時<br>住所：沖縄県国頭郡今帰仁村謝名1331<br>問い合わせ：0980-56-4170<br>利用料金：2800円</div>
			</div>
		</div>
	</div>
	<figure class="tb_article_articleframe-image--wide"><img data-lazyload="common/images/sightseeing_article_02/photo21.jpg" width="700" height="467" alt=""></figure>
	<p>もちろん、歩いても渡れます。<br>2度目の古宇利島は「渡り方」にもこだわってみませんか？</p>

	<div class="tb_article_articleframe-author">ローカル案内役 ｜ ○○担当　上地真理子</div>

</div>


<section class="tb_article_articleframe-article_outline">
	<div class="tb_article_articleframe-article_body">
		<h2 class="tb_article_articleframe-article_outline--headline">もっと詳しく知る</h2>
		<section class="tb_article_articleframe-article_outline--section">
			<h3 class="tb_article_articleframe-article_outline--headline-2">基本情報</h3>

			<div class="tb_article_articleframe-article_outline--article tb_article_articleframe-article_outline--flexbox-col2">
				<div class="tb_article_articleframe-article_outline--flexbox-box1">
				  <figure class="tb_article_articleframe-article_outline--image">
				    <img data-lazyload="common/images/sightseeing_article_02/photo22.jpg" width="476" height="318" alt="">
				    <figcaption class="tb_article_articleframe-article_outline--caption">島のメイン観光スポットである、海水浴を楽しめる古宇利ビーチ</figcaption>
				  </figure>
				</div>
				<div class="tb_article_articleframe-article_outline--flexbox-box1">
					<div class="tb_article_articleframe-article_outline--contents">
					  <h4 class="tb_article_articleframe-article_outline--headline-3">古宇利島って、こんなところ！</h4>
					  <p>古宇利島の見どころは、なんといってもさまざまなブルーに変化する海だ。開通以来、沖縄を代表する観光スポットとなった<span class="tb_article_articleframe-fontcolor--blue">古宇利大橋</span>は、両サイドにコバルトブルーの海が広がり、まるで大海原に浮かんでいるような気分が味わえる。そんな古宇利大橋を渡って島に入ると、すぐ目の前に現れるのが島のメインビーチである<span class="tb_article_articleframe-fontcolor--blue">古宇利ビーチ</span>。「島の入り口から一番近いビーチであり、透明度は抜群！周辺には無料駐車場やシャワーもあるので、海水浴におすすめです」と達人。またカップルに人気なのが、2つの岩が重なるとハートの形に見える岩の「ハートロック」と、ハートロックが見られるビーチである<span class="tb_article_articleframe-fontcolor--blue">ティーヌ浜</span>。その岩の形から縁結びのスポットとして訪れる観光客も多いそうだ。</p>
						<p>「新鮮で濃厚な甘みのある、古宇利島産のウニもぜひ味わってほしいなぁ」と話す達人だが、残念ながら資源回復のため、現在は禁漁中。解禁となったら、ぜひご賞味を。</p>
					</div>
				</div>
			</div>

			<div class="tb_article_articleframe-article_outline--article tb_article_articleframe-article_outline--flexbox-col2">
				<div class="tb_article_articleframe-article_outline--flexbox-box1">
					<figure class="tb_article_articleframe-article_outline--image">
				    <img data-lazyload="common/images/sightseeing_article_02/photo23.jpg" width="476" height="318" alt="">
				    <figcaption class="tb_article_articleframe-article_outline--caption">カフェ フクルビからの眺め</figcaption>
				  </figure>
				</div>
				<div class="tb_article_articleframe-article_outline--flexbox-box1">
					<div class="tb_article_articleframe-article_outline--contents">
						<h4 class="tb_article_articleframe-article_outline--headline-3">カフェで海を見ながらひと休み</h4>
						<p>古宇利島には、ロケーション自慢のカフェが多いので、ドライブの途中に立ち寄るのがおすすめ。達人である高田さんもカフェ「<span class="tb_article_articleframe-fontcolor--blue">海の家YOSHIKA</span>」の店長だ。他にも<span class="tb_article_articleframe-fontcolor--blue">カフェ フクルビ</span>や<span class="tb_article_articleframe-fontcolor--blue">t&Cとうらく</span>、新しくオプンした<span class="tb_article_articleframe-fontcolor--blue">ワンスイートレストランL lota</span>など、店からの景色と美味しい料理どちらもたっぷり味わえるカフェがそろう。</p>
						<p>「古宇利島のカフェの窓からは、海のいろいろな表情が見られます。日中はエメラルドグリーン、夕方はサンセットのオレンジ。そして沖縄独特のカタブイ（にわか雨）の時には虹が見られることも」と達人。</p>
						<p>ゆったりとした島時間の中で、海を眺めながら過ごすひとときは何ともぜいたく。沖縄に来た醍醐味を存分に味わえる。</p>
						<p class="tb_article_articleframe-align--right"><a href="#" class="tb_article_articleframe-textlink--blue">古宇利島のカフェについて詳しい情報はこちら<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a></p>
					</div>
				</div>
			</div>
		</section>

		<section class="tb_article_articleframe-article_outline--section">
			<h3 class="tb_article_articleframe-article_outline--headline-2">古宇利島の新スポット3選</h3>

			<div class="tb_article_articleframe-article_outline--article tb_article_articleframe-article_outline--flexbox-col3">
				<div class="tb_article_articleframe-article_outline--flexbox-box1">
				  <figure class="tb_article_articleframe-article_outline--image">
				    <a href="#"><img data-lazyload="common/images/sightseeing_article_02/photo24.jpg" width="308" height="206" alt=""></a>
				    <figcaption class="tb_article_articleframe-article_outline--caption"><a href="#" class="tb_article_articleframe-textlink--blue">古宇利オーシャンタワー<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a></figcaption>
				  </figure>
				</div>
				<div class="tb_article_articleframe-article_outline--flexbox-box1">
					<figure class="tb_article_articleframe-article_outline--image">
				    <a href="#"><img data-lazyload="common/images/sightseeing_article_02/photo25.jpg" data-lazyload_placeholder="../common/images/lazyload/308x206.gif" alt=""></a>
				    <figcaption class="tb_article_articleframe-article_outline--caption"><a href="#" class="tb_article_articleframe-textlink--blue">琉球ドルチェタワー<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a></figcaption>
				  </figure>
				</div>
				<div class="tb_article_articleframe-article_outline--flexbox-box1">
					<figure class="tb_article_articleframe-article_outline--image">
				    <a href="#"><img data-lazyload="common/images/sightseeing_article_02/photo26.jpg" data-lazyload_placeholder="../common/images/lazyload/308x206.gif" alt=""></a>
				    <figcaption class="tb_article_articleframe-article_outline--caption"><a href="#" class="tb_article_articleframe-textlink--blue">美らテラス<svg class="tb_article_articleframe-button-orange-arrow" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/common/images/svgsprite/sprite.svg#arrow"></use></svg></a></figcaption>
				  </figure>
				</div>
			</div>
			<div class="tb_article_articleframe-article_outline--contents">
				<h4 class="tb_article_articleframe-article_outline--headline-3">古宇利島に行ったらぜひ立ち寄りたい、新しいスポットの紹介</h4>
				<p>  古宇利島の新しいスポットではずせないのは古宇利島オーシャンタワー。大きなガラス窓から古宇利大橋を一望できる。琉球ドルチェテラスは、沖縄のマダムや女子に大人気のスイーツ専門店。併設のカフェではスイーツ以外に食事もとれる。美らテラスは古宇利大橋を渡る手前にあり、飲食店の他にもお土産屋、雑貨屋、レンタサイクルやカヌーなどの遊びの申し込みも可能な観光施設。ここで自転車を借りて、古宇利大橋をサイクリングで渡る爽快感は格別だ。</p>
			</div>
		</section>

		<section class="tb_article_articleframe-article_outline--section">
			<h3 class="tb_article_articleframe-article_outline--headline-2">アクセス・施設情報</h3>

			<div class="tb_article_articleframe-article_outline--article tb_article_articleframe-article_outline--flexbox-col2">
				<div class="tb_article_articleframe-article_outline--flexbox-box1">
				  <figure class="tb_article_articleframe-article_outline--image">
						<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7242.1694518283475!2d125.17104699999999!3d24.826776!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34f5ab7f81d2aba7%3A0xcd0240f283f83662!2z5pel5pysLCDjgJI5MDYtMDAwMCDmspbnuITnnIzlrq7lj6Tls7bluILkvIroia_pg6jlm73ku7LvvJnvvJc!5e0!3m2!1sja!2sjp!4v1492059959897" width="476" height="476" frameborder="0" style="border:0" allowfullscreen></iframe>
				  </figure>
				</div>
				<div class="tb_article_articleframe-article_outline--flexbox-box1">
					<div class="tb_article_articleframe-article_outline--contents">
					  <h4 class="tb_article_articleframe-article_outline--headline-3">車（レンタカー）で</h4>
					  <p>那覇空港から一般道を利用する場合：<br>約2時間。<span class="tb_article_articleframe-fontcolor--blue">那覇空港</span>から国道332号か那覇うみそらトンネルを経由して国道58号へ出て、北上する。</p>
						<p>沖縄自動車道を利用する場合：<br>約1時間40分。<span class="tb_article_articleframe-fontcolor--blue">那覇空港</span>から<span class="tb_article_articleframe-fontcolor--blue">沖縄自動車道</span>を利用。許田ICで下車し国道58号線を北上。県道110号線を左折し屋我地（やがじ）島方面へ。古宇利島大橋を渡る。</p>
						<p>今帰仁村方面からは県道505号線からワルミ大橋を渡って屋我地島へ。さらに古宇利島大橋を渡る。</p>
						<p>さらに詳しく知る⇒ <a href="#">那覇空港から古宇利島の距離と所要時間の目安</a></p>
						<h4 class="tb_article_articleframe-article_outline--headline-3">バスで</h4>
						<p>  路線バスは直行便がなく、乗り継いでいく必要があり時間がかかるので観光バスがおすすめ。周辺の観光スポットにも立ち寄れて便利でお得なバスツアーが多い。<br>⇒<a href="#">観光バスについての詳細はこちら。</a></p>
					</div>
				</div>
			</div>
		</section>

		<section class="tb_article_articleframe-article_outline--section">
			<h3 class="tb_article_articleframe-article_outline--headline-2">古宇利島のＱ＆Ａ</h3>
			<%
			var qa = [
				{
					q:`<p>人類創世神話があるなど神秘的な島だが、立ち入り禁止の場所もある？</p>`,
					a:`<p>基本的に、ウガンジー（拝所）には足を踏み入れないように。七森七嶽と呼ばれる御嶽が島内にはあり、神事がとても盛んな島である。</p>`
				},
				{
					q:`<p>古宇利島近海では、ジュゴンが見られる？</p>`,
					a:`<p>古宇利島の周辺で見かけたという報告や、エサの藻の喰み跡などが見つかっているので生息しているらしいが、必ず見られるものではない。</p>`
				},
				{
					q:`<p>ウニは島に行けばいつでも食べられる？</p>`,
					a:`<p>毎年7月1日を解禁日としているが、残念ながら現在は禁漁中。</p>`
				},
				{
					q:`<p>買い物はできる？</p>`,
					a:`<p>島には個人商店のストアがあるが、古宇利ビーチを利用するなら夏場はパーラーなどが出店するので、飲食に困ることはない。島の北側のビーチで遊ぶ予定があれば、島に渡る前に、大型スーパーで買い物をしておくとよい。</p>
					<p>古宇利島をはじめ今帰仁村の観光情報は、今帰仁村観光協会。<br>→<a href="#" class="tb_article_articleframe-textlink--blue">公式ホームページはこちら</a></p>`
				},
				{
					q:`<p>宿泊はできる？</p>`,
					a:`<p>大きなリゾートホテルはないが、プチホテルや民宿などが8つほどある。最近では一日の宿泊者数を限定したスモールラグジュアリーホテルが人気。</p>
					<p>⇒<a href="#" class="tb_article_articleframe-textlink--blue">古宇利島へ行くのに便利なパッケージツアー情報はこちら</a></p>`
				}
			]
			%>
			<% for(var i = 0; i < qa.length; i++){ %>
			<dl class="tb_article_articleframe-article_outline--qa tb_article_articleframe-article_outline--article tb_article_articleframe-article_outline--flexbox-col2">
				<dt class="tb_article_articleframe-article_outline--flexbox-box1 tb_article_articleframe-article_outline--qa-q">
					<%- qa[i].q %>
				</dt>
				<dd class="tb_article_articleframe-article_outline--flexbox-box1 tb_article_articleframe-article_outline--qa-a">
					<%- qa[i].a %>
				</dd>
			</dl>
			<% } %>
		</section>


	</div>

</section>



</main>
<!--↑↑こちらにコーディングをお願いいたします↑↑-->
<!--/container-->

<div class="okinawaImage" id="footer">
	<div class="pageTop"><a href="#top"><img alt="ページ先頭へ" src="http://www.tabirai.net/inc/images/footer/page_top.png"></a></div>
    <div id="footerMainLink" itemscope itemtype="http://schema.org/WPFooter">
        <div class="footer_cont">
            <div class="boxCont">
                <p class="hukidaciTTL01" itemprop="headline">どこへ旅しますか？</p>
                <ul class="mb10 area">
                    <li itemprop="alternativeHeadline"><b>北海道</b></li>
                    <li><a href="http://www.tabirai.net/sightseeing/hokkaido/" itemprop="alternativeHeadline">北海道旅行TOP</a></li>
                </ul>
                <ul class="mb10 area">
                    <li itemprop="alternativeHeadline"><b>関&nbsp;&nbsp;&nbsp;西</b></li>
                    <li><a href="http://www.tabirai.net/sightseeing/osaka/" itemprop="alternativeHeadline">大阪旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/kyoto/" itemprop="alternativeHeadline">京都旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/hyogo/" itemprop="alternativeHeadline">兵庫旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/nara/" itemprop="alternativeHeadline">奈良旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/shiga/" itemprop="alternativeHeadline">滋賀旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/wakayama/" itemprop="alternativeHeadline">和歌山旅行TOP</a></li>
                </ul>
                <ul class="mb10 area">
                    <li itemprop="alternativeHeadline"><b>九&nbsp;&nbsp;&nbsp;州</b></li>
                    <li><a href="http://www.tabirai.net/sightseeing/fukuoka/" itemprop="alternativeHeadline">福岡旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/saga/" itemprop="alternativeHeadline">佐賀旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/nagasaki/" itemprop="alternativeHeadline">長崎旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/kumamoto/" itemprop="alternativeHeadline">熊本旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/oita/" itemprop="alternativeHeadline">大分旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/miyazaki/" itemprop="alternativeHeadline">宮崎旅行TOP</a></li>
                    <li><a href="http://www.tabirai.net/sightseeing/kagoshima/" itemprop="alternativeHeadline">鹿児島旅行TOP</a></li>
                </ul>
                <ul class="area">
                    <li itemprop="alternativeHeadline"><b>沖&nbsp;&nbsp;&nbsp;縄</b></li>
                    <li><a href="http://www.tabirai.net/sightseeing/okinawa/" itemprop="alternativeHeadline">沖縄旅行TOP</a></li>
                </ul>
            </div><!--//boxCont-->
            <div class="boxCont">
                <p class="hukidaciTTL02" itemprop="headline">各都道府県の魅力をご覧ください</p>
                <ul class="sightseeing">
                    <li><a href="http://www.tabirai.net/sightseeing/hokkaido/tatsujin/" itemprop="alternativeHeadline">北海道観光情報</a></li>
                    <li class="ml25 kyusyu" itemprop="alternativeHeadline">九州観光情報│<a href="http://www.tabirai.net/sightseeing/fukuoka/tatsujin/" itemprop="alternativeHeadline">福岡</a><a href="http://www.tabirai.net/sightseeing/saga/tatsujin/" itemprop="alternativeHeadline">佐賀</a><a href="http://www.tabirai.net/sightseeing/nagasaki/tatsujin/" itemprop="alternativeHeadline">長崎</a><a href="http://www.tabirai.net/sightseeing/kumamoto/tatsujin/" itemprop="alternativeHeadline">熊本</a><a href="http://www.tabirai.net/sightseeing/oita/tatsujin/" itemprop="alternativeHeadline">大分</a><a href="http://www.tabirai.net/sightseeing/miyazaki/tatsujin/" itemprop="alternativeHeadline">宮崎</a><a href="http://www.tabirai.net/sightseeing/kagoshima/tatsujin/" itemprop="alternativeHeadline">鹿児島</a>│</li>
                    <li class="ml25"><a href="http://www.tabirai.net/sightseeing/okinawa/tatsujin/" itemprop="alternativeHeadline">沖縄観光情報</a></li>
                    <li class="ml25"><a href="http://www.tabirai.net/sightseeing/" itemprop="alternativeHeadline">全国観光情報</a></li>
                </ul>
            </div><!--//boxCont-->
            <div class="boxCont">
                <p class="hukidaciTTL03" itemprop="headline">旅を予約する</p>
                <ul class="reserve">
                    <li><a href="http://www.tabirai.net/tour/" itemprop="alternativeHeadline">ツアー（交通＋宿泊）予約</a></li>
                    <li class="ml25"><a href="http://www.tabirai.net/car/" itemprop="alternativeHeadline">レンタカー予約</a></li>
                    <li class="ml25"><a href="http://www.tabirai.net/bus/" itemprop="alternativeHeadline">バスツアー予約（北海道発・関東発・関西発・九州発）</a></li>
                </ul>
            </div><!--//boxCont-->
            <div class="boxCont">
				<p class="hukidaciTTL04" itemprop="headline">language</p>
                <ul class="reserve">
                    <li>Tabirai Japan (繁体中文)</li>
                    <li><a href="http://tc.tabirai.net/sightseeing/" itemprop="alternativeHeadline" target="_blank">觀光資訊</a></li>

                    <li><a href="http://tc.tabirai.net/car/" itemprop="alternativeHeadline" target="_blank">租車服務</a></li>
                    <li class="ml25">(English)</li>
                    <li><a href="http://en.tabirai.net/car/" itemprop="alternativeHeadline" target="_blank">Car Rental</a></li>
					<li class="ml25">(한국어)</li>
                    <li><a href="http://kr.tabirai.net/car/" itemprop="alternativeHeadline" target="_blank">렌트카 예약</a></li>
                </ul>
			</div><!--//boxCont-->
        </div><!--/footer_cont-->
	</div><!--//footerMainLink-->
    <div id="footerOtherLink">
        <div class="footer_cont">
            <ul>
                <li><a href="http://www.pam-info.co.jp/company/">会社概要</a></li>
                <li><a href="http://www.tabirai.net/termsofuse.aspx">ご利用規約と推奨環境</a></li>
                <li><a href="https://www.tabirai.net/member/policy.aspx">個人情報保護方針</a></li>
                <li><a href="http://www.pam-info.co.jp/recruit/">採用情報</a></li>
            </ul>
            <address>Copyright &copy; Pam, Inc. All Rights Reserved.</address>
        </div>
        <!--/footer_cont-->
    </div><!--//footerOtherLink-->
</div>
<!--/footer-->



</form>
</body>
</html>
